  <div class="table-container">
    <table class="w-full mt-10 rounded-md shadow-md">
      <thead class="text-center rounded-lg">
        <th>
          <span class="inline-block px-16 py-1 mb-2 mt-2 border-2 bg-gray-400 rounded-sm"></span>
        </th>
        <th>
          <span class="inline-block px-16 py-1 mb-2 mt-2 border-2 bg-gray-400 rounded-sm"></span>
        </th>
        <th>
          <span class="inline-block px-16 py-1 mb-2 mt-2 border-2 bg-gray-400 rounded-sm"></span>
        </th>
        <th>
          <span class="inline-block px-16 py-1 mb-2 mt-2 border-2 bg-gray-400 rounded-sm"></span>
        </th>
        <th>
          <span class="inline-block px-16 py-1 mb-2 mt-2 border-2 bg-gray-400 rounded-sm"></span>
        </th>
        <th>
          <span class="inline-block px-16 py-1 mb-2 mt-2 border-2 bg-gray-400 rounded-sm"></span>
        </th>
        <th>
          <span class="inline-block px-16 py-1 mb-2 mt-2 border-2 bg-gray-400 rounded-sm"></span>
        </th>
      </thead>
      <ng-container *ngFor="let i of Arr(num).fill(1)">
        <tr class="text-center bg-white border-b-2 border-gray-200 rounded-lg animate-pulse h-16">
          <td>
            <span class="inline-block px-16 py-1 mb-2 mt-2 border-2 border-gray-400 bg-gray-300 rounded-sm"></span>
          </td>
          <td>
            <span class="inline-block px-16 py-2 mb-2 mt-2 bg-gray-300 rounded-sm"></span>
            <br>
            <span class="inline-block px-10 py-1 mb-1 mt-1 bg-gray-300 rounded-sm"></span>
          </td>
          <td>
            <span class="inline-block px-16 py-2 mb-2 mt-2 bg-gray-300 rounded-sm"></span>
          </td>
          <td>
            <span class="inline-block px-16 py-2 mb-2 mt-2 bg-gray-300 rounded-sm"></span>
          </td>
          <td>
            <span class="inline-block px-16 py-2 mb-1 mt-1 bg-gray-300 rounded-sm"></span>
            <br>
            <span class="inline-block px-10 py-1 mb-1 mt-1 bg-gray-300 rounded-sm"></span>
          </td>
          <td>
            <span class="inline-block px-12 py-4 mb-2 mt-2 bg-gray-300 rounded-2xl"></span>
          </td>
          <td>
            <span class="inline-block px-12 py-4 mb-2 mt-2 bg-gray-300 rounded-2xl"></span>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
