<div class="flex flex-col justify-center lg:flex-row lg:justify-between">
  <div class="flex flex-col lg:flex-row justify-evenly">
    <div class="flex flex-col mt-4 mr-3">
      <span class="px-12 py-1 mb-4 text-lg bg-gray-400 rounded-md font-base animate-pulse"></span>
      <span class="bg-gray-400 rounded-full w-14 h-14 animate-pulse"></span>
    </div>
    <div class="flex flex-row">
      <div class="h-20 py-1 pl-2 pr-12 mr-5 text-center bg-white shadow-lg lg:h-16 mt-9 w-38">
        <span class="py-0 mb-2 text-xs bg-gray-400 rounded-md px-7 animate-pulse"></span>
        <br>
        <span class="py-0 text-base bg-gray-400 rounded-md px-9 animate-pulse"></span>
      </div>
      <div class="h-20 py-1 pl-2 pr-12 text-center bg-white shadow-lg lg:h-16 mt-9 w-38 animate-pulse">
        <span class="py-0 mb-2 text-xs bg-gray-400 rounded-md px-7 animate-pulse"></span>
        <br>
        <span class="py-0 text-base bg-gray-400 rounded-md px-9"></span>
      </div>
    </div>
  </div>
</div>

