:host {
  display: block;
  perspective: 2000px;
  overflow: hidden;
}

.panes {
  height: 890px;
  width: 200%;

  display: flex;
  div {
    flex: 1;
  }
}

.pane1 {
  transform: none;
}

.pane2 {
  transform: rotateY(180deg);
}
