<!--Card for Viewing Deal-->
<div class="main-con flex flex-col-reverse w-full gap-2 md:h-136 md:flex-row">
  <div class="w-full p-6 overflow-y-auto shadow-sm md:p-4 xl:p-6 add-voucher card card-custom">
    <div class="p-0 modal-body flex self-center flex-col max-w-135">
      <!--Title/ Header-->
        <div class="mb-6 lg:text-center">
          <h1 class="mt-2 mb-2 text-lg text-center md:text-xl xl:mt-4 xl:text-2xl 3xl:text-3xl">Let's create your vouchers.</h1>
          <div class="text-xs font-thin text-center text-primary-400 md:text-sm xl:text-base 3xl:text-lg">Now is the time to set up the variations of the deal you're offering.</div>
        </div>
      <div>
        <div class="flex flex-col 3xl:justify-evenly">
          <ng-container *ngIf="subDeals.length > 0">
            <div class="">
              <div class="voucher-container" *ngFor="let singleDeal of subDeals;let i = index">
                <div class="text-base font-medium mb-3 text-justify lg:text-base lg:justify-start">{{singleDeal?.subTitle}}</div>
                <div class="mb-2">
                  <i class="text-base mr-3 text-gray-600 fas fa-dollar-sign lg:text-base">{{singleDeal?.originalPrice}}</i>
                  <i class="text-base mr-3 text-green-400 fas fa-dollar-sign lg:text-base">{{singleDeal?.dealPrice}}</i>
                  <i style="font-style: normal;" class="text-sm text-primary-400 lg:text-base fw-bolder">{{singleDeal?.discountPercentage}}% off</i>
                </div>
                <div class="flex justify-between">
                  <div class="flex justify-between">
                    <p class=" text-sm text-gray-900">
                      Number of available vouchers
                    </p>
                    <span class="bg-primary-100 rounded-md ml-4 h-6 text-primary-400 text-xs px-2.5 py-1">
                      {{singleDeal?.numberOfVouchers}}
                    </span>
                  </div>
                  <div class="flex">
                    <i class="mr-2 fas fa-pencil-alt fa-xs rounded-circle action-btn"
                      (click)="edit(i)"></i>
                    <i class="fas fa-trash fa-xs rounded-circle action-btn"
                      (click)="deleteDeal(i)"></i>
                  </div>
                </div>
              </div>
              <div class="h-16 flex justify-center align-middle add-more-voucher">
                <a *ngIf="!addVoucher" class="text-primery-400" (click)="addMoreVoucher()">+ Add more voucher</a>
              </div>
            </div>
          </ng-container>
        </div>
        <form *ngIf="addVoucher || subDeals.length == 0" class="mt-4 form" [formGroup]="vouchers">
          <div class="h-90px fv-row 2xl:h-26">
            <label class="mb-1 text-sm 2xl:text-base 2xl:mb-2 form-label">Voucher type</label>
              <input maxlength="16" appTrim type="text" class="form-control" formControlName="subTitle" name="subTitle"
              [ngClass]="{
              'is-invalid': vouchers.controls['subTitle']?.invalid && vouchers.controls['subTitle']?.touched,
              'is-valid': vouchers.controls['subTitle']?.valid}">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Deal Subtitle is required',
              control: vouchers.controls['subTitle']
            }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'Subtitle should at least be 3 characters',
              control: vouchers.controls['subTitle']
            }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'pattern',
            message: 'Only alphabets are allowed',
            control: vouchers.controls['subTitle']
          }">
          </ng-container>
          </div>

          <div class="h-90px fv-row 2xl:h-26">
            <label class="mb-1 text-sm 2xl:text-base 2xl:mb-2 form-label">Original Price</label>
              <span class="absolute flex items-center mt-2 ml-1"><i style="font-size:10px;" class="p-2 ml-2 text-white rounded fas fa-euro-sign fa-lg bg-gray-500"></i></span>
              <input maxlength="5" appNumbersOnly type="text" class="pl-12 form-control" formControlName="originalPrice"
              [ngClass]="{
              'is-invalid':  vouchers.controls['originalPrice']?.invalid &&  vouchers.controls['originalPrice']?.touched,
              'is-valid':  vouchers.controls['originalPrice']?.valid}">
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Original Price is required',
                control: vouchers.controls['originalPrice']
              }">
              </ng-container>
            </div>

            <div class="h-90px fv-row 2xl:h-26">
            <label class="mb-1 text-sm 2xl:text-base 2xl:mb-2 form-label">Deal Price</label>
              <span class="absolute flex items-center mt-2 ml-1"><i style="font-size:10px;" class="p-2 ml-2 text-white rounded fas fa-euro-sign fa-lg bg-success"></i></span>
              <input maxlength="5" appNumbersOnly type="text" class="pl-12 form-control" formControlName="dealPrice" name="dealPrice"
              [ngClass]="{
              'is-invalid': vouchers.controls['dealPrice']?.invalid && vouchers.controls['dealPrice']?.touched,
              'is-valid': vouchers.controls['dealPrice']?.valid}">
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Deal Price is required',
                control: vouchers.controls['dealPrice']
              }">
              </ng-container>
            <div class="text-xs text-danger"
            *ngIf="vouchers.controls['dealPrice']?.errors?.['confirmedValidator']">
              The deal price cannot match/exceed the original price
              </div>
            </div>

            <div class="h-90px fv-row 2xl:h-26">
            <label class="mb-1 text-sm 2xl:text-base 2xl:mb-2 form-label">Number of Available Vouchers</label>
              <div class="flex items-center justify-between h-8 border-2 border-white rounded-sm w-28">
                <button class="w-6 h-6 text-gray-500 bg-gray-200 rounded-md" (click)="handleMinus()">-</button>
                <input maxlength="4" appNumbersOnly type="text" style="min-height:25px !important"  class="w-12 py-0.5 text-xs text-center rounded-md form-control" placeholder="0" formControlName="numberOfVouchers" name="numberOfVouchers">
                <button class="w-6 h-6 text-gray-500 bg-gray-200 rounded-md" (click)="handlePlus()">+</button>
              </div>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Please specify number of vouchers',
                control: vouchers.controls['numberOfVouchers']
              }">
            </ng-container>
          </div>
          <div class="flex justify-between">
            <button *ngIf="subDeals.length == 0 " type="button" class="w-24 text-xs p-0 h-10 btn btn-dark bg-gray-300 text-gray-600" (click)="prevClick.emit('')">Back</button>
            <button *ngIf="subDeals.length > 0 " type="button" class="w-24 text-xs p-0 h-10 btn btn-dark bg-gray-300 text-gray-600" (click)="cancleVoucher()">Cancle</button>
            <button type="button" class="w-24 p-0 text-white h-10 btn btn-dark bg-primary-400" (click)="calculateDiscount()" [disabled]="vouchers.invalid">Add</button>
          </div>

        </form>
        <div *ngIf="!addVoucher" class="flex justify-between mt-8 min-h-14 2xl:h-20">
          <button (click)="prevClick.emit('')" class="self-center w-24 text-xs text-gray-600 rounded-lg h-10 2xl:h-12 bg-gray-300">Back</button>
          <button [disabled]="subDeals.length == 0" (click)="nextClick.emit('')" class="self-center w-32 text-xs text-white rounded-lg h-10 2xl:h-12 bg-primary-400">Save & next</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Create Deal Modal-->

<app-reusable-modal #modal [modalConfig]="modalConfig">
  <div class="p-0 modal-body">
    <div class="flex justify-end p-0 m-0">
      <button class="p-3 m-2 btn btn-sm btn-icon btn-bg-light btn-active-color-primary" (click)="closeModal()" style="
       border-radius: 100%;">
        <span class="text-gray-800 fs-6">x</span>
      </button>
    </div>
    <div>
      <form class="px-6 mt-2 md:px-11 form" [formGroup]="vouchers">
        <div class="mb-3 form-group">
          <label class="mb-2.5 text-sm">Subtitle</label>
          <div class="input-group">
            <input maxlength="16" appTrim type="text" class="form-control" formControlName="subTitle" name="subTitle"
            [ngClass]="{
            'is-invalid': vouchers.controls['subTitle']?.invalid && vouchers.controls['subTitle']?.touched,
            'is-valid': vouchers.controls['subTitle']?.valid}"
          >
          </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Deal Subtitle is required',
            control: vouchers.controls['subTitle']
          }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Subtitle should at least be 3 characters',
            control: vouchers.controls['subTitle']
          }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'Only alphabets are allowed',
          control: vouchers.controls['subTitle']
        }">
        </ng-container>
        </div>

        <div class="mb-3 form-group">
          <label class="mb-2.5 text-sm">Original Price</label>
          <div class="input-icon">
            <span class="mt-2.5 ml-1 absolute flex items-center"><i class="p-2 ml-2 text-white rounded fas fa-euro-sign fa-lg bg-gray-500"></i></span>
            <input maxlength="5" appNumbersOnly type="text" class="pl-12 form-control" formControlName="originalPrice"
            [ngClass]="{
            'is-invalid':  vouchers.controls['originalPrice']?.invalid &&  vouchers.controls['originalPrice']?.touched,
            'is-valid':  vouchers.controls['originalPrice']?.valid}">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Original Price is required',
              control: vouchers.controls['originalPrice']
            }">
            </ng-container>
          </div>
          </div>

          <div class="form-group">
          <label class="mb-2.5 text-sm">Deal Price</label>
          <div class="input-icon">
            <span class="mt-2.5 ml-1 absolute flex items-center"><i class="p-2 ml-2 text-white rounded fas fa-euro-sign fa-lg bg-success"></i></span>
            <input maxlength="5" appNumbersOnly type="text" class="pl-12 form-control" formControlName="dealPrice" name="dealPrice"
            [ngClass]="{
            'is-invalid': vouchers.controls['dealPrice']?.invalid && vouchers.controls['dealPrice']?.touched,
            'is-valid': vouchers.controls['dealPrice']?.valid}">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Deal Price is required',
              control: vouchers.controls['dealPrice']
            }">
            </ng-container>
          </div>
          <div class="text-xs text-danger"
          *ngIf="vouchers.controls['dealPrice']?.errors?.['confirmedValidator']">
          The deal price cannot match/exceed the original price
            </div>
          </div>

          <!-- <div class="form-group">
          <label class="mt-3 mb-3 text-sm">Description</label>
          <div class="input-icon">
            <textarea maxlength="100" appTrim class="form-control" rows="5" formControlName="details" name="details"
            [ngClass]="{
            'is-invalid': vouchers.controls['details']?.invalid && vouchers.controls['details']?.touched,
            'is-valid': vouchers.controls['details']?.valid}">
          </textarea>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Description is required',
              control: vouchers.controls['details']
            }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'Description should at least be 16 characters',
              control: vouchers.controls['details']
            }">
          </ng-container>
          </div>
        </div> -->

          <div class="form-group">
          <label class="mt-3 mb-3 text-sm">Number of Available Vouchers</label>
          <div class="relative">
            <div class="flex w-2/5 h-8 border-2 border-white rounded-sm">
              <button class="w-20 h-full mr-2 text-xl font-bold text-gray-500 bg-gray-200 rounded-md" (click)="handleMinus()">-</button>
              <input maxlength="4" appNumbersOnly type="text" style="border-width: 1px;" class="w-full text-xs text-center rounded-md form-control" placeholder="0" formControlName="numberOfVouchers" name="numberOfVouchers">
              <button class="w-20 h-full ml-2 text-xl font-bold text-gray-500 bg-gray-200 rounded-md" (click)="handlePlus()">+</button>
            </div>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Please specify number of vouchers',
              control: vouchers.controls['numberOfVouchers']
            }">
          </ng-container>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="text-white btn btn-dark" (click)="calculateDiscount()" [disabled]="vouchers.invalid">Save</button>
  </div>
</app-reusable-modal>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control?.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="text-xs fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
