::ng-deep .voucher-modal .modal-dialog {
  width: 390px;
}

.main-con {
  height: 100%;
  min-height: calc(100vh - 92px) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.custom-card-design {
  width: auto;
  height: 490px;

  p {
    max-width: 320px;
  }

  .main-img-container {
    max-width: 260px;
    object-fit: cover;
  }
}

.second-card {
  max-width: 325px;
  width: 100%;
  height: 490px;
}


.custom-card-design {
  margin-right: 12px;
}

.second-card {
  margin-top: 0px!important;
}

.add-voucher {
  input.form-control {
    padding-top: 6.5px !important;
    padding-bottom: 6.5px !important;
    min-height: 35px !important;
  }
}

.voucher {
  max-width: 17.875rem;
}

textarea,
#dropdownBasic1,
input.form-control {
  @apply text-xs 2xl:text-base;
  background-color: transparent !important;
  border: 0.5px solid #787f9f5e !important;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  min-height: 35px;

  @media (min-width:1600px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
textarea:focus,
#dropdownBasic1.open,
input.form-control:focus {
  border-color: #0081E9 !important;
}

p,
label {
  color: #728A9F;
}

.voucher-container {
  @apply px-9 py-6 mt-3;
  background-image: url('/assets/media/bg-img.svg');
  background-repeat: no-repeat;
  width: 542px;
  height: 132px;
 }

 .action-btn {
  @apply p-1 text-gray-400 bg-white cursor-pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .add-more-voucher {
   align-items: center;
 }

@media (max-width: 1100px) {
  .custom-card-design {
    margin-right: 0px;
    margin-bottom: 16px;
    height: 470px;
    max-width: 370px;
    margin-right: 4px;

  }
  .second-card {
    max-width: 310px;
    height: 470px;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .second-card {
    height: 470px;
  }

  .custom-card-design {
    height: 470px;
  }
}

@media(max-width: 640px) {
  .custom-card-design {
    max-width: 100%;
    margin-right: 0px;

  }
  .second-card {
    max-width: 100%;
    height: 430px;
  }

  ::ng-deep .modal-content {
    width: 90%!important;
  }
}
