<!--Title/ Header-->
<div class="mb-7 lg:text-center">
  <h1 class="mt-2 mb-3 text-center 3xl:text-3xl xl:mt-0 md:text-2xl">Let's get the numbers right</h1>
  <div class="font-thin text-center 3xl:text-xl text-primary-400 md:text-sm">Lets make sure our customers realize how exceptional this deal is!</div>
</div>
<!--Card for Viewing Deal-->
<div class="flex flex-wrap w-full mx-auto" style="max-width: 780px;">
  <div class="flex-grow shadow-xl card card-custom card-stretch custom-card-design">
    <div class="flex flex-wrap flex-shrink w-full p-4 lg:px-11 lg:py-6">
      <div class="flex flex-col w-full">
        <label class="w-full mb-2 text-base font-semibold text-justify">{{data.title}}</label>
        <label class="w-full mb-4 text-sm text-justify text-gray-400">{{data.subTitle}}</label>
        <div class="w-full text-xs text-gray-700">
          <i class="mr-2 text-green-400 fas fa-map-marker-alt fa-lg"></i>
          200 E Gaines St, Tallahassee, FL 32399, United States
        </div>
        <ng-container *ngFor="let image of images; let i = index">
          <ng-container *ngIf="i == 0">
            <div class="w-full mt-2 mb-6 card main-img-container">
              <img class="h-48 card-img-top rounded-bottom" [src]="image">
            </div>
          </ng-container>
        </ng-container>
          <!--loop for images goes here-->
        <div class="flex-row justify-between w-7 h-7 card">
          <ng-container *ngFor="let image of images; let i = index;">
            <img class="mr-1 rounded-sm" [src]="image" *ngIf="i > 0">
          </ng-container>
        </div>
        <div class="mt-3 text-black form-label fw-bolder">Description</div>
        <p class="w-full mr-6 text-justify text-gray-400 fs-8">{{data.description | truncate: 80}}</p>
      </div>
    </div>
  </div>
  <div class="flex-wrap p-6 mt-3 shadow-xl xl:mt-0 card card-custom card-stretch second-card">
    <ng-container *ngIf="subDeals.length == 0">
      <div class="flex justify-between 2xl:justify-evenly">
        <div class="w-full font-semibold">Provide your voucher details.
        </div>
        <button type="button" class="justify-center text-yellow-500 fas fa-plus-circle fa-lg" (click)="openNew()" style="cursor: pointer;"></button>
      </div>
    </ng-container>
    <ng-container *ngIf="subDeals.length > 0">
      <div class="flex justify-between 3xl:justify-evenly">
      <div class="w-full font-semibold" style="max-width: 200px;">Add another voucher detail
      </div>
      <button type="button" class="justify-center text-yellow-500 fas fa-plus-circle fa-lg" (click)="openNew()" style="cursor: pointer;"></button>
      </div>
    </ng-container>
    <ng-container *ngIf="subDeals.length == 0">
      <div class="flex justify-center pb-4 align-middle mt-11">
        <img src="../../../../../assets/media/logos/giftbox.svg" class="opacity-20 lg:w-28 lg:h-28 w-14 h-14">
      </div>
    </ng-container>
    <ng-container *ngIf="subDeals.length > 0">
      <div class="pt-6 lg:h-72 lg:overflow-x-scroll">
        <ng-container *ngFor="let singleDeal of subDeals;let i = index">
          <div class="font-thin text-justify lg:justify-start">{{singleDeal?.subTitle}}</div>
          <div class="flex items-center justify-between mb-3 font-thin flex-nowrap">
            <i class="text-gray-600 line-through fas fa-dollar-sign">{{singleDeal?.originalPrice}}</i>
            <i class="text-green-400 fas fa-dollar-sign">{{singleDeal?.dealPrice}}</i>
            <i style="font-style: normal;" class="text-base text-red-500 fw-bolder">{{singleDeal?.discountPercentage}}% off</i>
            <div>
              <i class="p-2 mb-1 mr-2 text-yellow-600 bg-yellow-300 cursor-pointer fas fa-pencil-alt fa-xs rounded-circle" (click)="edit(i)"></i>
              <i class="p-2 text-red-700 bg-red-300 cursor-pointer fas fa-trash fa-xs rounded-circle" (click)="deleteDeal(i)"></i>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<!--Create Deal Modal-->

<app-reusable-modal #modal [modalConfig]="modalConfig">
  <div class="p-0 modal-body">
    <div class="flex justify-end p-0 m-0">
      <button class="p-3 m-2 btn btn-sm btn-icon btn-bg-light btn-active-color-primary" (click)="closeModal()" style="
       border-radius: 100%;">
        <span class="text-gray-800 fs-6">x</span>
      </button>
    </div>
    <div>
      <form class="mt-2 px-11 form" [formGroup]="vouchers">
        <div class="mb-3 form-group">
          <label class="mb-2.5 text-sm">Subtitle</label>
          <div class="input-group">
            <input maxlength="16" appTrim type="text" class="form-control" formControlName="subTitle" name="subTitle"
            [ngClass]="{
            'is-invalid': vouchers.controls['subTitle']?.invalid && vouchers.controls['subTitle']?.touched,
            'is-valid': vouchers.controls['subTitle']?.valid}"
          >
          </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Deal Subtitle is required',
            control: vouchers.controls['subTitle']
          }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Subtitle should at least be 3 characters',
            control: vouchers.controls['subTitle']
          }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'Only alphabets are allowed',
          control: vouchers.controls['subTitle']
        }">
        </ng-container>
        </div>

        <div class="mb-3 form-group">
          <label class="mb-2.5 text-sm">Original Price</label>
          <div class="input-icon">
            <span class="mt-2.5 ml-1 absolute flex items-center"><i class="p-2 ml-2 text-white rounded fas fa-euro-sign fa-lg bg-success"></i></span>
            <input maxlength="5" appNumbersOnly type="text" class="pl-12 form-control" formControlName="originalPrice"
            [ngClass]="{
            'is-invalid':  vouchers.controls['originalPrice']?.invalid &&  vouchers.controls['originalPrice']?.touched,
            'is-valid':  vouchers.controls['originalPrice']?.valid}">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Original Price is required',
              control: vouchers.controls['originalPrice']
            }">
            </ng-container>
          </div>
          </div>

          <div class="form-group">
          <label class="mb-2.5 text-sm">Deal Price</label>
          <div class="input-icon">
            <span class="mt-2.5 ml-1 absolute flex items-center"><i class="p-2 ml-2 text-white rounded fas fa-euro-sign fa-lg bg-danger"></i></span>
            <input maxlength="5" appNumbersOnly type="text" class="pl-12 form-control" formControlName="dealPrice" name="dealPrice"
            [ngClass]="{
            'is-invalid': vouchers.controls['dealPrice']?.invalid && vouchers.controls['dealPrice']?.touched,
            'is-valid': vouchers.controls['dealPrice']?.valid}">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Deal Price is required',
              control: vouchers.controls['dealPrice']
            }">
            </ng-container>
          </div>
          <div class="text-xs text-danger"
          *ngIf="vouchers.controls['dealPrice']?.errors?.['confirmedValidator']">
            The deal price cannot exceed the original price
            </div>
          </div>

          <div class="form-group">
          <label class="mt-3 mb-3 text-sm">Description</label>
          <div class="input-icon">
            <textarea maxlength="100" appTrim class="form-control" rows="5" formControlName="details" name="details"
            [ngClass]="{
            'is-invalid': vouchers.controls['details']?.invalid && vouchers.controls['details']?.touched,
            'is-valid': vouchers.controls['details']?.valid}">
          </textarea>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Description is required',
              control: vouchers.controls['details']
            }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'Description should at least be 16 characters',
              control: vouchers.controls['details']
            }">
          </ng-container>
          </div>
        </div>

          <div class="form-group">
          <label class="mt-3 mb-3 text-sm">Number of Available Vouchers</label>
          <div class="relative">
            <div class="flex w-2/5 h-8 border-2 border-white rounded-sm">
              <button class="h-full text-xl font-bold text-gray-500 bg-gray-200 rounded-md w-14" (click)="handleMinus()">-</button>
              <input maxlength="4" appNumbersOnly type="text" class="w-full text-center" placeholder="0" formControlName="numberOfVouchers" name="numberOfVouchers">
              <button class="h-full text-xl font-bold text-gray-500 bg-gray-200 rounded-md w-14" (click)="handlePlus()">+</button>
            </div>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Please specify number of vouchers',
              control: vouchers.controls['numberOfVouchers']
            }">
          </ng-container>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="text-white btn btn-dark" (click)="calculateDiscount()" [disabled]="vouchers.invalid">Save</button>
  </div>
</app-reusable-modal>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control?.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="text-xs fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
