<div style="all: unset" ngbDropdown [open]="isOpen" display="dynamic" id="dropdown">
  <button class="m-0" (click)="open()">
    <i
    [style.background]='isOpen ? "#CCE6FB":"#F5F8FA"'
    [style.color]='(isOpen || isFilterApplied) ? "#0081E9":"#7E8299"'
    [style.border]='isFilterApplied ? "1px solid #E2EDFE": ""'
    [style.border-radius]='isFilterApplied ? "4px": ""'
    style="font-size: 10px !important;" class="filter" [class.active]="isOpen" class="p-1 fas fa-filter"></i>
  </button>
  <div class="mt-2 dropdown" ngbDropdownMenu aria-labelledby="dropdown">
    <div class="px-4 py-2 dropdown-container min-w-50">
      <ng-container *ngIf="sort">
        <button class="px-2 text-sm" ngbDropdownItem (click)="filterBySort('Ascending')">
        Sort A <i class="fas fa-long-arrow-alt-right"></i> Z
      </button>
      <button class="px-2 text-sm" ngbDropdownItem (click)="filterBySort('Descending')">
        Sort Z <i class="fas fa-long-arrow-alt-right"></i> A
      </button>
    </ng-container>
    <ng-container *ngIf="isStatusFilter">
      <div class="search">
        <div class="mb-3 fv-row">
          <label for="" class="my-1 text-sm font-medium" style="color: #414950;">Filter by {{filterBy}}</label>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="search">
      <div class="search">
        <div class="mb-3 fv-row">
          <label for="" class="my-1 text-sm font-medium" style="color: #414950;">Search by {{searchBy}}</label>
          <input [formControl]="searchControl" maxlength="100" appTrim type="text " class="text-base font-normal text-black form-control">
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="options">
      <div class="flex flex-col options checkbox" (scroll)="scrollHandler($event)" >
        <ng-container *ngFor="let option of optionsList; let i = index">
          <label class="h-6 mb-2 checkbox checkbox-square" *ngIf="i == 0 && statusFilters == false">
            <input [checked]="allSelected" (change)="checkAllCheckBox()" type="checkbox" name="options" class="mr-2.5">
            <span></span>Select all
          </label>
          <label class="h-6 mb-2 checkbox checkbox-square">
            <input [checked]="option.checked" (change)="checkBoxClick(option.id, option.checked)" type="checkbox" name="options" class="mr-2.5">
            <span></span>{{(option.value.length > 20) ? ((option.value) | slice:0:20)+'...':(option.value)}}
          </label>
        </ng-container>
        <ng-container *ngIf="optionsList?.length == 0">
          <span #spanner class="py-4 text-sm text-center">No record found</span>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="statusFilters">
      <div class="flex flex-col options checkbox">
        <ng-container *ngFor="let option of optionsListStatus; let i = index">
          <label class="h-6 mb-2 checkbox checkbox-square" *ngIf="i == 0">
            <input [checked]="allSelected" (change)="checkAllCheckBoxStatus()" type="checkbox" name="options" class="mr-2.5">
            <span></span>Select all
          </label>
          <label class="h-6 mb-2 checkbox checkbox-square">
          <input [checked]="option.checked" (change)="checkBoxClickStatus(option.id, option.checked)" type="checkbox" name="options" class="mr-2.5">
          <span></span>{{option.value}}
        </label>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="options">
      <div class="flex justify-between gap-3">
        <button class="text-sm apply" type="submit" (click)="filterData()" [disabled]="!optionsChecked" [ngClass]="!optionsChecked ? 'opacity-50': 'opacity-100'">
          <i style="color: white; font-size: 10px;" class="fas fa-filter"></i> Filter
        </button>
        <button type="button" (click)="clear()" class="clear" [disabled]="!optionsChecked" [ngClass]="!optionsChecked ? 'opacity-60': 'opacity-100'">
          Clear
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="statusFilters">
      <div class="flex justify-between gap-3">
        <button class="text-sm applyStatus" type="submit" (click)="filterStatuses()" [disabled]="optionsCheckedStatues == false" [ngClass]="optionsCheckedStatues == false ? 'opacity-50': 'opacity-100'">
          <i style="color: white; font-size: 10px;" class="fas fa-filter"></i> Filter
        </button>
        <button type="button" (click)="clear()" class="text-sm clearStatus" [disabled]="optionsCheckedStatues == false" [ngClass]="optionsCheckedStatues == false ? 'opacity-60': 'opacity-100'">
          Clear
        </button>
      </div>
    </ng-container>
  </div>
  </div>
</div>
