  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table
      class="table align-middle bg-white table-row-bordered table-row-gray-100 gs-0 gy-3"
    >
      <!-- begin::Table head -->
      <thead class="text-sm h-14">
        <tr class="fw-bolder text-muted">
          <th class="min-w-150px">Deals Title</th>
          <th class="min-w-140px">Price</th>
          <th class="min-w-120px">Start Date</th>
          <th class="min-w-120px">End Date</th>
          <th class="min-w-120px">Total</th>
          <th class="min-w-120px">Status</th>
          <th class="min-w-100px">Actions</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody class="text-xs text-center">
        <tr>
          <td>
            <img class="inline rounded-lg w w-11 h-11" src="../../../../../assets/media/avatars/300-1.jpg">
            <a href="#" class="text-hover-primary">
              59486-XDER
            </a>
          </td>
          <td >$8476</td>
          <td>
            26 April, 2021
          </td>
          <td>
            30 April, 2021
          </td>
          <td >84</td>
          <td>
            <span class="px-6 py-2 rounded-full status pendding">Pendding</span>
          </td>
          <td>
            <a
              href="#"
              class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <img class="inline rounded-lg w w-11 h-11" src="../../../../../assets/media/avatars/300-1.jpg">
            <a href="#" class="text-hover-primary">
              59486-XDER
            </a>
          </td>
          <td >$8476</td>
          <td>
            26 April, 2021
          </td>
          <td>
            30 April, 2021
          </td>
          <td >84</td>
          <td>
            <span class="px-6 py-2 rounded-full status active">Approved</span>
          </td>
          <td>
            <a
              href="#"
              class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="text-hover-primary">
              59486-XDER
            </a>
          </td>
          <td >$8476</td>
          <td>
            26 April, 2021
          </td>
          <td>
            30 April, 2021
          </td>
          <td >84</td>
          <td>
            <span class="px-6 py-2 rounded-full status active">Approved</span>
          </td>
          <td>
            <a
              href="#"
              class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="text-hover-primary">
              59486-XDER
            </a>
          </td>
          <td >$8476</td>
          <td>
            26 April, 2021
          </td>
          <td>
            30 April, 2021
          </td>
          <td >84</td>
          <td>
            <span class="px-6 py-2 rounded-full status active">Approved</span>
          </td>
          <td>
            <a
              href="#"
              class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="text-hover-primary">
              59486-XDER
            </a>
          </td>
          <td >$8476</td>
          <td>
            26 April, 2021
          </td>
          <td>
            30 April, 2021
          </td>
          <td >84</td>
          <td>
            <span class="px-6 py-2 rounded-full status active">Approved</span>
          </td>
          <td>
            <a
              href="#"
              class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="text-hover-primary">
              59486-XDER
            </a>
          </td>
          <td >$8476</td>
          <td>
            26 April, 2021
          </td>
          <td>
            30 April, 2021
          </td>
          <td >84</td>
          <td>
            <span class="px-6 py-2 rounded-full status active">Approved</span>
          </td>
          <td>
            <a
              href="#"
              class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="text-hover-primary">
              59486-XDER
            </a>
          </td>
          <td >$8476</td>
          <td>
            26 April, 2021
          </td>
          <td>
            30 April, 2021
          </td>
          <td >84</td>
          <td>
            <span class="px-6 py-2 rounded-full status active">Approved</span>
          </td>
          <td>
            <a
              href="#"
              class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="text-hover-primary">
              59486-XDER
            </a>
          </td>
          <td >$8476</td>
          <td>
            26 April, 2021
          </td>
          <td>
            30 April, 2021
          </td>
          <td >84</td>
          <td>
            <span class="px-6 py-2 rounded-full status active">Approved</span>
          </td>
          <td>
            <a
              href="#"
              class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="text-hover-primary">
              59486-XDER
            </a>
          </td>
          <td >$8476</td>
          <td>
            26 April, 2021
          </td>
          <td>
            30 April, 2021
          </td>
          <td >84</td>
          <td>
            <span class="px-6 py-2 rounded-full status active">Approved</span>
          </td>
          <td>
            <a
              href="#"
              class=" btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
            <a
              href="#"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
            >
              <span
                [inlineSVG]="'../../../../../assets/media/icons/duotune/general/gen027.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
          </td>
        </tr>
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
