// :host {
//   display: block;
//   overflow: hidden;
// }

:host {
  display: block;
  perspective: 1200px;
  overflow: hidden;
}


.panes {
  height: 400px;
  width: 200%;

  display: flex;
  div {
    flex: 1;
  }
}

.pane1 {
  transform: none;
}

.pane2 {
  transform: rotateY(180deg);
}

