textarea:focus, input:focus{
  outline: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

.new-styles {
  max-width: 28.938rem!important;
  width: 28.938rem!important;
  position: absolute;
  top: 2.7rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.secondary-styles {
  max-width: 28.938rem!important;
  width: 28.938rem!important;
  position: absolute;
  top: 7.7rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-radius: 0.475rem;
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 10%);
  outline: 0;
  max-height: 39.7rem;
  height: auto
}

.main-image {
  width: 9.313rem;
}

.discount {
  color: #12B500;
  background-color: #DBF4D9;
  width: 4.75rem;
  height: 1.613rem;
  font-size: 12px;
}

.redeem-voucher {
  font-size: 15px;
}

.expired-voucher {
  font-size: 15px;
}

.otp-input {
  width: 40px!important;
  height: 35px!important;
  border-radius: 0px!important;
  text-align: center!important;
  font-size: 14px!important;
  box-sizing: border-box!important;
  border-bottom: 2px solid #0081E9!important;
  border-right: 1px solid white!important;
  border-left: 1px solid white!important;
  border-top: 1px solid white!important;
}

@media(min-width: 360px) and (max-width: 764px) {
  .new-styles {
    max-width: 21.5rem!important;
    width: 21.5rem!important;
    position: absolute;
    top: 3.7rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .secondary-styles {
    max-width: 21.5rem!important;
    width: 21.5rem!important;
    position: absolute;
    top: 7.7rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .circular-image {
    @apply w-20 h-20 top-14;
  }

  .main-image {
    @apply h-18 w-18;
  }

  .dealHeader {
    @apply text-xs;
  }

  .discount {
    color: #12B500;
    background-color: #DBF4D9;
    width: 3.75rem;
    height: 1rem;
    font-size: 10px;
  }

  .fee {
    @apply text-xs
  }

  .net {
    @apply text-xs
  }

  .merchant {
    @apply text-sm
  }

  .header-div {
    @apply pt-3;
  }

  .expired-voucher {
    @apply text-sm px-8;
  }

  .redeem-voucher {
    @apply px-4;
    font-size: 13px;
  }
}
