<div class="w-full h-16 bg-white" style="border-bottom: 0.5px solid #96B1BC;">
  <div class="flex justify-center">
    <img class="w-10 h-10 mt-2.5" src="../../../assets/media/logos/updated_logo.svg">
  </div>
</div>

<ng-container *ngIf="isLoading == true">
  <div class="flex flex-col items-center justify-center pt-40 align-middle">
    <span class="indicator-progress" [style.display]="'block'">
      <span style="width: 4rem; height: 4rem;" class="text-4xl align-middle spinner-border spinner-border-sm ms-2"></span>
    </span>
  </div>
</ng-container>

<ng-template #modal>
  <div class="relative w-full pb-10 h-26">
    <img src="../../../assets/media/logos/bg-black.svg" class="absolute top-0 object-cover w-full rounded-t-md h-26">
    <img src="../../../assets/media/logos/voucher_icon.svg" class="absolute left-0 right-0 mx-auto rounded-full lg:w-32 lg:h-32 lg:top-5 circular-image">
    <!-- <button (click)="closeModal()" style="background-color: #9399B2; color:#C2C5D3;" class="absolute px-2 py-1 text-sm font-normal rounded-full right-4 top-4">
      &#10006;
    </button> -->
  </div>

  <div class="flex flex-col items-center justify-center" [ngClass]="((singleVoucher | async)?.status == 'Redeemed' || (singleVoucher | async)?.status == 'Expired') ? 'pt-14 pb-8': 'pt-28 pb-5'">
    <div class="text-center w-80 pb-3.5">
      <span style="font-family: Ranille; color: #000000; font-size: 20px;">REDEEM VOUCHER</span>
    </div>
    <span class="pt-2 text-base text-primary-400">Voucher ID:&nbsp; &nbsp;<span class="text-base font-semibold text-primary-400">{{(singleVoucher | async)?.voucherID}}</span></span>
  </div>

  <div class="flex justify-start px-8" [ngClass]="((singleVoucher | async)?.status == 'Redeemed' || (singleVoucher | async)?.status == 'Expired') ? 'pb-12': 'pb-5'">
    <app-main-blur-hash [blurHash]="(singleVoucher | async)?.imageURL?.blurHash" [imageSrc]="(singleVoucher | async)?.imageURL.captureFileURL" class="object-cover lg:h-20 lg:rounded-md main-image"></app-main-blur-hash>
    <div class="flex flex-col header-div">
      <span [ngbTooltip]="(singleVoucher | async)?.dealHeader" placement="top" [container]="'body'" class="pl-6 font-semibold text-black lg:text-sm max-w-70 dealHeader">{{((singleVoucher | async)?.dealHeader.length > 30) ? (((singleVoucher | async)?.dealHeader) | slice:0:30)+'...':((singleVoucher | async)?.dealHeader)}}</span>
      <div class="flex justify-start pl-6 mt-3">
        <span style="color: #94A1B3;" class="mt-2 mr-2 font-semibold line-through net">{{(singleVoucher | async)?.net.toFixed(2).replace('.', ',')}}&nbsp;&euro;</span>
        <span style="color: #12B500;" class="mx-2 mt-2 font-bold fee">{{(singleVoucher | async)?.fee.toFixed(2).replace('.', ',')}}&nbsp;&euro;</span>
        <button tabindex="-1" class="mx-2 mt-1.5 font-bold rounded-xl discount">{{(singleVoucher | async)?.discountedPercentage.toFixed(2).replace('.', ',')}}% off</button>
      </div>
    </div>
  </div>

  <span style="color: #96B1BC;" class="px-8 merchant">Merchant name<span class="ml-8 text-black merchant">Ven Travels</span></span>

  <ng-container *ngIf="(singleVoucher | async)?.status != 'Redeemed' && (singleVoucher | async)?.status != 'Expired'">
    <div class="flex justify-start px-8 mt-5">
      <img class="mr-3" src="../../../assets/media/logos/time-fast.svg"><span style="color: #96B1BC;" class="text-sm">Expiry Date:<span class="ml-5 text-black">{{(singleVoucher | async)?.expiryDate | date: 'mediumDate'}}</span></span>
    </div>
    <div class="flex justify-start px-8 mt-2">
      <img class="mr-3" src="../../../assets/media/logos/q-mark.svg"><span style="color: #96B1BC;" class="text-sm">Status<span class="text-black ml-14">{{(singleVoucher | async)?.status}}</span></span>
    </div>

    <span class="mt-5 text-center">Enter your 4-digit redeem pincode</span>
    <div class="flex justify-center pt-4">
      <ng-otp-input [formCtrl]="otpValue" [config]="{length: 4, allowNumbersOnly: true}"></ng-otp-input>
    </div>

    <div class="flex justify-center py-8">
      <button (click)="redeemVocuherbyPin()" type="button" class="py-3 text-sm text-white rounded-3xl px-14" style="background-color: #042F53;">Redeem voucher</button>
    </div>
  </ng-container>

  <ng-container *ngIf="(singleVoucher | async)?.status == 'Redeemed'">
    <div class="py-5 mt-4 text-center text-white rounded-b-md lg:px-14 bg-primary-500 redeem-voucher">
      This voucher has been redeemed on {{(singleVoucher | async)?.redeemDate | date: 'mediumDate'}}
    </div>
  </ng-container>

  <ng-container *ngIf="(singleVoucher | async)?.status == 'Expired'">
    <div class="py-5 mt-4 text-center text-white rounded-b-md lg:px-14 expired-voucher" style="background-color: #F25858;">
      This voucher expired on {{(singleVoucher | async)?.expiryDate | date: 'mediumDate'}}
    </div>
  </ng-container>
</ng-template>
