<app-deal-crm-header></app-deal-crm-header>
<div class="mx-20.5 my-8">
  <div class="flex justify-between">
    <div [formGroup]="crmForm">
  <!--Title-->
      <div class="h-24 fv-row 2xl:h-26">
        <label class="text-base font-semibold my-3.5">Deal title</label>
        <input appTrim type="text" class="h-12 text-base font-normal text-black form-control max-w-190" formControlName="dealTitle" name="dealTitle" placeholder="Enter title of your deal"
        [ngClass]="{
          'is-invalid': f['dealTitle'].invalid && f['dealTitle'].touched,
          'is-valid': f['dealTitle'].valid}">
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Deal title is required',
          control: f['dealTitle']
        }">
        </ng-container>
        <ng-container *ngIf="f['dealTitle']?.errors?.['minlength']" [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Deal title should at least be 3 characters',
            control: f['dealTitle']
          }">
        </ng-container>
        <ng-container *ngIf="!f['dealTitle']?.errors?.['minlength']" [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'Special characters are not allowed',
          control: f['dealTitle']
        }">
        </ng-container>
      </div>

      <!--User name and review info-->
      <div class="my-7">
        <span class="text-2xl font-semibold">{{dealData?.merchantDetails?.legalName}}</span>
        <div class="flex justify-start">
          <span class="text-sm mt-3.5">{{dealData?.merchantDetails?.ratingsAverage?.toFixed(2).replace('.', ',')}}</span>
          <div *ngIf="dealData?.merchantDetails?.ratingsAverage" class="rating mx-2 mt-2.5">
            <div class="rating-label me-1" [ngClass]="dealData?.merchantDetails?.ratingsAverage > 0 ? 'checked': ''">
                <i class="fas fa-star fs-9"></i>
            </div>
            <div class="rating-label me-1" [ngClass]="dealData?.merchantDetails?.ratingsAverage > 1 ? 'checked': ''">
                <i class="fas fa-star fs-9"></i>
            </div>
            <div class="rating-label me-1" [ngClass]="dealData?.merchantDetails?.ratingsAverage > 2 ? 'checked': ''">
                <i class="fas fa-star fs-9"></i>
            </div>
            <div class="rating-label me-1" [ngClass]="dealData?.merchantDetails?.ratingsAverage > 3 ? 'checked': ''">
                <i class="fas fa-star fs-9"></i>
            </div>
            <div class="rating-label me-1" [ngClass]="dealData?.merchantDetails?.ratingsAverage > 4 ? 'checked': ''">
                <i class="fas fa-star fs-9"></i>
            </div>
          </div>
          <span *ngIf="dealData?.merchantDetails?.totalReviews" class="text-sm mt-3.5" style="color:#0081E9;">{{(userData$ | async)?.totalReviews}} Ratings</span>
        </div>
      </div>

  <!--Subtitle-->
      <div class="h-24 mb-5 fv-row 2xl:h-26">
        <label class="text-base font-semibold my-3.5">Deal sub-title</label>
        <input appTrim type="text" class="h-12 text-base font-normal text-black form-control max-w-190" formControlName="dealSubTitle" name="dealSubTitle" placeholder="Enter sub-title of your deal"
        [ngClass]="{
          'is-invalid': f['dealSubTitle'].invalid && f['dealSubTitle'].touched,
          'is-valid': f['dealSubTitle'].valid}">
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Deal sub-title is required',
          control: f['dealSubTitle']
        }">
        </ng-container>
        <ng-container *ngIf="f['dealSubTitle']?.errors?.['minlength']" [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Deal sub-title should at least be 3 characters',
            control: f['dealSubTitle']
          }">
        </ng-container>
        <ng-container *ngIf="!f['dealSubTitle']?.errors?.['minlength']" [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'Special characters are not allowed',
          control: f['dealSubTitle']
        }">
        </ng-container>
      </div>

  <!--Image-->
      <div class="mb-2.5 mt-7" *ngIf="afterSave == true">
        <ng-container *ngFor="let image of imageArray; let i = index; let first = first">
          <div class="relative w-190 h-104" *ngIf="i == 0">
            <app-blur-hash class="object-cover rounded-md w-190 h-104" [blurHash]="image.blurHash" [imageSrc]="first ? image.captureFileURL+'?size=764' : image.captureFileURL+'?size=142'" [loading]="'lazy'"></app-blur-hash>
            <i (click)="clearImage(i)" *ngIf="i == 0" class="absolute z-50 not-italic leading-10 text-center text-white cursor-pointer w-11 h-11 -top-5 -right-2" style="background-color: #7F827E; border-radius: 100%;">&#10006;</i>
          </div>
        </ng-container>
        <div *ngIf="imageArray.length == 0" class="flex flex-col justify-center h-full border-2 border-dashed rounded-lg">
          <div class="self-center image-input image-input-outline image-upload">
            <div class="w-190 h-104 image-input-wrapper" style="box-shadow: none; opacity: 0.8;"></div>
            <label class="absolute top-0 w-190 h-104 btn btn-xs btn-icon btn-hover-text-primary">
              <span class="absolute top-0 flex items-center justify-center w-190 h-104" style="color: rgb(179, 179, 179); font-size: 30px">
                <img class="h-40 w-44 "src="../../../../../assets/media/icons/images.svg">
              </span>
              <input #imgInput class="absolute top-0 cursor-pointer w-190 h-104 " type="file" accept=".png, .jpg, .jpeg" (change)="onSelectFile($event)" multiple>
            </label>
          </div>
          <p class="self-center mb-2 text-sm text-center w-60">
            Drag and Drop or <a class="underline cursor-pointer text-primary-500" (click)="imgInput.click()">Browse</a>
          </p>
          <p class="self-center mb-2 text-xs text-center text-gray-500">
            Allowed file types are PNG or JPEG. You can add maximum 10 images
          </p>
        </div>
      </div>

  <!--Multiple Images-->
      <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" class="flex justify-start space-x-3" *ngIf="afterSave == true">
        <ng-container *ngFor="let images of imageArray; let index = index; let first = first">
          <div cdkDrag class="relative block object-cover w-16 h-14" *ngIf="index >= 0">
            <app-blur-hash [first]="first" [blurHash]="images.blurHash" [imageSrc]="first ? images.captureFileURL+'?size=764' : images.captureFileURL+'?size=142'" class="block w-16 h-14"></app-blur-hash>
            <i (click)="clearImage(index)" *ngIf="index >= 0" class="absolute z-50 w-5 h-5 not-italic leading-5 text-center text-white cursor-pointer text-xxs -top-1 -right-1" style="background-color: #7F827E; border-radius: 100%;">&#10006;</i>
          </div>
        </ng-container>
        <div *ngIf="imageArray.length < 10 && imageArray.length != 0" class="relative">
          <div class="w-16 h-14 image-input-wrapper" style="box-shadow: none;  opacity: 0.8;"></div>
          <label class="absolute top-0 w-16 h-14 btn btn-xs btn-icon btn-hover-text-primary">
            <span class="absolute top-0 flex items-center justify-center w-16 h-14" style="color: rgb(179, 179, 179); font-size: 30px"><img class="w-16 h-14" src="../../../../../assets/media/icons/more-images.svg"></span>
            <input class="absolute top-0 w-16 cursor-pointer h-14" type="file" accept=".png, .jpg, .jpeg" (change)="onSelectFile($event)" (click)="onClick($event)" multiple>
          </label>
        </div>
      </div>

  <!--Swiper-->

      <ng-container *ngIf="afterSave == false && imageArray.length > 0">
        <div class="my-7 w-190 h-104">
          <swiper #swipe
            style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff; --swiper-navigation-size: 20px;"
            [spaceBetween]="3"
            [navigation]="true"
            [thumbs]="{ swiper: thumbsSwiper && !thumbsSwiper.destroyed ? thumbsSwiper : null }"
            [lazy]="true"
            class="mySwiper2">

            <ng-template swiperSlide *ngFor="let url of imageArray; let i = index; let first = first">
              <app-blur-hash style="display: block; width: 100%; height: 100%; object-fit: cover;" [imageSrc]="url.captureFileURL+'?size=764'"></app-blur-hash>
            </ng-template>

          </swiper>

          <swiper
            (swiper)="thumbsSwiper = $event"
            [spaceBetween]="1"
            [slidesPerView]="10"
            [freeMode]="true"
            [watchSlidesProgress]="true"
            [lazy]="true"
            class="mySwiper">

            <ng-template swiperSlide *ngFor="let url of imageArray; let i = index; let first = first">
              <app-blur-hash [imageSrc]="url.captureFileURL+'?size=142'" class="w-16 p-0 h-14"></app-blur-hash>
            </ng-template>

          </swiper>
        </div>
      </ng-container>


  <!--highlights-->
      <!-- <div class="h-24 fv-row 2xl:h-26" [ngClass]="isLoggedIn == true ? 'mb-7 mt-7': 'mb-7 mt-24'">
        <label class="text-base font-semibold my-3.5">Highlights</label>
        <input maxlength="100" appTrim type="text" class="h-12 text-base font-normal text-black form-control max-w-190" formControlName="highlights" name="highlights" placeholder="Enter highlights of your deal"
        [ngClass]="{
          'is-invalid': f['highlights'].invalid && f['highlights'].touched,
          'is-valid': f['highlights'].valid}">
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Deal highlights is required',
          control: f['highlights']
        }">
        </ng-container>
        <ng-container *ngIf="!f['highlights']?.errors?.['minlength']" [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'Special characters are not allowed',
          control: f['highlights']
        }">
        </ng-container>
      </div> -->

  <!--about this deal-->
      <div class="relative h-72 w-190 fv-row mb-7 mt-7" [ngClass]="afterSave == false ? 'mt-20' : 'mt-7'">
        <label class="text-base font-semibold my-3.5">About this deal</label>
        <span [ngClass]="textLength(f['aboutThisDeal'].value) > 2000 ? 'text-red-500': 'text-black'" class="absolute z-50 text-xs top-16 right-4">{{textLength(f['aboutThisDeal'].value)}}/2000</span>
        <ckeditor [editor]="Editor" (change)="f['aboutThisDeal'].markAsTouched()" [config]="config" type="text font-weight-light" class="p-0 text-sm font-thin border-none form-control" formControlName="aboutThisDeal" name="aboutThisDeal" placeholder="aboutThisDeal" rows="5"
        [ngClass]="{
          'is-invalid': f['aboutThisDeal'].invalid && f['aboutThisDeal'].touched,
          'is-valid': f['aboutThisDeal'].valid}"></ckeditor>
          <ng-container *ngIf="(f['aboutThisDeal'].dirty || f['aboutThisDeal'].touched)">
            <ng-container *ngIf="f['aboutThisDeal'].value == null || f['aboutThisDeal'].value == ''">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  About this deal is required
                </span>
              </div>
            </ng-container>

            <ng-container *ngIf="f['aboutThisDeal'].value !== null && f['aboutThisDeal'].value !== '' && textLength(f['aboutThisDeal'].value) < 16">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  About this deal should be at least be 16 characters
                </span>
              </div>
            </ng-container>

            <ng-container *ngIf="f['aboutThisDeal'].value !== null && f['aboutThisDeal'].value !== '' && textLength(f['aboutThisDeal'].value) > 2000">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  Upto 2000 characters are allowed
                </span>
              </div>
            </ng-container>
          </ng-container>
      </div>

  <!--read more-->
      <div class="relative w-190 h-72 fv-row">
        <label class="text-base font-semibold my-3.5">Read more</label>
        <span [ngClass]="textLength(f['readMore'].value) > 2000 ? 'text-red-500': 'text-black'" class="absolute z-50 text-xs top-16 right-4">{{textLength(f['readMore'].value)}}/2000</span>
        <ckeditor (change)="f['readMore'].markAsTouched()" [editor]="Editor" [config]="config" type="text font-weight-light" class="p-0 text-sm font-thin border-none form-control" formControlName="readMore" name="readMore" placeholder="readMore" rows="5"
        [ngClass]="{
          'is-invalid': f['readMore'].invalid && f['readMore'].touched,
          'is-valid': f['readMore'].valid}"></ckeditor>
        <ng-container *ngIf="(f['readMore'].dirty || f['readMore'].touched)">

          <!-- <ng-container *ngIf="f['readMore'].value == null || f['readMore'].value == ''">
            <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
              <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                Read more is required
              </span>
            </div>
          </ng-container> -->

          <ng-container *ngIf="f['readMore'].value !== null && f['readMore'].value !== '' && textLength(f['readMore'].value) < 16">
            <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
              <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                Read more should at least be 16 characters
              </span>
            </div>
          </ng-container>

          <ng-container *ngIf="f['readMore'].value !== null && f['readMore'].value !== '' && textLength(f['readMore'].value) > 2000">
            <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
              <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                Upto 2000 characters are allowed
              </span>
            </div>
          </ng-container>
        </ng-container>
      </div>

  <!--fine print-->
      <div class="relative w-190 h-72 fv-row my-7">
        <label class="text-base font-semibold my-3.5">The fine print</label>
        <span [ngClass]="textLength(f['finePrints'].value) > 2000 ? 'text-red-500': 'text-black'" class="absolute z-50 text-xs top-16 right-4">{{textLength(f['finePrints'].value)}}/2000</span>
        <ckeditor (change)="f['finePrints'].markAsTouched()" [editor]="Editor" [config]="config" type="text font-weight-light" class="p-0 text-sm font-thin border-none form-control" formControlName="finePrints" name="finePrints" placeholder="finePrints" rows="5"
        [ngClass]="{
          'is-invalid': f['finePrints'].invalid && f['finePrints'].touched,
          'is-valid': f['finePrints'].valid}"></ckeditor>
          <ng-container *ngIf="(f['finePrints'].dirty || f['finePrints'].touched)">

            <!-- <ng-container *ngIf="f['finePrints'].value ==null || f['finePrints'].value == ''">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  The fine print is required
                </span>
              </div>
            </ng-container> -->

            <ng-container *ngIf="f['finePrints'].value !== null && f['finePrints'].value !== '' && textLength(f['finePrints'].value) < 16">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  The fine print should at least be 16 characters
                </span>
              </div>
            </ng-container>

            <ng-container *ngIf="f['finePrints'].value !== null && f['finePrints'].value !== '' && textLength(f['finePrints'].value) > 2000">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  Upto 2000 characters are allowed
                </span>
              </div>
            </ng-container>
          </ng-container>
      </div>

    </div>

    <div class="flex flex-col items-end">
      <div>
        <button *ngIf="isLoggedIn == false" (click)="openSignInModal()" type="button" class="px-9 py-2.5 bg-white rounded-md text-sm" style="border: 1px solid #042F5333; color:#042F53;">Sign In</button>
        <button *ngIf="isLoggedIn == true && isEditMode == false" class="px-9 py-2.5 bg-white rounded-md text-sm text-black" style="border: 1px solid #042F5333;" (click)="enableEditMode()">Edit</button>
        <button [ngClass]="((crmForm.invalid) || (imageArray.length == 0)) ? 'opacity-50 cursor-not-allowed' : 'opacity-100 cursor-pointer'" [disabled]="(crmForm.invalid) || (imageArray.length == 0)" (click)="saveChanges()" *ngIf="isEditMode == true" type="button" class="px-9 py-2.5 bg-primary-400 rounded-md text-sm text-white">
          <ng-container *ngIf="uploaded == false">
            <span class="indicator-progress" [style.display]="'block'">
              Please wait...
              <span class="align-middle spinner-border spinner-border-sm ms-2"></span>
            </span>
          </ng-container>
          <ng-container *ngIf="uploaded == true">
            <span class="indicator-label">Save changes</span>
          </ng-container>
        </button>
      </div>
        <div class="xl:pl-5 1.5xl:pr-12 mb-2 mt-30 w-full subdeals">
          <ng-container *ngFor="let deal of subDeals; let i = index">
            <span *ngIf="deal.title.length >= 26" [ngbTooltip]="deal.title" placement="top" [container]="'body'" class="text-base font-semibold cursor-pointer max-w-40">{{(deal.title.length > 26) ? ((deal.title) | slice:0:26)+'...':(deal.title)}}</span>
            <span *ngIf="deal.title.length < 26">{{(deal.title.length > 26) ? ((deal.title) | slice:0:26)+'...':(deal.title)}}</span>
            <div class="flex justify-between">
              <span class="w-20 mt-4 text-xxs 1.5xl:text-sm font-semibold text-left" style="color:#12B500;">{{deal.dealPrice}}&nbsp;&euro;</span>
              <span class="mt-4 text-xxs 1.5xl:text-sm line-through mx-3.5 text-left w-20" style="color:#94A1B3;">{{deal.originalPrice}}&nbsp;&euro;</span>
              <button class="h-5 mt-4 text-center w-36 text-xxs rounded-xl cursor-text" style="color: #12B500; background-color: #DBF4D9;">{{deal.discountPercentage.toFixed(2).replace('.',',')}}% off</button>
              <button [ngClass]="afterSave == false ? 'cursor-not-allowed': 'cursor-pointer'" [disabled]="afterSave == false" (click)="openModal(i)" type="button" class="py-1.5 px-5 ml-20 text-sm rounded-md mt-2.5" style="background-color:#EBF5FD; color: #0081E9;">Edit</button>
            </div>
            <hr style="border: 0.5px solid #96B1BC;" class="mb-4">
          </ng-container>
        </div>
    </div>
  </div>
</div>


<ng-template #modal>
  <div class="border-white modal-header">
    <h1 class="text-center">Edit Sub deal</h1>
    <div class="flex justify-end pb-8 m-0">
      <button (click)="closeModal()" class="px-2 py-1 text-sm font-normal text-gray-500 bg-gray-300 rounded-full">
        &#10006;
      </button>
    </div>
  </div>
  <div class="px-0 pt-2 modal-body">
    <div>
      <form class="px-6 mt-2 md:px-11 form" [formGroup]="editVouchers">
        <div class="h-24 fv-row 2xl:h-26">
          <label class="pb-2 text-gray-500">Sub deal title</label>
            <input maxlength="140" appTrim type="text" class="form-control" formControlName="title" name="title"
            [ngClass]="{
            'is-invalid': editVouchers.controls['title'].invalid && editVouchers.controls['title'].touched,
            'is-valid': editVouchers.controls['title'].valid}">
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Sub deal title is required',
            control: editVouchers.controls['title']
          }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'Special characters are not allowed',
          control: editVouchers.controls['title']
        }">
      </ng-container>
        </div>

        <div class="h-24 fv-row 2xl:h-26">
          <label class="pb-2 text-gray-500">Original price</label>
            <span class="absolute flex items-center h-11 "><i style="font-size:12px;" class="px-2.5 py-2.5 ml-2 xl:mt-1.5 2xl:mt-2 text-white bg-gray-500 rounded fas fa-euro-sign fa-lg"></i></span>
            <input appAllowTwoDecimal type="text" class="pl-12 form-control" formControlName="originalPrice"
            [ngClass]="{
            'is-invalid': editVouchers.controls['originalPrice'].invalid && editVouchers.controls['originalPrice'].touched,
            'is-valid':  editVouchers.controls['originalPrice'].valid}">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Original Price is required',
              control: editVouchers.controls['originalPrice']
            }">
            </ng-container>
          </div>

          <div class="h-24 fv-row 2xl:h-26">
            <label class="pb-2 text-gray-500">Deal price</label>
              <span class="absolute flex items-center h-11"><i style="font-size:12px;" class="px-2.5 py-2.5 ml-2 xl:mt-1.5 2xl:mt-2 text-white rounded fas fa-euro-sign fa-lg bg-success"></i></span>
              <input appAllowTwoDecimal type="text" class="pl-12 form-control" formControlName="dealPrice" name="dealPrice"
              [ngClass]="{
                'is-invalid': editVouchers.controls['dealPrice'].invalid && editVouchers.controls['dealPrice'].touched,
                'is-valid': editVouchers.controls['dealPrice'].valid && editVouchers.controls['dealPrice'].value != '' && editVouchers.controls['dealPrice'].value != null && editVouchers.controls['dealPrice'].value != undefined}">
                <div class="text-xs text-danger"
                *ngIf="editVouchers.controls['dealPrice']?.errors?.['confirmedValidator']">
                The deal price cannot be greater than the original price
              </div>
            </div>

          <div class="h-24 fv-row 2xl:h-26">
          <label class="pb-2 text-gray-500">Number of available sub deals</label>
            <div class="flex items-center justify-between h-8 border-2 border-white rounded-sm w-28">
              <button class="w-6 h-6 text-gray-500 bg-gray-200 rounded-md hover:text-primary-500 hover:bg-primary-100" (click)="editHandleMinus()">-</button>
              <input maxlength="4" appNumbersOnly type="text" style="height: 24px !important;min-height: unset;" class="w-12 py-0.5 px-0 text-xs text-center rounded-md form-control" placeholder="0" formControlName="numberOfVouchers" name="numberOfVouchers">
              <button class="w-6 h-6 text-gray-500 bg-gray-200 rounded-md hover:text-primary-500 hover:bg-primary-100" (click)="editHandlePlus()">+</button>
            </div>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Please specify number of sub deals',
              control: editVouchers.controls['numberOfVouchers']
            }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'min',
            message: 'Please specify number of sub deals',
            control: editVouchers.controls['numberOfVouchers']
          }">
        </ng-container>
        </div>
      </form>
    </div>
  </div>

  <div class="flex justify-between border-none modal-footer">
    <button type="button" class="self-center w-24 h-10 text-sm text-gray-500 bg-gray-200 rounded-lg" (click)="closeModal()">Discard</button>
    <button (click)="updateVouchers()" type="submit" class="self-center w-24 h-10 text-sm text-white rounded-lg bg-primary-400" [ngClass]="editVouchers.invalid ? 'opacity-50 cursor-not-allowed' : 'cursor-pointer opacity-100'" [disabled]="editVouchers.invalid">Update</button>
  </div>
</ng-template>

<ng-template #modal2>
  <div class="border-white modal-header">
    <h2 class="text-center">Sign in to admin account</h2>
    <div class="flex justify-end pb-8 m-0">
      <button (click)="closeSignInModal()" class="px-2 py-1 text-sm font-normal text-gray-500 bg-gray-300 rounded-full">
        &#10006;
      </button>
    </div>
  </div>

  <div class="px-0 pt-2 modal-body">
    <form class="px-6 mt-2 md:px-11 form" [formGroup]="signInForm">
      <div class="h-24 fv-row 2xl:h-26">
        <label class="pb-2 text-gray-500">Email</label>
          <input appTrim type="text" class="form-control" formControlName="email" name="email"
          [ngClass]="{
          'is-invalid': signInForm.controls['email'].invalid && signInForm.controls['email'].touched,
          'is-valid': signInForm.controls['email'].valid}">
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Email is required',
            control: signInForm.controls['email']}">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'pattern',
            message: 'Email is invalid',
            control: signInForm.controls['email']}">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minLength',
            message: 'Email should have at least 3 symbols',
            control: signInForm.controls['email']}">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxLength',
            message: 'Email should have maximum 360 symbols',
            control: signInForm.controls['email']}">
          </ng-container>
      </div>

      <div class="h-24 fv-row 2xl:h-26">
        <label class="pb-2 text-gray-500">Password</label>
        <div class="flex flex-row input-group-prepend justify-evenly">
          <span class="absolute flex items-center mt-3 cursor-pointer right-12" (click)="passwordShowHide()"><i [ngClass]="passwordHide ? 'far fa-eye': 'far fa-eye-slash'" class="p-2 ml-2 text-gray-600 bg-white rounded"></i></span>
          <input class="pr-20 form-control form-control-lg form-control-solid"
            type="{{passwordHide ? 'password' : 'text'}}"
            name="password"
            autocomplete="off"
            formControlName="password"
          >
        </div>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Password is required',
          control: signInForm.controls['password']}">
        </ng-container>
      </div>

      <div class="mt-3 fv-row">
        <button (click)="logInAsAdmin()" type="submit" class="py-3.5 text-sm text-white rounded-md w-full" style="background-color:#0081E9;">Sign in</button>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
      <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
