<app-test></app-test>

<app-slider [activePane]="isLeftVisible ? 'left' : 'right'">
  <div class="card" leftPane>

    <span class="business-header">My business details</span>

    <div class="flex justify-between central">
      <span class="contact-details">My contact details</span>
      <button [ngClass]="secondLeftVisible == false ? 'opacity-60 cursor-not-allowed': 'opacity-100 cursor-pointer'" type="button" class="edit-button" [disabled]="secondLeftVisible == false" (click)="isLeftVisible = false;">Edit</button>
    </div>

    <div class="flex justify-center mt-10">
      <img class="my-img" src="../../../assets/media/logos/Line-dash.svg">
    </div>

    <table class="datatable-table">
      <tbody class="datatable-body">
        <ng-container *ngIf="(authService.currentUser$ |async) as user">
          <tr>
            <td class="w-0 pb-4">
              <span class="spanner">First name</span>
            </td>
            <td class="w-0 pb-4">
              <span class="naming">{{user.firstName}}</span>
            </td>
          </tr>
          <tr>
            <td class="w-0 pb-4">
              <span class="spanner">Last name</span>
            </td>
            <td class="w-0 pb-4">
              <span class="naming">{{user.lastName}}</span>
            </td>
          </tr>
          <tr>
            <td class="w-0 pb-4">
              <span class="spanner">Email</span>
            </td>
            <td class="w-0 pb-4">
              <span class="naming">{{user.email}}</span>
            </td>
          </tr>
          <tr>
            <td class="w-0 pb-4">
              <span class="spanner">Mobile number</span>
            </td>
            <td class="w-0 pb-4">
              <span class="naming">{{user.phoneNumber}}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>

  <div class="card card-right" rightPane>
    <span class="business-header">My business details</span>
    <div class="flex justify-between central">
      <span class="contact-details">My contact details</span>
      <div class="flex justify-end pr-20 mt-6">
        <button type="button" class="discard-button" (click)="discardUpper()">Discard</button>
        <button [ngClass]="businessForm.invalid ? 'opacity-50': 'opacity-100'" type="submit" class="save-button" (click)="editForm()" [disabled]="businessForm.invalid">Save</button>
      </div>
    </div>
    <div class="flex justify-center mt-10">
      <img class="my-img" src="../../../assets/media/logos/Line-dash.svg">
    </div>

    <table class="datatable-table">
      <tbody class="datatable-body" [formGroup]="businessForm">
        <tr>
          <td class="pb-4">
            <span class="spanner">First name</span>
          </td>
          <td class="pb-4">
            <input class="form-control"  formControlName="firstName" maxlength="25">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'First name is required',
              control: businessForm.controls['firstName']
            }">
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="pb-4">
            <span class="spanner">Last name</span>
          </td>
          <td class="pb-4">
            <input class="form-control"  formControlName="lastName" maxlength="25">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Last name is required',
              control: businessForm.controls['lastName']
            }">
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="pb-4">
            <span class="spanner">Email</span>
          </td>
          <td class="pb-4">
            <span class="pl-3 naming">admin@gmail.com</span>
          </td>
        </tr>
        <tr>
          <td class="pb-4">
            <span class="spanner">Mobile number</span>
          </td>
          <td class="pb-4">
            <input appNumbersOnly maxlength="15" class="form-control" formControlName="phoneNumber">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Phone number is required',
              control: businessForm.controls['phoneNumber']
            }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'Phone number is invalid',
              control: businessForm.controls['phoneNumber']
            }">
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <div class="flex justify-center mt-5">
      <img class="my-img" src="../../../assets/media/logos/Line-dash.svg">
    </div> -->

    <!-- <div class="flex justify-end pr-20 mt-6 mb-2">
      <button type="button" class="discard-button" (click)="discardUpper()">Discard</button>
      <button [ngClass]="businessForm.invalid ? 'opacity-50': 'opacity-100'" type="submit" class="save-button" (click)="editForm()" [disabled]="businessForm.invalid">Save</button>
    </div> -->

  </div>
</app-slider>

<!--SECOND DIV-->
<app-slider [activePane]="secondLeftVisible ? 'left' : 'right'">
  <div class="card card-upper" leftPane>
    <div class="flex justify-between central">
      <span class="contact-details">My company details</span>
      <button [ngClass]="isLeftVisible == false ? 'opacity-60 cursor-not-allowed': 'opacity-100 cursor-pointer'" type="button" class="edit-button" [disabled]="isLeftVisible == false" (click)="secondLeftVisible = false;">Edit</button>
    </div>
    <div class="flex justify-center mt-12">
      <img class="my-img" src="../../../assets/media/logos/Line-dash.svg">
    </div>

    <table class="datatable-table">
      <tbody class="datatable-body">
        <ng-container *ngIf="(authService.currentUser$ |async) as user">
          <tr>
            <td class="w-0 pb-4">
              <span class="spanner">Legal name</span>
            </td>
            <td class="w-0 pb-4">
              <span class="naming">{{user.legalName}}</span>
            </td>
          </tr>
          <tr>
            <td class="w-0 pb-4">
              <span class="spanner">Street address</span>
            </td>
            <td class="w-0 pb-4">
              <span class="naming">{{user.streetAddress}}</span>
            </td>
          </tr>
          <tr>
            <td class="w-0 pb-4">
              <span class="spanner">Zip code</span>
            </td>
            <td class="w-0 pb-4">
              <span class="naming">{{user.zipCode}}</span>
            </td>
          </tr>
          <tr>
            <td class="w-0 pb-4">
              <span class="spanner">City</span>
            </td>
            <td class="w-0 pb-4">
              <span class="naming">{{user.city}}</span>
            </td>
          </tr>
          <tr>
            <td class="w-0 pb-4">
              <span class="spanner">Vat number</span>
            </td>
            <td class="w-0 pb-4">
              <span class="naming">{{user.vatNumber}}</span>
            </td>
          </tr>
          <tr>
            <td class="w-0 pb-4">
              <span class="spanner">IBAN</span>
            </td>
            <td class="w-0 pb-4">
              <span class="naming">{{user.iban}}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>


  <div class="card card-right-lower" rightPane>
    <div class="flex justify-between central">
      <span class="contact-details">My company details</span>
      <div class="flex justify-end pr-20 mt-6">
        <button type="button" class="discard-button" (click)="discardLower()">Discard</button>
        <button [ngClass]="businessForm.invalid ? 'opacity-50': 'opacity-100'" type="submit" class="save-button" (click)="editCompanyForm()" [disabled]="companyForm.invalid">Save</button>
      </div>
    </div>
    <div class="flex justify-center mt-10">
      <img class="my-img" src="../../../assets/media/logos/Line-dash.svg">
    </div>

    <table class="datatable-table">
      <tbody class="datatable-body" [formGroup]="companyForm">
        <tr>
          <td class="pb-4">
            <span class="spanner">Legal name</span>
          </td>
          <td class="pb-4">
            <input class="form-control" formControlName="legalName" maxlength="25">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Legal name is required',
              control: companyForm.controls['legalName']
            }">
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="pb-4">
            <span class="spanner">Street address</span>
          </td>
          <td class="pb-4">
            <input class="form-control" formControlName="streetAddress" maxlength="45">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Street address is required',
              control: companyForm.controls['streetAddress']
            }">
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="pb-4">
            <span class="spanner">Zip code</span>
          </td>
          <td class="pb-4">
            <input appNumbersOnly class="form-control" formControlName="zipCode" maxlength="4">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Zip code is required',
              control: companyForm.controls['zipCode']
            }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'zipInvalid',
              message: 'Zip code is invalid',
              control: companyForm.controls['zipCode']}">
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="pb-4">
            <span class="spanner">City</span>
          </td>
          <td class="pb-4">
            <input class="form-control" formControlName="city" maxlength="25">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'City is required',
              control: companyForm.controls['city']
            }">
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="pb-4">
            <span class="spanner">Vat number</span>
          </td>
          <td class="pb-4">
            <input appNumbersOnly maxlength="10" class="form-control" formControlName="vatNumber">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Vat number is required',
              control: companyForm.controls['vatNumber']
            }">
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="pb-4">
            <span class="spanner">IBAN</span>
          </td>
          <td class="pb-4">
            <input maxlength="35" class="form-control" formControlName="iban">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'IBAN number is required',
              control: companyForm.controls['iban']
            }">
            </ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'IBAN Number should at least be 15 characters',
              control: companyForm.controls['iban']
            }">
          </ng-container>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <div class="flex justify-center mt-5">
      <img class="my-img" src="../../../assets/media/logos/Line-dash.svg">
    </div> -->

    <!-- <div class="flex justify-end pr-20 mt-6 mb-2">
      <button type="button" class="discard-button" (click)="discardLower()">Discard</button>
      <button [ngClass]="businessForm.invalid ? 'opacity-50': 'opacity-100'" type="submit" class="save-button" (click)="editCompanyForm()" [disabled]="companyForm.invalid">Save</button>
    </div> -->

  </div>
</app-slider>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="ml-2 text-xs fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
