<!--Stepper with Calendar-->
<div class="flex flex-col w-full h-auto gap-2 mt-9 md:flex-row">
  <div class="flex justify-center w-full p-6 shadow-sm md:overflow-y-auto card card-custom">
    <div class="mb-9 lg:text-center">
      <h1 class="mt-1 mb-2.5 text-lg text-center md:text-xl xl:text-2xxl xl:font-semibold 2xl:text-3xl">Let's get this crazy deal scheduled!</h1>
      <div style="color: #0081E9;" class="text-xs font-medium text-center md:text-sm xl:text-base 3xl:text-lg">And we're good to go!</div>
    </div>

    <div class="w-full p-0 mt-4 lg:p-4 card card-custom card-stretch" style="border-top: 16px solid #0081E9;">
      <div class="relative bg-gray-200 lg:p-4 card card-custom card-stretch">
        <button *ngIf="uploaded == true" (click)="prevClick.emit('')" class="absolute py-3 text-xs text-white rounded-md px-9 top-5 right-32" style="background-color: black">Back</button>
        <button class="absolute py-3 text-xs text-white rounded-md px-9 top-5 right-5" style="background-color: #55C987;" (click)="openNew()">
          <ng-container *ngIf="uploaded == false">
            <span class="indicator-progress" [style.display]="'block'">
              Please wait...
              <span class="align-middle spinner-border spinner-border-sm ms-2"></span>
            </span>
          </ng-container>
          <ng-container *ngIf="uploaded == true">
            <span class="indicator-label">Send</span>
          </ng-container>
        </button>
        <full-calendar #fullCalendar [options]="calendarOptions"></full-calendar>
        <div class="flex items-center mt-5 justify-evenly lg:flex-row">
          <i class="text-yellow-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base md:mr-7 abc">In review</span></i>
          <i class="text-red-500 lg:mr-4 fas fa-circle"> <span class="ml-1 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base abc">Needs attention</span></i>
          <i class="text-blue-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base md:mr-7 abc">Scheduled</span></i>
          <i class="text-green-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base md:mr-7 abc">Published</span></i>
        </div>
      </div>
    </div>
  </div>
</div>


<app-reusable-modal #modal [modalConfig]="modalConfig">
  <div class="relative modal-header">
    <img src="../../../../../assets/media/icons/tick_mark.svg" class="absolute w-12 h-12 left-56 -top-7">
  </div>
  <div class="p-6 text-center modal-body">
    <div class="flex flex-col">
      <span class="mb-8">Your deal has successfully been sent for review. We will process it within <strong>24hrs</strong>.</span>
      <div class="flex justify-center">
        <button (click)="closeModal()" class="px-12 py-2 text-white bg-gray-900 rounded-md">OK</button>
      </div>
    </div>
  </div>

</app-reusable-modal>

<app-reusable-modal #modal2 [modalConfig]="modalConfig">
  <div class="relative modal-header">
    <img src="../../../../../assets/media/icons/cross-modal.svg" class="absolute w-12 h-12 left-56 -top-7">
  </div>
  <div class="p-6 text-center modal-body">
    <div class="flex flex-col">
      <span class="mb-8">Are you sure you want to delete schedule for the deal <strong>{{(data.dealHeader.length > 25) ? ((data.dealHeader) | slice:0:25)+'...':(data.dealHeader)}}</strong>.</span>
      <div class="flex justify-evenly">
        <button (click)="yesClickTrue()" class="px-8 py-2 text-white bg-gray-900 rounded-md">Yes</button>
        <button (click)="closeSecondModal()" class="px-8 py-2 text-gray-600 bg-gray-300 rounded-md">Cancel</button>
      </div>
    </div>
  </div>
</app-reusable-modal>


<ng-template #modal3>
  <div class="modal-content">
    <div class="flex justify-start px-6 py-7">
      <div class="relative">
        <span style="color: #313131; font-weight: 600; font-size: 20px;" class="absolute top-3.5 right-3">{{daysInMonth}}</span>
        <img src="../../../../../assets/media/icons/date.svg">
      </div>
      <span class="px-4 py-1" style="font-size: 22px; font-weight: 600">Schedule deal</span>
    </div>
    <form class="px-6 py-5" [formGroup]="dateForm">
      <div class="relative w-auto mt-2 input-icon">
        <span class="text-sm pb-1.5" style="color: #313131;">Start date&nbsp;*</span>
        <span class="absolute flex items-center mt-1 right-2"><i (click)="c.toggle()" class="p-2 mr-2 text-gray-600 rounded far fa-calendar-alt"></i></span>
        <input
          placeholder=""
          (keydown)="$event.preventDefault()"
          name="dp"
          [value]="startDate"
          formControlName="startDate"
          ngbDatepicker
          #c="ngbDatepicker"
          (click)="c.toggle()"
          style="width: 16.125rem; height: 2.5rem;"
          class="text-sm font-thin border-gray-400 cursor-pointer form-control"
        >
      </div>
      <div class="relative w-auto mt-2.5 input-icon">
        <span class="text-sm pb-1.5" style="color: #313131;">End date&nbsp;*</span>
        <span class="absolute flex items-center mt-1 right-2"><i #dPicker (click)="d.toggle();" class="p-2 mr-2 text-gray-600 rounded far fa-calendar-alt"></i></span>
        <input
          placeholder=""
          (keydown)="$event.preventDefault()"
          name="dp"
          [minDate]="dateForm.get('startDate')?.value"
          formControlName="endDate"
          ngbDatepicker
          #d="ngbDatepicker"
          (click)="d.toggle()"
          style="width: 16.125rem; height: 2.5rem;"
          class="text-sm font-thin border-gray-400 cursor-pointer form-control"
        >
      </div>
    </form>
    <div class="flex justify-around mt-10 mb-7">
      <button (click)="closeModal3()" class="px-5 py-2 rounded-md" style="background-color: #F2F3F4; color: #A0B7CB;">Discard</button>
      <button (click)="saveDates()" class="px-5 py-2 text-white rounded-md" style="background-color: #0081E9;">Save</button>
    </div>
  </div>
</ng-template>

<style>
.fc .fc-toolbar-title {
  margin-right: 13.75rem!important;
  font-weight: 500;
  font-size: 19px!important;
  color: #4E5970;
  }

.fc .fc-today-button {
  text-transform: capitalize!important;
  background: white!important;
  color: black!important;
  border: 1px solid white!important;
  padding-left: 30px!important;
  padding-right: 30px!important;
}

.fc .fc-prev-button {
  background: black!important;
}

.fc .fc-next-button {
  background: black!important;
}

.fc-daygrid-day .fc-day .fc-day-disabled {
  background-color: #F2F3F4!important;
}

.fc .fc-daygrid-day-frame {
  position: relative!important;
  min-height: 100%!important;
  background: white!important;
}

span {
  font-family: Arial, Helvetica, sans-serif
}

@media (max-width: 1280px) {
  .adjust {
    height: 550px;
 }

 .secondAdjust {
    height: 550px;
 }
}

@media (max-width: 640px) {
  .adjust {
    height: 400px;
 }

 .secondAdjust {
    height: 360px;
 }

 ::ng-deep .fc .fc-toolbar-title {
    font-size: 10px!important;
  }
}

.small-popup {
  max-width: 19.5rem!important;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  color: #728A9F !important;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

ngb-datepicker {
  border: none !important;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 0px 15px #00000029 !important;
  border-radius: 7px !important;
}

.ngb-dp-content.ngb-dp-months {
  padding: 20px 20px 16px 20px !important;
}

.ngb-dp-header {
  padding-top: 1.75rem !important;
  background: white !important;
}

.ngb-dp-arrow {
  align-items: center !important;
}

.btn.btn-link.ngb-dp-arrow-btn {
  width: 1.625rem !important;
  height: 1.625rem !important;
  background-color: #E2F1FC !important;
  padding: 0 !important;
  border-radius: 50px !important;
  margin: auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ngb-dp-navigation-chevron {
  width: 0.625rem !important;
  height: 0.625rem !important;
}

.ngb-dp-weekdays {
  @apply mt-5;
  border: none !important;
  background: white !important;
}

.ngb-dp-weekday {
  color: #0081E9 !important;
  font: normal normal normal 12px/17px Open Sans !important;
}

</style>
