<div class="flex justify-center h-full auth-main-con">
  <div
    class="h-auto max-w-md px-8 py-2 overflow-hidden lg:max-w-lg xl:max-w-xl lg:h-full login-content flex-row-fluid d-flex flex-column justify-content-center position-relative">
    <div class="d-flex flex-column-fluid flex-center">
      <form class="form w-100" [formGroup]="createPasswordForm" novalidate="novalidate" id="kt_login_signin_form"
        (ngSubmit)="submit()">
        <div class="text-center mb-9">
          <h1 class="mb-3 text-xl font-medium sm:text-3xl text-dark">Create New Password</h1>
        </div>

        <ng-container *ngIf="errorState === errorStates.HasError">
          <div class="mb-lg-15 alert alert-danger">
            <div class="alert-text font-weight-bold">
              The details are incorrect
            </div>
          </div>
        </ng-container>

        <div class="mb-5 fv-row">
          <label class="mb-3 text-xs font-light sm:text-sm form-label text-dark">Password</label>

          <input class="form-control form-control-lg form-control-solid" type="password" name="password"
            autocomplete="off" formControlName="password" [ngClass]="{
              'is-invalid': createPasswordForm.controls['password'].invalid && createPasswordForm.controls['password'].touched,
              'is-valid': createPasswordForm.controls['password'].valid}" />
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Password is required',
                        control: createPasswordForm.controls['password']}">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'minlength',
                        message: 'Password should have at least 8 characters',
                        control: createPasswordForm.controls['password']}">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'maxlength',
                        message: 'Password should have maximum 16 characters',
                        control: createPasswordForm.controls['password']}">
          </ng-container>
        </div>

        <div class="mb-5 fv-row">
          <label class="mb-3 text-xs font-light sm:text-sm form-label text-dark">Confirm Password</label>

          <input class="form-control form-control-lg form-control-solid" type="password" name="confirmPassword"
            autocomplete="off" formControlName="confirmPassword" [ngClass]="{
            'is-invalid': createPasswordForm.controls['confirmPassword'].invalid && createPasswordForm.controls['confirmPassword'].touched,
            'is-valid': createPasswordForm.controls['confirmPassword'].valid}" />

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Confirm your password',
                        control: createPasswordForm.controls['confirmPassword']}">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'minlength',
                        message: 'Confirmed Password should have at least 8 symbols',
                        control: createPasswordForm.controls['confirmPassword']}">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'maxlength',
                        message: 'Password should have maximum 16 symbols',
                        control: createPasswordForm.controls['confirmPassword']}">
          </ng-container>
          <div class="text-danger"
            *ngIf="createPasswordForm.controls['confirmPassword']?.errors?.['confirmedValidator']">
            The Passwords do not match
          </div>
        </div>

        <div class="text-right">
          <button type="submit" id="kt_sign_in_submit"
            class="mb-5 text-xs text-white bg-black sm:text-sm btn hover:btn-primary" [disabled]="createPasswordForm.invalid">
            <ng-container *ngIf="isLoading$ | async">
              <span class="indicator-progress" [style.display]="'block'">
                Please wait...
                <span class="align-middle spinner-border spinner-border-sm ms-2"></span>
              </span>
            </ng-container>
            <ng-container *ngIf="!(isLoading$ | async)">
              <span class="indicator-label">Continue</span>
            </ng-container>
          </button>
        </div>
      </form>
    </div>

  </div>
</div>

  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
      <div class="text-xs fv-plugins-message-container sm:text-sm">
        <span class="fv-help-block" role="alert">
          {{ message }}
        </span>
      </div>
    </ng-container>
  </ng-template>

