<div class="flex justify-center h-full auth-main-con">
  <div
    class="h-auto max-w-md px-8 py-2 overflow-hidden lg:max-w-lg xl:max-w-xl lg:h-full login-content flex-row-fluid d-flex flex-column justify-content-center position-relative">
    <div class="d-flex flex-column-fluid flex-center">
      <form class="form w-100" [formGroup]="createPasswordForm" novalidate="novalidate" id="kt_login_signin_form"
        (ngSubmit)="submit()">
        <div class="text-center mb-9">
          <h1 class="mb-3 text-xl font-medium sm:text-3xl text-dark">Create New Password</h1>
        </div>

        <!-- <ng-container *ngIf="errorState === errorStates.HasError">
          <div class="mb-lg-15 alert alert-danger">
            <div class="alert-text font-weight-bold">
              The details are incorrect
            </div>
          </div>
        </ng-container> -->



        <div class="w-full mb-3 form-group">
          <label class="mb-3">Password</label>
          <div class="flex flex-row input-group-prepend justify-evenly">
            <span class="absolute flex items-center mt-3 cursor-pointer right-14" (click)="passwordShowHide()"><i [ngClass]="passwordHide ? 'far fa-eye': 'far fa-eye-slash'" class="p-2 ml-2 text-gray-600 bg-white rounded far fa-eye"></i></span>
            <input
              type="{{passwordHide ? 'password' : 'text'}}"
              formControlName="password"
              name="password"
              class="pr-20 form-control"
              [ngbPopover]="popContent"
              [popoverTitle]="popTitle"
              placement="top-left"
              >
           </div>
           <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Password is required',
            control: createPasswordForm.controls['password']}">
          </ng-container>

          <ng-template #popTitle>
            <div class="">Password should include:</div>
          </ng-template>
          <ng-template #popContent>
            <div class="flex flex-col justify-evenly">
              <div [ngClass]="createPasswordForm.controls['password']?.hasError('required') || createPasswordForm.controls['password']?.hasError('minlength')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="createPasswordForm.controls['password']?.hasError('required') || createPasswordForm.controls['password']?.hasError('minlength')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. 8 characters</div>
              <div [ngClass]="createPasswordForm.controls['password']?.hasError('required') || createPasswordForm.controls['password']?.hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="createPasswordForm.controls['password']?.hasError('required') || createPasswordForm.controls['password']?.hasError('hasCapitalCase')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one uppercase</div>
              <div [ngClass]="createPasswordForm.controls['password']?.hasError('required') || createPasswordForm.controls['password']?.hasError('hasSmallCase')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="createPasswordForm.controls['password']?.hasError('required') || createPasswordForm.controls['password']?.hasError('hasSmallCase')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one lowercase</div>
              <div [ngClass]="createPasswordForm.controls['password']?.hasError('required') || createPasswordForm.controls['password']?.hasError('hasNumber')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="createPasswordForm.controls['password']?.hasError('required') || createPasswordForm.controls['password']?.hasError('hasNumber')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one numeric</div>
              <div [ngClass]="createPasswordForm.controls['password']?.hasError('required') || createPasswordForm.controls['password']?.hasError('hasSpecialCharacters')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="createPasswordForm.controls['password']?.hasError('required') || createPasswordForm.controls['password']?.hasError('hasSpecialCharacters')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one special character (@,*,#,$,%,&)</div>
            </div>
          </ng-template>
         </div>

        <div class="w-full mb-3 form-group">
          <label class="mb-3">Confirm Password</label>
          <div class="flex flex-row input-group-prepend justify-evenly">
            <span class="absolute flex items-center mt-3 cursor-pointer right-14" (click)="passwordShowHide()"><i [ngClass]="passwordHide ? 'far fa-eye': 'far fa-eye-slash'" class="p-2 ml-2 text-gray-600 bg-white rounded far fa-eye"></i></span>
            <input
              type="{{passwordHide ? 'password' : 'text'}}"
              formControlName="confirmPassword"
              name="confirmPassword"
              class="pr-20 form-control">
           </div>
           <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Confirm your password',
            control: createPasswordForm.controls['confirmPassword']}">
          </ng-container>
          <div class="text-xs text-danger"
            *ngIf="createPasswordForm.controls['confirmPassword']?.errors?.['confirmedValidator']">
            The Passwords do not match
          </div>
        </div>

        <div class="text-right">
          <button type="submit" id="kt_sign_in_submit"
            class="mb-5 text-xs text-white bg-black sm:text-sm btn hover:btn-primary" [disabled]="createPasswordForm.invalid">
            <ng-container *ngIf="isLoading$ == true">
              <span class="indicator-progress" [style.display]="'block'">
                Please wait...
                <span class="align-middle spinner-border spinner-border-sm ms-2"></span>
              </span>
            </ng-container>
            <ng-container *ngIf="isLoading$ == false">
              <span class="indicator-label">Continue</span>
            </ng-container>
          </button>
        </div>
      </form>
    </div>

  </div>
</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="text-xs fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>

