<div class="flex justify-center mx-auto" style="max-width: 963px;">
  <div class="w-full p-0">
    <div class="stepper stepper-links d-flex flex-column " id="kt_create_account_stepper">
      <div class="justify-start w-full mb-0 lg:mb-5 stepper-nav">
        <div (click)="changeStep(1)" class="stepper-item" [ngClass]="{
            current: currentStep$.value === 1,
            completed: currentStep$.value > 1
          }">
          <h6 class="fw-lighter">List View</h6>
        </div>

        <div (click)="changeStep(2)" class="stepper-item" [ngClass]="{
            current: currentStep$.value == 2,
            completed: currentStep$.value > 2
          }">
          <h6 class="fw-lighter">Calendar View</h6>
        </div>
      </div>
        <div class="current">
          <ng-container *ngIf="currentStep$.value === 1">
            <app-list-view class="w-100"></app-list-view>
          </ng-container>

          <ng-container *ngIf="currentStep$.value === 2">
            <app-calendar-view class="w-100" ></app-calendar-view>
          </ng-container>
        </div>
    </div>
  </div>
</div>
