<div class="p-0 card-body d-flex flex-column first" style="border-radius: 8px;">
  <div class="px-6 py-6 pb-0 border-none rounded-b-none flex-grow-1 card rounded-t-md firstly">
    <div class="flex-wrap d-flex flex-stack">
      <div>
        <a class="text-base font-semibold text-black">
         Vouchers Sold &nbsp;<span style="color: #728A9F;" class="mb-3 text-xs">Per Day</span>
        </a>

        <!-- <div class="text-muted fs-7 fw-bold">
          Finance and accounting reports
        </div> -->
      </div>

      <!-- <div class="fw-bolder fs-3" [ngClass]="'text-' + chartColor">$24,500</div> -->
    </div>
  </div>

  <div
    #chartRef
    class="mixed-widget-7-chart card-rounded-bottom"
    [style.height]="chartHeight"
    [style.width]="chartWidth"
    [style.background]="'white'"
  >
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [states]="chartOptions.states"
      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
      [markers]="chartOptions.markers"
      [plotOptions]="chartOptions.plotOptions"
    ></apx-chart>
  </div>
</div>

<style>
  .first {
    width: 388px;
  }

  .firstly {
    width: 388px;
  }

  @media(max-width: 1280px) {
    .first {
      width: 320px;
    }

    .firstly {
      width: 320px;
    }
  }
</style>
