<div class="p-0 card-body d-flex flex-column" style="box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%); border-radius: 8px;">
  <div class="pb-0 flex-grow-1 card-p">
    <div class="flex-wrap d-flex flex-stack">
      <div class="me-2">
        <a class="font-medium text-gray-700 fs-3">
         Revenue Graph
        </a>

        <div class="text-muted fs-7 fw-bold">
          Finance and accounting reports
        </div>
      </div>

      <!-- <div class="fw-bolder fs-3" [ngClass]="'text-' + chartColor">$24,500</div> -->
    </div>
  </div>

  <div
    #chartRef
    class="mixed-widget-7-chart card-rounded-bottom"
    [style.height]="chartHeight"
  >
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [states]="chartOptions.states"
      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
      [markers]="chartOptions.markers"
      [plotOptions]="chartOptions.plotOptions"
    ></apx-chart>
  </div>
</div>
