<h1 class="text-3xl mb-3.5">My DiviDeals Profile</h1>
<p class="mb-5 text-font-gray-600">How do you want to appear in our DiviDeals?</p>
<div class="mb-5 card mb-xl-10 company-details">
  <div class="py-6 cursor-pointer card-header" style="border-bottom:1px dashed #dddddd !important;">
    <h3 class="mb-0 fw-bolder">Company Details</h3>
    <!-- <a (click)="openCompanyModal()" class="edit-btn">Edit</a> -->
  </div>

  <div class="card-body border-top p-9">
    <ng-container *ngIf="(authService.currentUser$ |async) as user">
    <div>
      <label class="font-semibold">Company Name</label>
      <span>{{user.companyName}}</span>
    </div>
    <div>
      <label class="font-semibold">Street Address</label>
      <span>{{user.streetAddress}}</span>
    </div>
    <div>
      <label class="font-semibold">Zip Code</label>
      <span>{{user.zipCode}}</span>
    </div>
    <div>
      <label class="font-semibold">City</label>
      <span>{{user.city}}</span>
    </div>
    <div>
      <label class="font-semibold">Google Map Pin</label>
      <span>{{user.googleMapPin}}</span>
    </div>
    <div>
      <label class="font-semibold">Website/Social Media URL</label>
      <span>{{user.website_socialAppLink}}</span>
    </div>
  </ng-container>
  </div>
</div>

<app-reusable-modal #companyModal [modalConfig]="modalConfig" [cssClass]="{modalDialogClass:'company-modal'}">
  <div class="company-detail-modal">
    <div class="mb-5 card mb-xl-10 company-details edit-modal">
      <button class="self-end mt-4 mr-4 btn-close" (click)="closeCompanyModal()"></button>
      <div class="pt-2 cursor-pointer card-header px-16 mx-2.5" style="border-bottom:1px dashed #dddddd !important;">
        <h3 class="mb-5 text-base fw-bolder">Company Details</h3>
      </div>

      <form novalidate="" class="form px-16 mx-2.5">
        <div class="px-0 py-3 card-body">
          <div>
            <label>Company Name</label>
            <input type="text" class="form-control" placeholder="Company name" name="company" />
          </div>
          <div>
            <label>Street Address</label>
            <input type="text" class="form-control" placeholder="Company name" name="company" />
          </div>
          <div>
            <label>Zip Code</label>
            <input type="tel" class="form-control" placeholder="Company name" name="company" />
          </div>
          <div>
            <label>City</label>
            <input type="text" class="form-control" placeholder="City name" name="city" />
          </div>
          <div>
            <label>Google Map Pin</label>
            <input type="tel" class="form-control" placeholder="Company name" name="company" />
          </div>
          <div>
            <label>Website/Social Media URL</label>
            <input type="text" class="form-control" placeholder="Company website" name="companySite" />
          </div>
        </div>
      <div class="justify-between px-0 py-6 border-none card-footer d-flex">
        <button class="modal-close-btn"
        routerLinkActive="active"
        (click)="closeCompanyModal()">Discard</button>

        <button type="button" class="text-xs rounded-md modal-save-btn btn btn-dark" [disabled]="(isLoading$ | async)" (click)="saveSettings()">
          <ng-container *ngIf="!(isLoading$ | async); else Loading">Save</ng-container>
        </button>

      </div>
    </form>
    </div>
  </div>
</app-reusable-modal>

<ng-template #Loading>
  <span clas="indicator-progress" [style.display]="'block'">
    Please wait...{{ " " }}
    <span
      class="align-middle spinner-border spinner-border-sm ms-2"
    ></span>
  </span>
</ng-template>


<div class="card" style="box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%); border-radius: 8px;">
  <div class="py-6 cursor-pointer card-header" style="border-bottom:1px dashed #dddddd !important;">
    <h3 class="m-0 fw-bolder">Set Business Hours</h3>
    <a *ngIf="!isEditBusinessHours" (click)="editBusinessHours()" class="edit-btn">Edit</a>
  </div>
  <div class="pr-0 pl-0 card-body" style="background-color: white;">
    <div class="table-responsive">
      <table [formGroup]="businessHoursForm" class="table align-middle table-row-dashed table-row-gray-300 gs-0 gy-4">

        <tbody class="flex flex-col" formArrayName="businessHours" *ngIf="businessHoursFromControl" >
          <ng-container *ngFor="let formControls of businessHoursFromControl.controls;let i=index" [formGroupName]="i" >
          <tr class="relative flex justify-center items-center border-0">
            <td class="day pl-10">
                <div class="d-flex flex-column" [ngClass]="{'day-off' : !formControls.value.isWorkingDay}"><a (click)="isWorkingDay(formControls)"> {{ formControls.value.day}} </a></div>
                <p class="shope-status" [ngClass]="{'day-off' : !formControls.value.isWorkingDay}">{{formControls.value.isWorkingDay ? 'Opened' : 'Closed'}}</p>
              </td>
            <td class="time">
              <div>
                <input type="time" step="1" class="form-control" placeholder="First Start Time" formControlName="firstStartTime" />
              </div>
              <span>-</span>
              <div>
                <input type="time" step="1" class="form-control" placeholder="First End Time" formControlName="firstEndTime" />
              </div>
            </td>
            <td class="until">
              <span class="flex items-center justify-center text-center">Until</span>
            </td>
            <td class="time pr-10">
              <div>
                <input type="time" step="1" class="form-control" placeholder="Second Start Time" formControlName="secondStartTime" />
              </div>
              <span>-</span>
              <div>
                <input type="time" step="1" class="form-control" placeholder="Second End Time" formControlName="secondEndTime" />
              </div>


            </td>

          </tr>
        </ng-container>
        </tbody>
      </table>
      <div class="justify-between px-10 py-6 border-none card-footer d-flex" *ngIf="isEditBusinessHours">
        <button class="modal-close-btn"
        routerLinkActive="active"
        (click)="isEditBusinessHours = false;businessHoursForm.disable()">Discard</button>

        <button type="button" class="text-xs rounded-md modal-save-btn btn btn-dark" [disabled]="(isLoading$ | async)" (click)="saveBusinessHours()">
          <ng-container *ngIf="!(isLoading$ | async); else Loading">Save</ng-container>
        </button>

      </div>
    </div>
  </div>
</div>

<div style="box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%); border-radius: 8px; margin-top: 32px;">
  <div class="px-12 py-6 cursor-pointer card-header" style="border-style: none!important;">
    <div class="m-0 card-title">
      <h3 class="m-0 fw-bolder">My Business Profile</h3>
    </div>
  </div>
  <div class="px-12 card-body" style="background-color: white;">
    <form class="form row" [formGroup]="termsForm">
      <div class="pb-5">
       <ckeditor formControlName="generalTermsAgreements" [editor]="Editor" [config]="config" name="termsAndCondition"></ckeditor>
      </div>

      <div class="mt-6 mb-6 card-title">
        <h3 class="fw-bolder">General terms and agreements</h3>
      </div>

      <div class="pb-5">
        <ckeditor formControlName="businessProfile" [editor]="Editor" [config]="config"></ckeditor>
       </div>

       <button type="button" class="text-xs rounded-md modal-save-btn btn btn-dark" [disabled]="(isLoading$ | async) || termsForm.invalid" (click)="saveTerms()">
        <ng-container *ngIf="!(isLoading$ | async); else Loading">Save</ng-container>
      </button>

    </form>
  </div>
</div>

