<!-- <div
  [ngClass]="footerContainerCssClasses"
  class=" d-flex flex-column flex-md-row align-items-center justify-content-between"
> -->
  <!-- begin::Copyright  -->
  <!-- <div class="order-2 text-dark order-md-1">
    <span class="text-muted fw-bold me-2">{{ currentDateStr }} &copy;</span>
    <a class="text-gray-800 cursor-pointer text-hover-primary"> Keenthemes </a>
  </div> -->
  <!-- end::Copyright  -->

  <!-- begin::Nav  -->
  <!-- <ul class="order-1 menu menu-gray-600 menu-hover-primary fw-bold">
    <li class="menu-item">
      <a class="cursor-pointer menu-link ps-0 pe-2"> About </a>
    </li>
    <li class="menu-item">
      <a class="cursor-pointer menu-link pe-0 pe-2"> Contact </a>
    </li>
    <li class="menu-item">
      <a class="cursor-pointer menu-link pe-0"> Purchase </a>
    </li>
  </ul> -->
  <!-- end::Nav  -->
<!-- </div> -->
