.custom {
  position: fixed;
  width: 15.563rem;
  bottom: 0;
  right: 25px;
  z-index: 1;
  box-shadow: rgb(99 99 99 / 20%) 0px 3px 6px 0px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 24px 8px!important;
  background: white!important;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
}

::ng-deep .mat-expansion-indicator::after {
  transform: rotate(225deg) !important;
}
