

<div class="text-center mb-13">
  <h1 class="mb-5 fs-2hx fw-bolder">The when, the how and the where.</h1>
  <div class="text-gray-400 fw-bold fs-5">Let's make sure all terms are correct before publishing your deal.</div>
</div>

<div class="card card-custom card-stretch"  style="box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-7 px-9 py-11">
        <div class="pb-10">
          <label class="form-label mb-3">Duration</label>
          <p class="d-flex align-items-center text-gray-400 ">
            When can customers redeem their voucher
          </p>
          <label class="form-check form-check-custom form-check-solid align-items-start mt-2">
            <!--begin::Input-->
            <input class="form-check-input me-3" type="checkbox" name="email-preferences[]" value="1">
            <!--end::Input-->
            <!--begin::Label-->
            <span class="form-check-label d-flex flex-column align-items-start">
              <label class="form-label mb-3 required">Start Date</label>
              <div class="input-group date" data-provide="datepicker">
                <input type="date" class="form-control">
              </div>
              <span class="fs-6 mb-0 mt-2"><span class="text-red-500">*</span>Max 90 validity days</span>
            </span>
            <!--end::Label-->
          </label>
        </div>
        <div class="pb-10">
          <label class="form-check form-check-custom form-check-solid align-items-start">
            <!--begin::Input-->
            <input class="form-check-input me-3" type="checkbox" name="email-preferences[]" value="1">
            <!--end::Input-->
            <!--begin::Label-->
            <span class="form-check-label d-flex flex-column align-items-start">
              <label class="form-label mb-3">Voucher is valid for</label>
              <div class="input-group date items-center" data-provide="datepicker">
                <input type="number" class="form-control"> <span class="text-gray-400 ml-3">days after purchase</span>
              </div>
            </span>
            <!--end::Label-->
          </label>

        </div>
        <div class="pb-10 ">
          <label class="form-label mb-3">Where can customers redeem their vouchers?</label>
          <table class="datatable-table" style="display: block;">
            <tbody class="datatable-body" style="padding: 20px;">
              <tr data-row="0" class="datatable-row" style="left: 0px;">
                <td class="datatable-cell-sorted datatable-cell-center datatable-cell py-3 pr-12" aria-label="1"><span class="text-gray-400"
                    style="width: 30px;">Street Address</span>
                </td>
                <td data-field="OrderID" aria-label="64616-103" class="datatable-cell py-3 text-gray-700"><span
                    style="width: 108px;">200 E Gaines St, Talahase, FL 32336</span></td>
                </tr>
              <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                <td class="datatable-cell-sorted datatable-cell-center datatable-cell py-3 pr-12" aria-label="2"><span class="text-gray-400"
                    style="width: 30px;">Zip Code</span>
                </td>
                <td data-field="OrderID" aria-label="54868-3377" class="datatable-cell py-3 text-gray-700"><span
                    style="width: 108px;">23235</span>
                </td>
              </tr>
              <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                <td class="datatable-cell-sorted datatable-cell-center datatable-cell py-3 pr-12"  aria-label="2"><span class="text-gray-400"
                    style="width: 30px;">City</span>
                </td>
                <td data-field="OrderID" aria-label="54868-3377" class="datatable-cell py-3 text-gray-700"><span
                    style="width: 108px;">Ghent</span>
                </td>
              </tr>
              <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                <td class="datatable-cell-sorted datatable-cell-center datatable-cell py-3 pr-12"  aria-label="2"><span class="text-gray-400"
                    style="width: 30px;">Country</span>
                </td>
                <td data-field="OrderID" aria-label="54868-3377" class="datatable-cell py-3 text-gray-700"><span
                    style="width: 108px;">Belgium</span>
                </td>
              </tr>
             </tbody>
          </table>
          <button class="btn btn-light btn-active-light-primary" type="button" (click)="openVerticallyCentered(content)">Edit</button>
        </div>
        <div>
           <div class="d-flex flex-stack">
            <div class="mr-2">
              <p class="font-bold d-flex align-items-center text-dark">
                General terms & cancellation policy
              </p>
          </div>
            <div>
              <a class="fw-bold">Edit</a>
        </div>
            </div>
            <p class="p-5 text-justify text-gray-400" style="border: 1px solid #f38b41; border-radius: 12px;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
          molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
          obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
          nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
          tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
          quia. Quo neque error repudiandae fuga?
            </p>
        </div>
      </div>

      <div class="col-xl-5 px-9 py-11">
        <div class="mt-20">
          <div class="pb-10 pb-lg-15">
            <label class="form-check form-check-custom form-check-solid align-items-start">
              <!--begin::Input-->
              <input class="form-check-input me-3" type="checkbox" name="email-preferences[]" value="1">
              <!--end::Input-->
              <!--begin::Label-->
              <span class="form-check-label d-flex flex-column align-items-start">
                <label class="form-label mb-3 required">End Date</label>
                <div class="input-group date" data-provide="datepicker">
                  <input type="date" class="form-control">
                </div>
              </span>
              <!--end::Label-->
            </label>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <div class="p-0 m-0 d-flex justify-content-end">
      <button class="p-3 btn btn-sm btn-icon btn-bg-light btn-active-color-primary" (click)="modal.close('Close click')"
       style="border-radius: 100%;">
        <span class="text-gray-800 fs-6">x</span>
      </button>
    </div>
    <form class="mt-2 px-7 form">

      <div class="mb-3 form-group">
        <label class="mb-3">Street Address</label>
        <div class="input-group">
         <input type="text" class="form-control" placeholder="" />
        </div>
       </div>

       <div class="mb-3 form-group">
        <label class="mb-3">Zip Code</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" />
         </div>
       </div>

       <div class="form-group">
        <label class="mb-3">City</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" />
         </div>
       </div>



       <div class="form-group">
        <label class="mt-3 mb-3">Country</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" />
         </div>
       </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="text-white btn btn-dark" (click)="modal.close('Close click')">Save</button>
  </div>

</ng-template>




