<!--Title/ Header-->
<div class="mb-6 lg:text-center md:mb-13">
  <h1 class="mt-2 mb-3 text-sm text-center 3xl:text-3xl xl:mt-0 md:text-2xl">The when, the how and the where.</h1>
  <div class="text-xs font-thin text-center 3xl:text-xl text-primary-400 md:text-sm">Let's make sure all terms are correct before publishing your deal.</div>
</div>
<!--Card for Duration of Deal-->
<div class="flex justify-center w-full align-middle">
  <div class="w-full lg:w-3/4 card card-custom card-stretch" style="box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);">
    <div class="p-3 md:p-9 card-body">

      <div class="flex flex-col">
        <label class="mb-6 text-xs md:text-base">When can customers redeem their voucher?</label>

        <form class="form" [formGroup]="form">
          <div class="flex flex-col justify-between w-full align-middle xl:flex-row">

            <label class="mb-6 text-sm md:text-base form-check form-check-solid">
              <input
              class="border rounded-full form-check-input"
              type="checkbox"
              (click)="selectCheckBox(check_box_type.ONE); disableCheckBox();"
              [checked]="currentlyChecked === check_box_type.ONE || form.get('voucherStartDate')?.value"
              >
              <span class="text-xs form-check-label md:text-base"></span> Start Date &nbsp;<span class="text-red-600">*</span>
              <div class="flex-auto mt-4 mb-3 input-icon md:w-72">
                <span class="absolute flex items-center mt-2 ml-1"><i (click)="d.toggle()" class="p-2 ml-2 text-green-600 rounded far fa-calendar-alt"></i></span>
                <input
                  placeholder="yyyy-mm-dd"
                  [disabled]="currentlyChecked !== check_box_type.ONE"
                  (keydown)="disableManual($event)"
                  name="dp"
                  ngbDatepicker
                  #d="ngbDatepicker"
                  (click)="d.toggle()"
                  class="pl-12 text-sm font-thin cursor-pointer form-control"
                  formControlName="voucherStartDate"
                  name="voucherStartDate"
                >
              </div>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Start Date is required',
                control: form.controls['voucherStartDate']
              }">
              </ng-container>
              <span class="mb-0 text-xs tracking-widest text-gray-600 md:text-base"><span class="text-red-600">*</span>Max validity 90 days</span>
            </label>

            <label class="mt-1 text-sm xl:mt-1 3xl:items-center 3xl:justify-end 3xl:ml-44 form-check form-check-solid md:text-base">
              <span class="form-check-label"></span> End Date &nbsp;<span class="text-red-600">*</span>
              <div class="flex-auto mt-3 input-icon md:w-72">
                <span class="absolute flex items-center mt-2 ml-1"><i (click)="e.toggle()" class="p-2 ml-2 text-green-600 rounded far fa-calendar-alt"></i></span>
                <input
                [disabled]="currentlyChecked !== check_box_type.ONE"
                placeholder="yyyy-mm-dd"
                [minDate]="form.controls['voucherStartDate'].value"
                (keydown)="disableManual($event)"
                name="dp"
                ngbDatepicker
                #e="ngbDatepicker"
                (click)="e.toggle()"
                class="pl-12 text-sm font-thin cursor-pointer form-control"
                formControlName="voucherEndDate"
                name="voucherEndDate"
                >
              </div>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'End Date is required',
                control: form.controls['voucherEndDate']
              }">
              </ng-container>
            </label>
          </div>

          <div class="flex">
            <label class="mt-8 text-xs lg:mt-6 form-check form-check-solid md:text-base">
              <input
              [checked]="currentlyChecked === check_box_type.TWO || form.get('voucherValidity')?.value"
              class="mr-2 rounded-full form-check-input"
              type="checkbox"
              (click)="selectCheckBox(check_box_type.TWO); disableCheckBox();"
              >
              <span class="form-check-label">Voucher is valid for</span>
              <div class="relative mt-4">
                <div class="flex flex-col w-4/5 h-8 border-2 border-white rounded-sm md:flex-row md:w-3/5">
                  <div class="flex flex-row w-full md:w-2/5 md:mr-1">
                    <button [disabled]="btnDisable == true" class="h-full text-xl font-bold text-gray-500 bg-gray-200 rounded-md w-14" (click)="handleMinus()">-</button>
                    <input appNumbersOnly maxlength="4" type="text" placeholder="0" class="w-full text-center" formControlName="voucherValidity" name="voucherValidity">
                    <button [disabled]="btnDisable == true" class="h-full text-xl font-bold text-gray-500 bg-gray-200 rounded-md w-14" (click)="handlePlus()">+</button>
                  </div>
                  <div class="flex flex-row w-full mt-1 md:w-3/5">
                    <span class="text-xs text-gray-400 md:text-base">days after purchase</span>
                  </div>
                </div>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'Voucher validity date is required',
                  control: form.controls['voucherValidity']
                }">
                </ng-container>
              </div>
            </label>
          </div>

          <div class="pb-10 mt-8 ml-5">
            <label class="w-full mb-3 text-xs md:text-base">Where can customers redeem their vouchers?</label>
            <table class="datatable-table" style="display: block;">
              <tbody class="datatable-body" style="padding: 20px;">
                <tr data-row="0" class="datatable-row" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="1"><span class="text-xs text-gray-400 md:text-base"
                      style="width: 30px;">Street Address</span>
                  </td>
                  <td data-field="OrderID" aria-label="64616-103" class="py-3 text-xs text-gray-700 datatable-cell md:text-base">
                    <span
                      style="width: 108px;">{{policy.streetAddress}}
                    </span>
                  </td>
                  </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2"><span class="text-xs text-gray-400 md:text-base"
                      style="width: 30px;">Zip Code</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-base"><span
                      style="width: 108px;">{{policy.zipCode}}</span>
                  </td>
                </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2"><span class="text-xs text-gray-400 md:text-base"
                      style="width: 30px;">City</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-base"><span
                      style="width: 108px;">{{policy.city}}</span>
                  </td>
                </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2"><span class="text-xs text-gray-400 md:text-base"
                      style="width: 30px;">Country</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-base"><span
                      style="width: 108px;">{{policy.province}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <button class="btn btn-light btn-active-light-primary" type="button" (click)="openNew()">Edit</button> -->
          </div>

          <div class="ml-5">
            <div class="mr-2">
              <p class="flex items-center text-xs text-black md:font-medium">
                General terms & cancellation policy
              </p>
              <ckeditor [(ngModel)]="data.termsAndCondition" [editor]="Editor" [config]="config" formControlName="termsAndCondition" name="termsAndCondition"></ckeditor>
            </div>
            <button class="mt-4 btn-sm md:btn-lg btn btn-light btn-active-light-primary" type="button" (click)="toggleDisabled()">{{ form.controls['termsAndCondition'].disabled ? 'Edit' : 'Save Edits' }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Edit Modal-->
<app-reusable-modal #modal [modalConfig]="modalConfig">
  <div class="modal-body">
    <div class="p-0 m-0 d-flex justify-content-end">
      <button class="p-3 btn btn-sm btn-icon btn-bg-light btn-active-color-primary" (click)="closeModal()"
       style="border-radius: 100%;">
        <span class="text-gray-800 fs-6">x</span>
      </button>
    </div>
    <form [formGroup]="policyForm" class="px-4 mt-2 form">

      <div class="mb-3 form-group">
        <label class="mb-3">Street Address</label>
        <div class="input-group">
         <input formControlName="streetAddress" type="text" class="form-control">
        </div>
       </div>

       <div class="mb-3 form-group">
        <label class="mb-3">Zip Code</label>
        <div class="input-group">
          <input maxlength="4" formControlName="zipCode" appNumbersOnly type="text" class="form-control">
         </div>
       </div>

       <div class="form-group">
        <label class="mb-3">City</label>
        <div class="input-group">
          <input formControlName="city" type="text" class="form-control">
         </div>
       </div>

       <div class="form-group">
        <label class="mt-3 mb-3">Country</label>
        <div class="input-group">
          <input formControlName="province" type="text" class="form-control">
         </div>
       </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="text-white btn btn-dark" (click)="closeModal()">Save</button>
  </div>

</app-reusable-modal>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="text-xs fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>

<!-- <span class="text-2xl">{{data.termsAndCondition}}</span> -->

<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  padding-left: 10px;
  background-image: url('../../../../../assets/media/icons/calendar.svg');
  filter: invert(0);
}

input::-webkit-datetime-edit {
  position: relative;
  left: 20px;
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 20px;
}

</style>






