<div class="flex flex-col justify-center mt-4 lg:flex-row lg:justify-between">
  <div class="flex justify-start">
    <span style="font-size: 26px;" class="mr-3 font-bold">{{reviewData?.dealHeader}}</span>
    <span class="mt-2.5 text-base text-gray-700 underline">{{reviewData?.dealID}}</span>
  </div>
  <div class="text-gray-600 cursor-pointer hover:text-primary-400">
    <span [routerLink]="['/reviews']"><span style="font-size: 25px;">&#8249;</span>&nbsp;&nbsp;Reviews & ratings</span>
  </div>
</div>


<div class="flex flex-col justify-center mt-4 lg:flex-row lg:justify-between">
  <ng-container *ngIf="showData == false">
    <app-pending-skeleton></app-pending-skeleton>
  </ng-container>
  <ng-container *ngIf="showData == true">
    <div class="flex flex-col lg:flex-row justify-evenly">
      <div class="flex flex-row states statistics">
        <div style="padding: 0.875rem;" class="w-40 h-20 mr-4 bg-white">
          <span class="mb-1.5 text-sm font-medium">Total reviews</span>
          <br>
          <span class="text-base font-semibold text-xxl" style="color: #0FB947;">{{reviewData?.totalReviews}}</span>
        </div>
        <div style="padding: 0.875rem;" class="w-40 h-20 bg-white">
          <span class="mb-1.5 text-sm font-medium">Average rating</span>
          <br>
          <span class="text-base font-semibold text-xxl" style="color: #F1B33F;">{{reviewData?.ratingsAverage}}</span>
        </div>

      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="showData == false">
  <app-table-skeleton></app-table-skeleton>
</ng-container>

<ng-container *ngIf="showData == true">
  <div class="mt-4 overflow-x-scroll table-container px-7" style="background: #FFFFFF 0% 0% no-repeat padding-box; border-radius: 7px 7px 0px 0px;">
    <table class="w-full">
      <thead class="text-left text-black bg-white border-b-2 border-gray-200 border-dotted rounded-lg h-14">
        <th class="pr-4 font-semibold cursor-pointer same-font">Voucher ID</th>
        <th class="pr-4 font-semibold cursor-pointer same-font">Date redeemed</th>
        <th class="pr-4 font-semibold cursor-pointer same-font">Date review</th>
        <th class="pr-4 font-semibold cursor-pointer same-font">Rating</th>
      </thead>
      <tbody>
        <!-- <ng-container *ngFor="let data of reviewData?.data; let i = index;"> -->
          <tr class="z-40 h-16 text-left text-gray-700 bg-white border-b-2 border-gray-200 border-dotted rounded-lg">
            <td class="pr-4">V56784598</td>
            <td class="pr-4">24-09-2022</td>
            <td class="pr-4">17-10-2022</td>
            <td class="pr-4">
              <div class="rating">
                <div class="rating-label me-1 checked">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1 checked">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1 checked">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1 checked">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <span class="pt-1 ml-2 text-black">2.3</span>
              </div>
            </td>
            <td>
              <button (click)="openReviewModal()" class="px-6 py-2 text-sm font-semibold text-blue-500 bg-blue-100 rounded-md hover:bg-blue-600 hover:text-white">View</button>
            </td>
          </tr>
        <!-- </ng-container> -->
      </tbody>
    </table>
    <div class="flex justify-end w-full pb-4 pt-11">
      <ngb-pagination
          [(page)]="page"
          [pageSize]="limit"
          [collectionSize]="reviewData?.totalReviews"
          [maxSize]="5" [boundaryLinks]="false">
        </ngb-pagination>
    </div>
  </div>
</ng-container>

<ng-template #modal>
  <div class="flex justify-between border-white modal-header">
    <span class="px-3 text-lg" style="color: #313131; opacity: 0.7;">Customer name: &nbsp;<span class="text-lg font-semibold text-black">Harry Jonas</span></span>
    <div class="pb-8">
      <button (click)="closeModal()" class="px-3 py-2 text-xs font-normal text-gray-500 bg-gray-300 rounded-full">
        &#10006;
      </button>
    </div>
  </div>

  <div class="w-full pt-3" style="background-color: #FFF3CF;">
    <div class="flex justify-between px-10 py-4">
      <span style="color: #D9B23E;">Voucher ID &nbsp; <span style="color: #A17900;">V8958613</span></span>
      <span style="color: #D9B23E;">Date redeemed &nbsp; <span style="color: #A17900;">26-09-2022</span></span>
      <span style="color: #D9B23E;">Date review &nbsp; <span style="color: #A17900;">10-10-2022</span></span>
      <div class="flex justify-center">
        <span class="mr-2" style="color: #D9B23E;">Rating</span>
        <div class="rating">
          <div class="rating-label me-1 checked inner">
              <i class="fas fa-star fs-8"></i>
          </div>
          <div class="rating-label me-1 checked inner">
              <i class="fas fa-star fs-8"></i>
          </div>
          <div class="rating-label me-1 checked inner">
              <i class="fas fa-star fs-8"></i>
          </div>
          <div class="rating-label me-1 checked inner">
              <i class="fas fa-star fs-8"></i>
          </div>
          <div class="rating-label me-1 outer">
              <i class="fas fa-star fs-8"></i>
          </div>
        </div>
        <span class="ml-2" style="color: #A17900;">4.2</span>
      </div>
    </div>
  </div>

  <div class="py-4">
    <span class="px-10 font-bold" style="font-size: 20px; color: #060606;">Ratings</span>
  </div>

  <div class="flex justify-start w-full px-10 py-2">
    <ngb-progressbar class="mt-2.5" style="width: 8.938rem;" height=".4rem" type="warning" [value]="50"></ngb-progressbar>

    <div class="px-4 rating">
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1">
          <i class="fas fa-star fs-8"></i>
      </div>
    </div>

    <span class="px-3 text-black">2.3</span>
    <span class="px-3 text-black">Reception & service</span>
  </div>

  <div class="flex justify-start w-full px-10 py-2">
    <ngb-progressbar class="mt-2.5" style="width: 8.938rem;" height=".4rem" type="warning" [value]="100"></ngb-progressbar>

    <div class="px-4 rating">
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1">
          <i class="fas fa-star fs-8"></i>
      </div>
    </div>

    <span class="px-3 text-black">5.0</span>
    <span class="px-3 text-black">Atmosphere</span>
  </div>

  <div class="flex justify-start w-full px-10 py-2">
    <ngb-progressbar class="mt-2.5" style="width: 8.938rem;" height=".4rem" type="warning" [value]="75"></ngb-progressbar>

    <div class="px-4 rating">
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1 checked">
          <i class="fas fa-star fs-8"></i>
      </div>
      <div class="rating-label me-1">
          <i class="fas fa-star fs-8"></i>
      </div>
    </div>

    <span class="px-3 text-black">4.2</span>
    <span class="px-3 text-black">Deal value</span>
  </div>

  <div class="py-4">
    <span class="px-10 font-bold" style="font-size: 20px; color: #060606;">Review</span>
  </div>

  <div class="flex justify-start px-10 pb-3">
    <span class="py-5 text-lg font-semibold text-center text-white rounded-full px-7" style="background-color: #1D1D29;">{{Substring}}</span>
    <span style="color: #515151" class="px-6 text-sm">{{loremIpsum}}</span>
  </div>

  <div *ngIf="switchToReply == false" class="px-32 pb-32">
    <button (click)="switchToReplyMode()" class="px-3 py-2 text-xs rounded-md" style="background-color:#E5F2FD; color:#0081E9;">Reply</button>
  </div>

  <!--Before Reply Submit View-->
  <div class="pb-8 pl-32 pr-16" *ngIf="switchToReply == true && replyView == false">
    <textarea rows="4" class="w-full p-2 rounded-md mytextArea" style="border: 1px solid #C5C5C5;"></textarea>
    <div class="flex justify-start">
      <button (click)="discardReply()" class="px-3 py-2 mr-2 text-xs rounded-md" style="background-color:#E5F2FD; color:#0081E9;">Discard</button>
      <button (click)="submitReply()" class="px-3 py-2 text-xs text-white rounded-md" style="background-color:#0081E9;">Submit</button>
    </div>
  </div>

  <!--After Reply Submit View-->
  <div class="pb-8 pl-44" *ngIf="replyView == true">
    <img src="../../../assets/media/icons/reply.svg">
  </div>

  <div class="flex justify-start px-32 pb-8" *ngIf="replyView == true">
    <span class="w-16 h-12 pt-3 text-base font-semibold text-center text-black" style="background-color: #E2F1FC; border-radius: 100%;">{{CompanyName}}</span>
    <span style="color: #515151" class="px-6 text-sm"><span class="text-lg">Company name</span><br>{{semiLorem}}</span>
  </div>

</ng-template>

