<div class="mb-3 text-3xl font-semibold text-left lg:mb-0">Heavenly Massage</div>


<div class="flex flex-col justify-center lg:flex-row lg:justify-between">
  <div class="flex flex-col lg:flex-row justify-evenly">
    <div class="flex flex-col mt-4 mr-7">
      <span class="mb-4 text-lg text-gray-500 font-base">Total Reviews</span>
      <span class="text-5xl font-medium text-black">{{reviewData?.totalReviews}}</span>
    </div>
    <div class="flex flex-row">
      <div class="h-20 py-1 pl-2 pr-6 mr-5 bg-white lg:h-20 mt-9 w-42">
        <span class="inline-block text-xs text-left text-gray-500">Highest Rating</span>
        <div class="text-center rating">
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 0 ? 'checked' : '' ">
              <i class="fas fa-star fs-10"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 1 ? 'checked' : '' ">
              <i class="fas fa-star fs-10"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 2 ? 'checked' : '' ">
              <i class="fas fa-star fs-10"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 3 ? 'checked' : '' ">
              <i class="fas fa-star fs-10"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 4 ? 'checked' : '' ">
              <i class="fas fa-star fs-10"></i>
          </div>
        </div>
        <span class="justify-start inline-block text-xs text-black">{{reviewData?.maxRating}}</span>
      </div>
      <div class="h-20 py-1 pl-2 pr-6 bg-white lg:h-20 mt-9 w-42">
        <span class="inline-block text-xs text-left text-gray-500">Lowest Rating</span>
        <br>
        <div class="text-center rating">
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 0 ? 'checked' : '' ">
              <i class="fas fa-star fs-10"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 1 ? 'checked' : '' ">
              <i class="fas fa-star fs-10"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 2 ? 'checked' : '' ">
              <i class="fas fa-star fs-10"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 3 ? 'checked' : '' ">
              <i class="fas fa-star fs-10"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 4 ? 'checked' : '' ">
              <i class="fas fa-star fs-10"></i>
          </div>
        </div>
        <span class="inline-block text-xs text-black">{{reviewData?.minRating}}</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-start mt-8 lg:items-end lg:mt-0">
    <span class="font-semibold text-gray-500 font-base">Average Rating</span>
    <div class="flex flex-row justify-evenly">
      <div class="mt-3">
        <div class="text-center rating">
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 0 ? 'checked' : '' ">
              <i class="fas fa-star fs-6"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 1 ? 'checked' : '' ">
              <i class="fas fa-star fs-6"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 2 ? 'checked' : '' ">
              <i class="fas fa-star fs-6"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 3 ? 'checked' : '' ">
              <i class="fas fa-star fs-6"></i>
          </div>
          <div class="rating-label me-1" [ngClass]="reviewData?.maxRating > 4 ? 'checked' : '' ">
              <i class="fas fa-star fs-6"></i>
          </div>
        </div>
      </div>
      <div class="m-1">
        <span class="text-5xl font-semibold">{{reviewData?.ratingsAverage}}</span>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="showData == false">
  <app-table-skeleton></app-table-skeleton>
</ng-container>

<ng-container *ngIf="showData == true">
  <div class="table-container">
    <table class="w-full mt-10 rounded-md shadow-md">
      <tr class="text-gray-600 bg-gray-300 rounded-lg">
        <div style="all: unset" ngbDropdown display="dynamic" id="dropdownBasic1">
          <th class="p-4 font-semibold cursor-pointer">
            <div class="inline-flex">
              <div ngbDropdownToggle class="mt-1 bg-white rounded-sm form-check form-check-inline">
                <input class="form-check-input" type="checkbox" style="transform: scale(0.7);">
                <i class="fas fa-chevron-down fa-xs"></i>
                <label class="pr-1 form-check-label"></label>
              </div>
              <span class="mt-1">Rating</span>
            </div>
          </th>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <ng-container *ngFor="let rate of ratings">
              <button ngbDropdownItem (click)="filterByRating(rate.value)">
                <img [src]="rate.img">
              </button>
            </ng-container>
            <button class="m-3 btn btn-light-info btn-sm" (click)="resetFilters();">Reset</button>
          </div>
        </div>
        <th class="p-4 font-semibold cursor-pointer">Author Name</th>
        <th class="p-4 font-semibold cursor-pointer">Deal Name</th>
        <th class="p-4 font-semibold cursor-pointer">Review</th>
        <th class="p-4 font-semibold cursor-pointer">Action</th>
      </tr>
      <ng-container *ngFor="let data of reviewData?.Reviews">
        <tr class="z-40 text-gray-700 bg-white border-b-2 border-gray-200 rounded-lg">
          <td class="p-4">
            <div class="inline-flex">
              <div class="mt-1 form-check form-check-inline">
              <input class="form-check-input" type="checkbox" style="transform: scale(0.7);">
              <label class="form-check-label"></label>
            </div>
            <div class="text-center rating">
              <div class="rating-label me-1" [ngClass]="data.rating > 0 ? 'checked' : '' ">
                  <i class="fas fa-star fs-8"></i>
              </div>
              <div class="rating-label me-1" [ngClass]="data.rating > 1 ? 'checked' : '' ">
                  <i class="fas fa-star fs-8"></i>
              </div>
              <div class="rating-label me-1" [ngClass]="data.rating > 2 ? 'checked' : '' ">
                  <i class="fas fa-star fs-8"></i>
              </div>
              <div class="rating-label me-1" [ngClass]="data.rating > 3 ? 'checked' : '' ">
                  <i class="fas fa-star fs-8"></i>
              </div>
              <div class="rating-label me-1" [ngClass]="data.rating > 4 ? 'checked' : '' ">
                  <i class="fas fa-star fs-8"></i>
              </div>
            </div>
            </div>
          </td>
          <td class="p-4">
            <div class="flex justify-left">
              <img class="circle" [src]="data.profilePicURL">
              <span class="mt-2 ml-2 text-sm text-black font-base">{{data.customerName}}</span>
            </div>
          </td>
          <td class="p-4 text-sm font-medium text-gray-600">{{reviewData?.title}}</td>
          <td class="p-4" style="width: 40%;">
            <span class="text-sm font-medium">On {{data.createdAt | date}} at {{data.createdAt | date:'shortTime'}}</span>
            <br>
            <span class="text-xs text-justify text-gray-600 font-extralight">{{data.text}}</span>
          </td>
          <td class="p-4">
            <a class="px-1 py-1 text-gray-500 bg-gray-300 rounded-md cursor-pointer">
              <i class="p-1 fas fa-ban"></i>
            </a>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</ng-container>

