<div class="flex flex-row justify-between py-5 border-0 card-header first" style="background-color: #0081E9;">
  <h3 class="1.25xl:text-base xl:text-sm text-white">Sales Statistics</h3>
  <img src="../../../../../../../assets/media/logos/gen025.svg" style="filter: invert(100%);">
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="p-0 card-body firstly" style="border-radius: 8px;">
  <!-- begin::Chart -->
  <div
    #chartRef
    class="mixed-widget-2-chart card-rounded-bottom"
    style="background-color: #0081E9;"
  >
    <apx-chart *ngIf="(isLoading$ | async) == false"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [states]="chartOptions.states"
      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
      [markers]="chartOptions.markers"
      [plotOptions]="chartOptions.plotOptions"
    ></apx-chart>
    <ng-container *ngIf="(isLoading$ | async) == true">
      <div class="flex justify-center align-middle items-center mb-4" style="height: 249px;">
        <span class="indicator-progress" [style.display]="'block'" style="color: white;">
          <span class="align-middle spinner-border spinner-border-sm w-8 h-8" style="color: white;"></span>
        </span>
      </div>
    </ng-container>
  </div>
  <!-- end::Chart -->
  <!-- begin::Stats -->
  <div class="px-5 1.5xl:px-8 bg-white rounded-b-md 2xl:px-10 3xl:px-12 card position-relative h-54">
    <!-- begin::Row -->
    <div class="absolute flex justify-center -top-14 g-0">
      <!-- begin::Col -->
      <div class="mr-1 text-center 2xl:mr-2 col rounded-2 mb-7 fixed-card" style="background-color: #EEF6FF;">
        <span class="mt-5 text-center d-block" style="font-size: 0.813rem; color:#728A9F; font-weight: 600;"> Deals Published </span>
        <span *ngIf="(isLoading$ | async) == false" class="my-2 1.25xl:text-xxl xl:text-xl text-primary-400 d-block">{{(netRevenue | async)?.totalDeals}}</span>
        <ng-container *ngIf="(isLoading$ | async) == true">
          <span class="indicator-progress mt-4 2xl:mr-2 mr-1" [style.display]="'block'">
            <span class="align-middle spinner-border spinner-border-sm w-5 h-5"></span>
          </span>
        </ng-container>
      </div>
      <!-- end::Col -->
      <!-- begin::Col -->
      <div class="ml-1 text-center 2xl:ml-2 col rounded-2 mb-7 fixed-card" style="background-color: #F8FFEE;">
        <span class="mt-5 text-center d-block" style="font-size: 0.813rem; color:#728A9F; font-weight: 600;"> Vouchers Sold </span>
        <span *ngIf="(isLoading$ | async) == false" class="my-2 1.25xl:text-xxl xl:text-xl d-block" style="color:#12C861;">{{(netRevenue | async)?.totalVouchersSold}}</span>
        <ng-container *ngIf="(isLoading$ | async) == true">
          <span class="indicator-progress my-2 2xl:mr-2 mr-1" [style.display]="'block'">
            <span class="align-middle spinner-border spinner-border-sm w-5 h-5"></span>
          </span>
        </ng-container>
      </div>
      <!-- end::Col -->
    </div>
    <!-- end::Row -->
    <!-- begin::Row -->
    <div class="absolute flex justify-center g-0 top-16">
      <!-- begin::Col -->
      <div class="mr-1 text-center 2xl:mr-2 col rounded-2 mb-7 fixed-card" style="background-color: #FFF1D1;">
        <span class="mt-5 text-center d-block" style="font-size: 0.813rem; color:#728A9F; font-weight: 600;"> Net Revenue </span>
        <div *ngIf="(isLoading$ | async) == false" class="flex justify-center">
          <span class="my-2 1.25xl:text-xxl xl:text-xl d-block" style="color:#EFAF1B; max-width: 82%;">{{(netRevenue | async)?.netRevenue?.toFixed(0)}}</span>
          <img class="ml-2" src="../../../../../../../assets/media/logos/euro.svg">
        </div>
        <ng-container *ngIf="(isLoading$ | async) == true">
          <span class="indicator-progress my-2 2xl:mr-2 mr-1" [style.display]="'block'">
            <span class="align-middle spinner-border spinner-border-sm w-5 h-5"></span>
          </span>
        </ng-container>
      </div>
      <!-- end::Col -->
      <!-- begin::Col -->
      <div class="ml-1 text-center 2xl:ml-2 col rounded-2 mb-7 fixed-card" style="background-color: #FFEEEE;">
        <span class="mt-5 text-center d-block" style="font-size: 0.813rem; color:#728A9F; font-weight: 600;"> Overall Rating </span>
        <div class="flex justify-center">
          <img *ngIf="(isLoading$ | async) == false" class="mr-2" src="../../../../../../../assets/media/logos/star.svg">
          <span *ngIf="(isLoading$ | async) == false" class="my-2 1.25xl:text-xxl xl:text-xl d-block" style="color: #FE4897">{{(netRevenue | async)?.overallRating?.toFixed(1)}}</span>
          <ng-container *ngIf="(isLoading$ | async) == true">
            <span class="indicator-progress my-2 2xl:mr-2 mr-1" [style.display]="'block'">
              <span class="align-middle spinner-border spinner-border-sm w-5 h-5"></span>
            </span>
          </ng-container>
        </div>
      </div>
      <!-- end::Col -->
    </div>
    <!-- end::Row -->
  </div>
  <!-- end::Stats -->
</div>

<style>
.fixed-card {
  width: 8.688rem!important;
  height: 6.688rem!important;
  background-color: #EEF6FF;
}

.first {
  width: 331px;
}

.firstly {
  width: 331px;
}

@media (max-width: 1280px) {
  .fixed-card {
    width: 7.8rem!important;
    height: 5.8rem!important;
    background-color: #EEF6FF;
  }

  .first {
    width: 300px;
  }

  .firstly {
    width: 300px;
  }
}

@media(min-width: 1600px) and (max-width: 1920px) {
  .first {
    width: 400px;
  }

  .firstly {
    width: 400px;
  }
}

@media(min-width: 1440px) and (max-width: 1536px) {
  .first {
    width: 360px;
  }

  .firstly {
    width: 360px;
  }
}
</style>
