<div class="modal-header relative">
  <div class="absolute left-56 -top-7">
    <i class="text-yellow-500 fas fa-exclamation-circle" style="font-size: xxx-large!important;"></i>
  </div>
</div>
<div class="modal-body">
  <div class="text-center font-semibold text-gray-700">Your current page changes will not be saved.</div>
  <div class="text-center text-sm text-gray-700 pb-5 pt-2">Are you sure you want to continue?</div>
  <div class="flex justify-around">
    <button (click)="discard()" style="background-color: #0081E9;" class="cursor-pointer px-8 py-2 text-white bg-gray-900 rounded-md text-sm">Yes, Discard</button>
    <button (click)="cancel()" style="background-color: #D9E7FE;" class="cursor-pointer px-8 py-2 text-gray-600 bg-gray-300 rounded-md text-sm">No, Return</button>
  </div>
</div>

