<div class="modal-header">
  <div class="text-center text-gray-600 font-semibold pl-6">Your current page changes will not be saved</div>
</div>
<div class="modal-body">
  <div class="flex justify-around">
    <button (click)="cancel()" style="background-color: #D9E7FE;" class="cursor-pointer z-50 text-primary-400 rounded-md px-3.5 py-1.5 mr-2 text-sm">Cancel</button>
    <button (click)="discard()" style="background-color: #0081E9;" class="cursor-pointer z-50 text-white rounded-md px-4.5 py-2.5 text-sm">Discard</button>
  </div>
</div>

