.dropdown-toggle::after {
  display:none;
}

.customary {
  position: relative;
  display: inline-block;
}

.customary .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.table-conatiner {
  width: 100%!important;
  overflow-x: scroll;
}

// .half-circle {
//   width: 25px;
//   height: 20px;
//   background-color: gold;
//   border-top-left-radius: 110px;
//   border-top-right-radius: 110px;
//   border: 1px solid white;
//   border-bottom: 0;
//   transform: rotate(90deg);
//   position: absolute;
//   bottom: 119px;
//   left: 287px;
//   background: #F5F8FA;
//   z-index: 1000;
// }


@media (max-width: 600px) {

  .table-container {
      width: 100% !important;
      overflow-x: scroll;
  }

  th, td {min-width: 200px; }
}

