<span class="font-bold" style="font-size: 24px;">Vouchers</span>
<div class="flex flex-col justify-center mt-4 lg:flex-row lg:justify-between">
  <ng-container *ngIf="statsLoading == false">
    <app-pending-skeleton></app-pending-skeleton>
  </ng-container>
  <ng-container *ngIf="statsLoading == true">
    <div class="flex flex-col lg:flex-row justify-evenly">
      <div class="flex flex-row states statistics">
        <div style="padding: 0.875rem;" class="w-40 h-20 mr-4 bg-white">
          <span class="mb-1.5 text-sm font-medium">Total purchased</span>
          <br>
          <span class="text-base font-semibold text-xxl" style="color: #0FB947;">{{voucherStats?.purchasedVouchers}}</span>
        </div>
        <div style="padding: 0.875rem;" class="w-40 h-20 bg-white">
          <span class="mb-1.5 text-sm font-medium">Total redeemed</span>
          <br>
          <span class="text-base font-semibold text-xxl" style="color: #F1B33F;">{{voucherStats?.redeemedVouchers}}</span>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="flex flex-row justify-start w-full ml-2 space-x-2 lg:items-end lg:justify-end mt-9 lg:mt-0">
      <button
        (click)="resetFilters()"
        [ngClass]="
          !appliedFilterID &&
          !appliedFilterHeader &&
          !appliedFilterStatus &&
          !appliedFilterPaymentStatus &&
          !appliedFilterVoucherHeader ? 'hidden': 'text-sm cursor-pointer reset-button text-primary-400 xl:rounded-md'">
        Reset filters
      </button>

      <div *ngIf="buttonToSearch == true">
        <div class="relative flex justify-start input-group-prepend">
          <span class="absolute flex items-center mt-3 cursor-pointer right-3"><i (click)="buttonToSearch = false; valuesAvailable = false; searchControl.setValue('')" class="pb-2 not-italic leading-none text-gray-500 bg-white">&#10006;</i></span>
          <input #auto autofocus="true" [formControl]="searchControl" placeholder="Search by voucher ID" class="h-10 pr-12 text-sm text-gray-500 pl-11 myinput form-control" style="width: 18.313rem;">
          <span class="absolute flex items-center pl-2 mt-3 cursor-pointer left-2"><img src="../../../assets/media/logos/search-glass.svg" class="pb-1"></span>
          <div #myDrop="ngbDropdown" [open]="valuesAvailable" ngbDropdown display="dynamic" placement="top" class="absolute block rounded-lg top-14">
            <div class="px-6 pb-3 space-y-2 overflow-y-auto w-68 max-h-50" ngbDropdownMenu>
              <div class="py-2 mb-3 text-left text-black border-b-2 border-gray-400 border-dashed text-sm2">Voucher ID</div>
              <ng-container *ngFor="let voucher of (voucherSearchValues | async); let i = index">
                <button (click)="myDrop.close(); valuesAvailable = false; openModal(i)" type="button" class="px-2 py-1 rounded-md hover:bg-primary-light text-sm2" ngbDropdownItem>{{voucher.voucherID}}</button>
              </ng-container>
              <ng-container *ngIf="(voucherSearchValues | async)?.length == 0">
                <span class="p-5 text-center text-gray-500">No record/s found</span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <button
        *ngIf="buttonToSearch == false"
        (click)="switch()"
        class="h-10 px-5 text-sm text-white cursor-pointer bg-primary-500 xl:rounded-md">
        Redeem voucher
      </button>
  </div>
</div>

<ng-container *ngIf="showData == false">
  <app-table-skeleton></app-table-skeleton>
</ng-container>

<ng-container *ngIf="showData == true">
  <div class="mt-4 table-container px-7" style="background: #FFFFFF 0% 0% no-repeat padding-box; border-radius: 7px 7px 0px 0px;">
    <table class="w-full">
      <thead ngbDropdown display="dynamic" id="dropdownBasic2" class="text-left text-black bg-white rounded-lg h-14">
        <th class="pr-4 font-semibold cursor-pointer w-36 2xl:w-32">Voucher ID&nbsp;
          <app-filters
            (sendFilter)="filterSelectedVoucherByID($event)"
            (searchItem)="filterByVoucherID($event)"
            [options]="true"
            [search]="true"
            [searchBy]="'ID'"
            [optionsList]="filteredVoucherIDSearch"
            (filterApplied)="isFilterAppliedOnID($event)"
            [isFilterApplied]="appliedFilterID">
          </app-filters>
        </th>
        <th class="w-48 pr-4 font-semibold cursor-pointer">Deal&nbsp;
          <app-filters
            (sortHeader)="sortByTitle($event)"
            (sendFilter)="filterSelectedDealByHeader($event)"
            [sort]="true"
            (searchItem)="filterByDealHeader($event)"
            [searchBy]="'deal name'"
            [options]="true"
            [search]="true"
            [optionsList]="filteredDealHeaderSearch"
            (filterApplied)="isFilterAppliedOnHeader($event)"
            [isFilterApplied]="appliedFilterHeader">
          </app-filters>
        </th>
        <th class="pr-4 font-semibold cursor-pointer w-60">Voucher&nbsp;
          <app-filters
            (sortHeader)="sortByVoucherName($event)"
            [sort]="true"
            [searchBy]="'voucher name'"
            (sendFilter)="filterSelectedDealByVoucherHeader($event)"
            (searchItem)="filterByVoucherHeader($event)"
            [options]="true"
            [search]="true"
            [optionsList]="filteredVoucherNameSearch"
            (filterApplied)="isFilterAppliedOnVoucherHeader($event)"
            [isFilterApplied]="appliedFilterVoucherHeader">
          </app-filters>
        </th>
        <th class="w-24 pr-12 font-semibold text-right cursor-pointer">Value</th>
        <th class="pr-4 font-semibold text-right cursor-pointer w-36 2xl:w-28">Net earnings</th>
        <th class="w-40 pl-16 pr-4 font-semibold cursor-pointer">Status&nbsp;
          <app-filters
            [filterBy]="'status'"
            [isStatusFilter]="true"
            (sendFilterStatus)="filterSelectedStatus($event)"
            [statusFilters]="true"
            [optionsListStatus]="filteredStatusResult"
            (filterApplied)="isFilterAppliedOnStatus($event)"
            [isFilterApplied]="appliedFilterStatus">
          </app-filters>
        </th>
        <th class="font-semibold cursor-pointer w-36">Invoice status&nbsp;
          <app-filters
            [filterBy]="'payment status'"
            [isStatusFilter]="true"
            (sendFilterStatus)="filterSelectedInvoiceStatus($event)"
            [statusFilters]="true"
            [optionsListStatus]="filteredInvoiceStatus"
            (filterApplied)="isFilterAppliedOnPaymentStatus($event)"
            [isFilterApplied]="appliedFilterPaymentStatus">
         </app-filters>
        </th>
      </thead>
        <tbody>
          <ng-container *ngFor="let data of ordersData?.data; let i = index;">
          <tr class="z-40 h-16 text-left text-gray-700 bg-white border-b-2 border-gray-200 border-dotted rounded-lg">
            <td class="pr-4">{{(data.voucherID.toString().length > 30)? ((data.voucherID) | slice:0:30)+'..':(data.voucherID)}}</td>
            <td class="pr-4">
              <span *ngIf="data?.dealHeader.length >= 31" class="cursor-pointer" [ngbTooltip]="data?.dealHeader" placement="top" [container]="'body'">{{(data?.dealHeader.length>30) ? ((data?.dealHeader) | slice:0:30)+'..':(data?.dealHeader)}}</span>
              <span *ngIf="data?.dealHeader.length < 31">{{(data?.dealHeader.length>30) ? ((data?.dealHeader) | slice:0:30)+'..':(data?.dealHeader)}}</span>
            </td>
            <td class="pr-4">
              <span *ngIf="data?.voucherHeader.length >= 31" class="cursor-pointer" [ngbTooltip]="data?.voucherHeader" placement="top" [container]="'body'">{{(data?.voucherHeader.length>30)? ((data?.voucherHeader) | slice:0:30)+'..':(data?.voucherHeader)}}</span>
              <span *ngIf="data?.voucherHeader.length < 31">{{(data?.voucherHeader.length>30) ? ((data?.voucherHeader) | slice:0:30)+'..':(data?.voucherHeader)}}</span>
            </td>
            <td class="pr-12 text-right">{{data.amount.toFixed(2).replace('.', ',')}}&nbsp;&euro;</td>
            <td class="pr-4 text-right">{{data.net.toFixed(2).replace('.', ',')}}&nbsp;&euro;</td>
            <td class="pl-16 pr-4">{{data.status}}</td>
            <td class="pl-4">
              <button *ngIf="data.paymentStatus== 'Paid' || data.paymentStatus== 'Credited'  " class="flex items-center justify-center w-24 rounded-lg badge badge-secondary h-9 text-primary-400" style="background-color: #4185F926;">{{data.paymentStatus}} <img class="ml-2" src="/assets/media/icons/open-external-link.svg"></button>
              <button *ngIf="data.paymentStatus== 'Paid' && data.paymentStatus== 'Credited'  " class="flex items-center justify-center w-24 h-9 bg-none">{{data.paymentStatus}}</button>
              <span *ngIf="data.paymentStatus == 'Cooling off'" class="pl-2 text-gray-700">{{data.paymentStatus}}</span>
              <span *ngIf="data.paymentStatus == 'In process'" class="pl-2 text-gray-700">{{data.paymentStatus}}</span>
            </td>
           </tr>
          </ng-container>

          <ng-container *ngIf="ordersData?.data.length == 0">
            <tr class="w-full text-center">
              <td colspan="8" class="w-full pt-12 text-xl font-semibold text-gray-700">
                No Record Found
              </td>
            </tr>
            <tr class="w-full text-center">
              <td colspan="8" class="w-full py-3 text-gray-600">
                It seems we can't find any results.
              </td>
            </tr>
          </ng-container>
        </tbody>
    </table>
    <div class="flex justify-end w-full pb-4 pt-11">
      <ngb-pagination
          [(page)]="page"
          [pageSize]="limit"
          [collectionSize]="ordersData?.totalCount"
          [maxSize]="5" [boundaryLinks]="false" (pageChange)="next()">
        </ngb-pagination>
    </div>
  </div>
</ng-container>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

<ng-template #modal>
  <div class="relative flex items-end justify-center" style="height: 12.5rem;">
    <img src="../../../assets/media/logos/bg-black.svg" class="absolute top-0 object-fill w-full" style="height: 8.25rem;">
    <img src="../../../assets/media/logos/voucher_icon.svg" class="absolute rounded-full">
    <button (click)="closeModal()" style="background-color: #9399B2; color:#C2C5D3;" class="absolute px-2 py-1 text-sm font-normal rounded-full right-4 top-4">
      &#10006;
    </button>
  </div>

  <div class="flex flex-col items-center justify-center pt-4 pb-10">
    <div class="h-16 text-center w-80 pb-3.5">
      <span style="font-family: Ranille; color: #000000; font-size: 20px;">REDEEM VOUCHER</span>
    </div>
    <span class="text-base text-primary-400">Voucher ID:&nbsp; &nbsp;<span class="text-base font-semibold text-primary-400">{{(singleVoucher | async)?.voucherID}}</span></span>
  </div>

  <div class="flex justify-start px-8 mb-5">
    <app-main-blur-hash [blurHash]="(singleVoucher | async)?.imageURL?.blurHash" [imageSrc]="(singleVoucher | async)?.imageURL.captureFileURL" style="width: 9.313rem;" class="object-cover h-20 rounded-md"></app-main-blur-hash>
    <div class="flex flex-col">
      <span *ngIf="(singleVoucher | async)?.dealHeader.length >= 31" [ngbTooltip]="(singleVoucher | async)?.dealHeader" placement="top" [container]="'body'" class="pl-6 text-sm font-semibold text-black max-w-64">{{((singleVoucher | async)?.dealHeader.length > 31) ? (((singleVoucher | async)?.dealHeader) | slice:0:31)+'...':((singleVoucher | async)?.dealHeader)}}</span>
      <span *ngIf="(singleVoucher | async)?.dealHeader.length < 31" class="pl-6 text-sm font-semibold text-black max-w-64">{{((singleVoucher | async)?.dealHeader.length > 31) ? (((singleVoucher | async)?.dealHeader) | slice:0:31)+'...':((singleVoucher | async)?.dealHeader)}}</span>
      <div class="flex justify-start pl-6 mt-3">
        <span style="color: #94A1B3;" class="mt-2 mr-2 font-semibold line-through">{{(singleVoucher | async)?.originalPrice}}&nbsp;&euro;</span>
        <span style="color: #12B500;" class="mx-2 mt-2 font-bold">{{(singleVoucher | async)?.dealPrice}}&nbsp;&euro;</span>
        <button style="color: #12B500; background-color: #DBF4D9; width: 4.75rem; height: 1.613rem; font-size: 12px;" class="mx-2 mt-1.5 font-bold rounded-xl">{{(singleVoucher | async)?.discountedPercentage.toFixed(2)}}% off</button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="(singleVoucher | async)?.status != 'Redeemed' && (singleVoucher | async)?.status != 'Expired'">
    <div class="flex justify-start px-8 mt-3">
      <img class="mr-3" src="../../../assets/media/logos/time-fast.svg"><span style="color: #96B1BC;" class="text-sm">Expiry Date:<span class="ml-5 text-black">{{(singleVoucher | async)?.expiryDate | date: 'mediumDate'}}</span></span>
    </div>
    <div class="flex justify-start px-8 mt-2">
      <img class="mr-3" src="../../../assets/media/logos/q-mark.svg"><span style="color: #96B1BC;" class="text-sm">Status<span class="text-black ml-14">{{(singleVoucher | async)?.status}}</span></span>
    </div>

    <div class="flex justify-center mt-20 mb-6">
      <button (click)="redeemVoucher()" class="py-3 text-sm text-white rounded-md px-14 bg-primary-500">Redeem voucher</button>
    </div>
  </ng-container>

  <ng-container *ngIf="(singleVoucher | async)?.status == 'Redeemed'">
    <div class="py-5 mt-4 text-base text-white rounded-b-md px-14 bg-primary-500">
      This voucher has been redeemed on {{(singleVoucher | async)?.redeemDate | date: 'mediumDate'}}
    </div>
  </ng-container>

  <ng-container *ngIf="(singleVoucher | async)?.status == 'Expired'">
    <div class="py-5 mt-4 text-base text-center text-white rounded-b-md px-14" style="background-color: #F25858;">
      This voucher expired on {{(singleVoucher | async)?.expiryDate | date: 'mediumDate'}}
    </div>
  </ng-container>
</ng-template>

<app-media-progress [updateProgress$]="updateProgress"></app-media-progress>
