<div class="flex flex-row flex-wrap justify-between">
  <div class="mb-3 text-3xl font-semibold text-left lg:mb-0">My Vouchers</div>
  <div class="input-icon">
    <span class="mt-2.5 ml-1 absolute flex items-center"><i class="p-2 ml-2 text-gray-400 rounded fas fa-search fa-lg"></i></span>
    <input placeholder="Search By Voucher ID" type="text" class="pl-12 text-gray-700 bg-gray-200 border-0 form-control">
   </div>
</div>


<div class="flex flex-col justify-center lg:flex-row lg:justify-between">
  <div class="flex flex-col lg:flex-row justify-evenly">
    <div class="flex flex-col mt-4 mr-7">
      <span class="mb-4 text-lg text-gray-500 font-base">Total Sales</span>
      <span class="text-5xl font-medium text-black">421,584</span>
    </div>
    <div class="flex flex-row">
      <div class="h-20 py-1 pl-2 pr-12 mr-5 text-center bg-white lg:h-16 mt-9 w-38">
        <span class="mb-2 text-xs text-gray-500">Redeemed</span>
        <br>
        <span class="text-base text-yellow-500">421,584</span>
      </div>
      <div class="h-20 py-1 pl-2 pr-12 text-center bg-white lg:h-16 mt-9 w-38">
        <span class="mb-2 text-xs text-gray-500">Purchased</span>
        <br>
        <span class="text-base text-green-500">421,584</span>
      </div>
      <div class="h-20 py-1 pl-2 pr-12 ml-3 text-center bg-white lg:h-16 mt-9 w-38">
        <span class="mb-2 text-xs text-gray-500">Expired</span>
        <br>
        <span class="text-base text-red-500">13</span>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-start w-full ml-2 lg:items-end lg:justify-end mt-9 lg:mt-0">
    <div ngbDropdown display="dynamic" id="dropdownBasic1" class="m-2">
      <button class="hidden cursor-pointer xl:block xl:text-gray-500 xl:bg-gray-200 xl:rounded-md xl:px-6 xl:py-4 2xl:px-6 2xl:py-4" ngbDropdownToggle><i class="mr-3 far fa-calendar-alt"></i>Pick Date Range<i class="ml-3 fas fa-angle-down"></i></button>
      <button class="inline-flex px-2 py-2 text-gray-500 bg-gray-300 rounded-md cursor-pointer xl:hidden" ngbDropdownToggle><i class="far fa-calendar-alt"></i><i class="ml-3 fas fa-angle-down"></i></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <ngb-datepicker
          #dp
          (dateSelect)="onDateSelection($event)"
          [displayMonths]="1"
          [dayTemplate]="t"
          outsideDays="hidden"
          [footerTemplate]="footerTemplate">
        </ngb-datepicker>
      </div>
    </div>

    <div class="m-2">
      <button class="hidden cursor-pointer xl:block xl:text-gray-500 xl:bg-gray-200 xl:rounded-md xl:px-6 xl:py-4 2xl:px-6 2xl:py-4"><i class="mr-3 fas fa-retweet"></i>Reset Filters</button>
      <button class="inline-flex px-2 py-2 text-gray-500 bg-gray-300 rounded-md cursor-pointer xl:hidden"><i class="fas fa-retweet"></i></button>
    </div>
  </div>
</div>

<ng-container *ngIf="showData == false">
  <app-table-skeleton></app-table-skeleton>
</ng-container>

<ng-container *ngIf="showData == true">
  <div class="table-container">
    <table class="w-full mt-10 rounded-md shadow-md">
      <thead class="text-center text-black bg-gray-300 rounded-lg">
        <th class="p-4 font-normal cursor-pointer customary">Voucher ID</th>
        <th class="p-4 font-normal cursor-pointer">Deal&nbsp; <i class="fas fa-sort fa-xs"></i></th>
        <th class="p-4 font-normal cursor-pointer">Amount&nbsp; <i class="fas fa-sort fa-xs"></i></th>
        <th class="p-4 font-normal cursor-pointer">Status&nbsp; <i class="fas fa-sort fa-xs"></i></th>
        <th class="p-4 font-normal cursor-pointer">Payment Status&nbsp; <i class="fas fa-sort fa-xs"></i></th>
      </thead>
      <ng-container *ngFor="let data of ordersData?.data; let i = index;">
        <tr class="z-40 w-full text-center text-gray-700 bg-white border-b-2 border-gray-200 rounded-lg">

          <td class="p-4 font-medium">{{data.voucherID}}</td>
          <td class="p-4 font-thin">{{data.deal}}</td>
          <td class="p-4 font-thin">&euro;&nbsp;{{data.amount}}</td>

          <ng-container *ngIf="data.status == 'Purchased'">
            <td class="p-4 font-thin">
              <span class="px-5 py-3 badge badge-light-success rounded-2xl">{{data.status}}</span>
            </td>
          </ng-container>
          <ng-container *ngIf="data.status == 'Redeemed'">
            <td class="p-4 font-thin">
              <span class="px-5 py-3 badge badge-light-warning rounded-2xl">{{data.status}}</span>
            </td>
          </ng-container>
          <ng-container *ngIf="data.status == 'Expired'">
            <td class="p-4 font-thin">
              <span class="px-5 py-3 badge badge-light-danger rounded-2xl">{{data.status}}</span>
            </td>
          </ng-container>

          <td class="p-4 font-thin">
            <span class="px-5 py-3 badge badge-secondary rounded-2xl">{{data.paymentStatus}}</span>
          </td>
        </tr>
      </ng-container>

    </table>
  </div>
</ng-container>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

<!--Calendar Footer TEMPLATE-->
<ng-template #footerTemplate>
  <hr class="my-0">
  <button class="m-2 btn btn-primary btn-sm float-start" (click)="filterByDate(fromDate, toDate)">Apply Filter</button>
  <button class="mt-2 btn btn-secondary btn-sm float-end">Close</button>
</ng-template>


<!-- <div class="half-circle"></div> -->



