.dropdown-toggle::after {
  display:none;
}

.customary {
  position: relative;
  display: inline-block;
}

.customary .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.table-conatiner {
  width: 100%!important;
  overflow-x: scroll;
}

::ng-deep .ngb-dp-weekday {
  color: #4185F9!important;
  font-family: Arial, Helvetica, sans-serif!important;
  font-style: normal!important;
}

::ng-deep .form-select {
  margin-left: 2px;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

::placeholder {
  color: #9BB3C8;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #9BB3C8;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #9BB3C8;
}

.form-control {
  @apply border-white
}

.input-group-prepend {
  animation: slideIn 0.3s both ease-in;
}

@keyframes slideIn {
	0% {
		transform: scale(0, 1);
	}

	100% {
		transform: scale(1, 1);
	}
}

// .half-circle {
//   width: 25px;
//   height: 20px;
//   background-color: gold;
//   border-top-left-radius: 110px;
//   border-top-right-radius: 110px;
//   border: 1px solid white;
//   border-bottom: 0;
//   transform: rotate(90deg);
//   position: absolute;
//   bottom: 119px;
//   left: 287px;
//   background: #F5F8FA;
//   z-index: 1000;
// }


@media (max-width: 600px) {

  .table-container {
      width: 100% !important;
      overflow-x: scroll;
  }

  th, td {min-width: 200px; }
}

button.disabled {
  box-shadow: none !important;
}


.reset-button {

  width: 113px;
  height: 40px;
  background-color: #D9E7FE;
  border-radius: 8px;
}

.statistics {
  span {
    color: #728A9F;
    font-weight: 500;
  }
}

th {
  @apply font-semibold text-sm2;
  color: #545A60;
}

td {
  @apply text-sm2;
  color: #515151;
}

tr {
  // width: clac(100% - 2rem);
}

.active {
  background: #CCE6FB !important;
  color:#0081E9 !important;
}

.page-item .page-link {
  @apply h-7 w-7 text-xs;
  padding: 0!important;
  min-width: unset !important;
}
