

<div class="text-center mb-13">
  <h1 class="mb-5 fs-2hx fw-bolder">Let's set up your deal.</h1>
  <div class="text-gray-400 fw-bold fs-5">First impression matters! Let's start with creating your titles and description.</div>
</div>

<div class="card card-custom card-stretch"  style="box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);">

  <div class="card-body">
      <div>
        <div class="row">
          <div class="col-xl-7 px-9">
            <div class="p-10">
              <div class="pb-5">
                <label class="form-label mb-3">Title</label>
                <input type="text font-weight-light" class="form-control" placeholder="Enter title of your deal">
              </div>
              <div class="pb-5">
                <label class="form-label mb-3">subtitle</label>
                <input type="text font-weight-light" class="form-control" placeholder="Enter subtitle of your deal">
              </div>
              <div class="pb-5">
                <label class="form-label mb-3">Description</label>
                <textarea type="text font-weight-light" class="form-control" placeholder="Description" rows="7"></textarea>
              </div>
            </div>

          </div>

          <div class="col-xl-5 px-9">
            <div class="mt-10">

              <div class="d-flex flex-stack">
                <div class="mr-2">
                  <label class="d-flex align-items-center form-label mb-3">Uplaod images</label>
              </div>
                <div>
                  <label class="d-flex align-items-center font-light form-label text-gray-400 mb-3">0/10</label>
            </div>
                </div>


              <div class="image-input image-input-outline" id="kt_user_add_avatar">
                <div class="image-input-wrapper" style="background-image: url(&quot;https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/users/100_6.jpg&quot;);"></div>
                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                  <i class="fa fa-pen icon-sm text-muted"></i>
                  <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                  <input type="hidden" name="profile_avatar_remove" value="0">
                </label>
                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
              </div>
            </div>

          </div>

        </div>
      </div>
  </div>
</div>


