<!--Title/ Header-->
<div class="lg:text-center mb-13">
  <h1 class="mb-5 fs-hx fw-bolder">Let's set up your deal.</h1>
  <div class="text-gray-400 fw-bold fs-5">First impression matters! Let's start with creating your titles and description.</div>
</div>
<!--Card for Creating Deal-->
<div class="card card-custom card-stretch"  style="box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);">
  <div class="p-2 card-body" >
    <div class="row">
      <!--Form-->
      <div class="col-xl-7 px-9">
        <div class="p-0 lg:p-10">
          <div class="pb-5">
            <label class="mb-3 form-label">Title</label>
            <input type="text font-weight-light" class="form-control" placeholder="Enter title of your deal">
          </div>
          <div class="pb-5">
            <label class="mb-3 form-label">subtitle</label>
            <input type="text font-weight-light" class="form-control" placeholder="Enter subtitle of your deal">
          </div>
          <div class="pb-5">
            <label class="mb-3 form-label">Description</label>
            <textarea type="text font-weight-light" class="form-control" placeholder="Description" rows="7"></textarea>
          </div>
        </div>
      </div>
      <!--Upload Images-->
      <div class="col-xl-5 px-9">
        <div class="mt-0 lg:mt-10">
          <div class="d-flex flex-stack">
            <div class="mr-2">
              <label class="mb-3 d-flex align-items-center form-label">Uplaod images</label>
            </div>
            <div>
              <label class="mb-3 font-light text-gray-400 d-flex align-items-center form-label">0/10</label>
            </div>
          </div>

          <div class="image-input image-input-outline image-upload">
            <div class="image-input-wrapper" style="box-shadow: none; border: 1px solid #F38B41; opacity: 0.8;"></div>
            <label class="btn btn-xs btn-icon btn-hover-text-primary" style="position: absolute; top: 30px; left: 50px;">
              <span style="color: rgb(179, 179, 179); font-size: 30px" >+</span>
              <input type="file" accept=".png, .jpg, .jpeg">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


