.deal-details {
  label {
    @apply text-sm mb-3
  }
}

textarea.form-control {
  min-height: 96px;
  height: 96px;
}

.card-custom {
  max-width: 870px;
  height: 490px;
}

@media (min-width: 1900px) {
  .card-custom {
    height: 490px;
  }
}

@media (max-width: 1280px) {
  .card-custom {
    height: 440px;
  }
}

@media (max-width: 1366px) {
  .card-custom {
    height: 440px;
  }
}
