<ng-container *ngIf="showDiv.calendarView == true">
  <div class="relative">
    <button [routerLink]="['/deals/create-deal']" style="background-color: #0081E9;" class="cursor-pointer text-sm z-50 text-white rounded-md px-4.5 py-2.5 absolute top-6 right-0">Create deal</button>
  </div>
</ng-container>

<ng-container *ngIf="showDiv.listView == true">
  <div class="relative">
    <div class="z-50 flex flex-row items-end justify-end w-full mt-5 ml-2 lg:mt-0">
      <div class="absolute right-0 z-50 top-8">
        <button
          [ngClass]="!appliedFilterID && !appliedFilterHeader && !appliedFilterStatus ? 'hidden': 'cursor-pointer z-50 text-primary-400 rounded-md px-4.5 py-2.5 mr-2 text-sm'"
          style="background-color: #D9E7FE;"
          (click)="resetFilters()"
          >
          Reset filters
        </button>
        <button [routerLink]="['/deals/create-deal']" style="background-color: #0081E9;" class="cursor-pointer z-50 text-white rounded-md px-4.5 py-2.5 text-sm">Create deal</button>
      </div>
   </div>
  </div>
</ng-container>


<mat-tab-group [disableRipple]="true" [selectedIndex]="0" (selectedTabChange)="switchTabs($event); something();">
  <mat-tab label="List View">
    <ng-container *ngIf="showData == false">
      <app-table-skeleton></app-table-skeleton>
    </ng-container>
    <ng-container *ngIf="showData == true">
      <div class="pt-6 mt-10 bg-white rounded-md shadow-sm table-container">
        <table class="w-full">
          <thead class="relative">
            <tr class="text-left text-gray-700 bg-white rounded-lg">
              <th class="py-4 font-semibold text-main pl-14">Deal ID &nbsp;
                  <app-filters
                  (sendFilter)="filterSelectedDealByID($event)"
                  [optionsList]="filteredResultID"
                  (searchItem)="filterByDealID($event)"
                  [options]="true"
                  [search]="true"
                  [searchBy]="'ID'"
                  (filterApplied)="isFilterAppliedOnID($event)"
                  [isFilterApplied]="appliedFilterID">
                </app-filters>
              </th>
              <th class="p-4 font-semibold text-main">Deal &nbsp;
                <app-filters
                  (sortHeader)="filterByTitle($event)"
                  (sendFilter)="filterSelectedDealByHeader($event)"
                  [search]="true"
                  [sort]="true"
                  [searchBy]="'deal name'"
                  [options]="true"
                  (searchItem)="filterByDealHeader($event)"
                  [optionsList]="filteredHeaderUpdated"
                  (filterApplied)="isFilterAppliedOnHeader($event)"
                  [isFilterApplied]="appliedFilterHeader">
                </app-filters>
              </th>
              <th class="p-4 font-semibold text-main">Status &nbsp;
                <app-filters
                  [filterBy]="'deal status'"
                  [isStatusFilter]="true"
                  [statusFilters]="true"
                  (sendFilterStatus)="filterSelectedDealByStatus($event)"
                  [optionsListStatus]="filteredStatus"
                  (filterApplied)="isFilterAppliedOnStatus($event)"
                  [isFilterApplied]="appliedFilterStatus">
                </app-filters>
              </th>
              <th class="p-4 font-semibold text-main">Voucher sold</th>
              <th class="p-4 font-semibold text-main">Total net earnings</th>
            </tr>
            <div id="borderBottomMain"></div>
          </thead>
          <tbody class="relative">
           <ng-container *ngFor="let event of currentEvents; let index = index">
            <tr class="text-left text-gray-600 bg-white rounded-lg">
              <td class="py-4 text-left pl-14" [style.color]="event.dealStatus == 'Needs attention' ? '#FF4B4B': ''">{{event.dealID}}</td>
              <td [style.color]="event.dealStatus == 'Needs attention' ? '#FF4B4B': ''" class="p-4 text-left">{{(event.dealHeader.length > 22) ? ((event.dealHeader) | slice:0:22)+'...':(event.dealHeader)}}</td>
              <td [style.color]="event.dealStatus == 'Needs attention' ? '#FF4B4B': ''" class="p-4 text-left">{{event.dealStatus}}</td>
              <td [style.color]="event.dealStatus == 'Needs attention' ? '#FF4B4B': ''" class="p-4">{{event.soldVouchers}}</td>
              <td [style.color]="event.dealStatus == 'Needs attention' ? '#FF4B4B': ''" class="p-4 text-center">{{event.netEarnings}} &euro;</td>
              <td class="flex justify-center py-4 pr-8">
                <div style="all: unset" ngbDropdown placement="bottom">
                  <i ngbDropdownToggle class="fas fa-ellipsis-h fa-sm p-1.5 bg-gray-100 rounded-md cursor-pointer mr-1.5"></i>
                  <div class="z-50" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem class="flex justify-start px-2 m-2">
                      <img src="../../../../assets/media/icons/preview.svg" class="mt-1 mr-2">
                      <span class="text-sm text-gray-600">Preview</span>
                    </button>
                    <button *ngIf="event.dealStatus == 'Draft' || event.dealStatus == 'Needs attention' || event.dealStatus == 'Published' || event.dealStatus == 'Scheduled'" (click)="editDeal(index)" ngbDropdownItem class="flex justify-start px-2 m-2">
                      <img src="../../../../assets/media/icons/editing.svg" class="mt-1 mr-2">
                      <span class="text-sm text-gray-600">Edit</span>
                    </button>
                    <button *ngIf="event.dealStatus == 'Published' || event.dealStatus == 'Expired'" ngbDropdownItem class="flex justify-start px-2 m-2" (click)="duplicateDeal(index)">
                      <img src="../../../../assets/media/icons/Dublicate.svg" class="mt-1 mr-2">
                      <span class="text-sm text-gray-600">Duplicate</span>
                    </button>
                    <!-- <button (click)="deleteDeal(event.id)" ngbDropdownItem>Delete</button> -->
                  </div>
                </div>
                <button [ngClass]="event?.vouchers.length == 0 || event?.vouchers == [] ? 'cursor-not-allowed': 'cursor-pointer'" [disabled]="event?.vouchers.length == 0 || event?.vouchers == []" (click)="event.isCollapsed = !event.isCollapsed">
                  <i [ngClass]="!event.isCollapsed ? 'fas fa-chevron-down fa-sm p-1.5': 'fas fa-chevron-up fa-sm p-1.5'" class="bg-gray-100 rounded-md"></i>
                </button>
              </td>
            </tr>
            <div [ngClass]="index == 6 ? 'hidden': 'block'" id="borderMain"></div>
            <tr [@slideInOut] *ngIf="event.isCollapsed == true" class="z-0 w-full text-center bg-white">
              <td colspan="12">
                  <table class="p-4 rounded-lg" style="width: 96%; margin-left: auto; margin-right: auto; margin-bottom: 12px; background-color: rgb(226 237 254);">
                    <thead class="relative">
                      <tr class="text-left rounded-lg" style="color:#545A60;">
                        <th class="py-4 text-sm font-semibold pl-11">Voucher</th>
                        <th class="py-4 text-sm font-semibold">Sold</th>
                        <th class="py-4 text-sm font-semibold">Available</th>
                        <th class="py-4 text-sm font-semibold">Value</th>
                        <th class="py-4 text-sm font-semibold">Total sold</th>
                        <th class="py-4 text-sm font-semibold">Net earnings</th>
                      </tr>
                      <div id="borderBottom"></div>
                    </thead>
                    <tbody class="relative">
                      <ng-container *ngFor="let voucher of event?.vouchers; let i = index; let first = first; let last = last">
                      <tr class="text-left text-gray-600 rounded-lg">
                        <td class="py-4 text-sm pl-11">{{(voucher.subTitle.length>24) ? ((voucher.subTitle) | slice:0:24)+'...':(voucher.subTitle)}}</td>
                        <td class="px-5 py-4 text-sm">{{voucher.soldVouchers}}</td>
                        <td class="px-5 py-4 text-sm">{{voucher.numberOfVouchers}}</td>
                        <td class="py-4 pl-3 text-sm text-left">{{voucher.dealPrice}}&nbsp;&euro;</td>
                        <td class="py-4 text-sm text-left pl-7">{{voucher.grossEarning}}&nbsp;&euro;</td>
                        <td class="py-4 pl-16 text-sm text-left">{{voucher.netEarning}}&nbsp;&euro;</td> <!--ye wala-->
                        <td class="px-5 py-4 text-sm">
                          <img class="cursor-pointer" (click)="openNew(index, i)" src="../../../../assets/media/icons/edit.svg">
                        </td>
                      </tr>
                      <div id="borderBottom"></div>
                      <tr *ngIf="last" class="w-full">
                        <td colspan="12">
                          <ng-container *ngIf="event.startDate && event.endDate">
                            <tr class="w-full text-sm text-left text-gray-500">
                              <td class="py-4 pr-4 pl-11">Published from &nbsp;<span class="text-black">{{event?.startDate | date: 'dd-MM-yyyy'}} until {{event?.endDate | date: 'dd-MM-yyyy'}}</span></td>
                              <td class="px-4 py-4">Validity date &nbsp;<span class="text-black">{{event?.endDate | date: 'dd-MM-yyyy'}}</span></td>
                            </tr>
                          </ng-container>
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
              </td>
            </tr>
           </ng-container>

           <ng-container *ngIf="currentEvents.length == 0">
            <tr class="w-full text-center">
              <td colspan="8" class="w-full pt-12 text-xl font-semibold text-gray-700">
                No Record Found
              </td>
            </tr>
            <tr class="w-full text-center">
              <td colspan="8" class="w-full py-3 text-gray-600">
                It seems we can't find any results.
              </td>
            </tr>
          </ng-container>
        </table>
        <div class="flex justify-end px-5 pb-2 pt-14">
          <ngb-pagination
          [(page)]="page"
          [pageSize]="limit"
          [collectionSize]="dealData?.totalDeals"
          [maxSize]="5" [boundaryLinks]="false" (pageChange)="next()">
        </ngb-pagination>
        </div>
      </div>
    </ng-container>
  </mat-tab>
  <mat-tab label="Calendar View">
    <div class="w-full p-0 mt-4 card card-custom card-stretch" style="border-top: 8px solid #0081E9;">
      <div class="bg-gray-200 lg:p-4 card card-custom card-stretch">
        <full-calendar #fullCalendar [options]="calendarOptions"></full-calendar>
        <div class="flex items-center mt-5 justify-evenly lg:flex-row">
          <i class="text-yellow-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base md:mr-7 abc">In review</span></i>
          <i class="text-red-500 lg:mr-4 fas fa-circle"> <span class="ml-1 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base abc">Needs attention</span></i>
          <i class="text-blue-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base md:mr-7 abc">Scheduled</span></i>
          <i class="text-green-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base md:mr-7 abc">Published</span></i>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!--Calendar TEMPLATE-->
<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>


<!--Calendar Footer TEMPLATE-->
<!-- <ng-template #footerTemplate>
  <hr class="my-0">
  <button class="m-2 text-white btn btn-primary btn-sm float-center" [disabled]="!fromDate || !toDate" (click)="filterByDate(fromDate, toDate); myDrop.close()">Apply Filter</button>
  <button class="mt-2 mr-1 btn btn-secondary btn-sm float-end" (click)="myDrop.close()">Close</button>
</ng-template> -->

<!--Edit Voucher-->

<app-reusable-modal #modal [modalConfig]="modalConfig">
  <div class="border-white modal-header">
    <h1 class="text-center">Edit Voucher</h1>
    <div class="flex justify-end pb-8 m-0">
      <button (click)="closeModal()" class="px-2 py-1 text-sm font-normal text-gray-500 bg-gray-300 rounded-full">
        &#10006;
      </button>
    </div>
  </div>
  <div class="px-0 pt-2 modal-body">
    <div>
      <form class="px-6 mt-2 md:px-11 form" [formGroup]="editVouchers">
        <div class="h-24 fv-row 2xl:h-26">
          <label class="pb-2 text-gray-500">Voucher type</label>
            <input maxlength="140" appTrim type="text" class="form-control" formControlName="subTitle" name="subTitle"
            [ngClass]="{
            'is-invalid': editVouchers.controls['subTitle']?.invalid && editVouchers.controls['subTitle']?.touched,
            'is-valid': editVouchers.controls['subTitle']?.valid}">
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Deal Subtitle is required',
            control: editVouchers.controls['subTitle']
          }">
        </ng-container>
        </div>

        <div class="h-24 fv-row 2xl:h-26">
          <label class="pb-2 text-gray-500">Original price</label>
            <span class="absolute flex items-center h-11 "><i style="font-size:12px;" class="px-2.5 py-2.5 ml-2 xl:mt-1.5 2xl:mt-2 text-white bg-gray-500 rounded fas fa-euro-sign fa-lg"></i></span>
            <input maxlength="5" appNumbersOnly type="text" class="pl-12 form-control" formControlName="originalPrice"
            [ngClass]="{
            'is-invalid': editVouchers.controls['originalPrice']?.invalid && editVouchers.controls['originalPrice']?.touched,
            'is-valid':  editVouchers.controls['originalPrice']?.valid}">
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Original Price is required',
              control: editVouchers.controls['originalPrice']
            }">
            </ng-container>
          </div>

          <div class="h-24 fv-row 2xl:h-26">
            <label class="pb-2 text-gray-500">Deal price</label>
              <span class="absolute flex items-center h-11"><i style="font-size:12px;" class="px-2.5 py-2.5 ml-2 xl:mt-1.5 2xl:mt-2 text-white rounded fas fa-euro-sign fa-lg bg-success"></i></span>
              <input maxlength="5" appNumbersOnly type="text" class="pl-12 form-control" formControlName="dealPrice" name="dealPrice"
              [ngClass]="{
                'is-invalid': editVouchers.controls['dealPrice']?.invalid && editVouchers.controls['dealPrice']?.touched,
                'is-valid': editVouchers.controls['dealPrice']?.valid && editVouchers.controls['dealPrice']?.value != '' && editVouchers.controls['dealPrice']?.value != null && editVouchers.controls['dealPrice']?.value != undefined}">
                <div class="text-xs text-danger"
                *ngIf="editVouchers.controls['dealPrice']?.errors?.['confirmedValidator']">
                The deal price cannot be greater than the original price
              </div>
            </div>

          <div class="h-24 fv-row 2xl:h-26">
          <label class="pb-2 text-gray-500">Number of available vouchers</label>
            <div class="flex items-center justify-between h-8 border-2 border-white rounded-sm w-28">
              <button class="w-6 h-6 text-gray-500 bg-gray-200 rounded-md hover:text-primary-500 hover:bg-primary-100" (click)="editHandleMinus()">-</button>
              <input maxlength="4" appNumbersOnly type="text" style="height: 24px !important;min-height: unset;" class="w-12 py-0.5 px-0 text-xs text-center rounded-md form-control" placeholder="0" formControlName="numberOfVouchers" name="numberOfVouchers">
              <button class="w-6 h-6 text-gray-500 bg-gray-200 rounded-md hover:text-primary-500 hover:bg-primary-100" (click)="editHandlePlus()">+</button>
            </div>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Please specify number of vouchers',
              control: editVouchers.controls['numberOfVouchers']
            }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'min',
            message: 'Please specify number of vouchers',
            control: editVouchers.controls['numberOfVouchers']
          }">
        </ng-container>
        </div>
      </form>
    </div>
  </div>

  <div class="flex justify-between border-none modal-footer">
    <button type="button" class="self-center w-24 h-10 text-sm text-gray-500 bg-gray-200 rounded-lg" (click)="closeModal()">Discard</button>
    <button (click)="saveEditVoucherOnListView()" type="submit" class="self-center w-24 h-10 text-sm text-white rounded-lg bg-primary-400" [disabled]="editVouchers.invalid">Update</button>
  </div>
</app-reusable-modal>

<ng-template #modal2>
  <div class="flex justify-between border-white modal-header">
    <img [src]="clickInfo?._def.extendedProps.img" class="object-cover mr-3 rounded-md" style="width: 11.188rem; height: 6.25rem;">
    <div class="flex flex-col justify-evenly">
      <span class="text-lg font-semibold max-w-54 pb-7">{{(clickInfo?.title.length>20) ? ((clickInfo?.title) | slice:0:20)+'..':(clickInfo?.title)}}</span>
      <div class="flex pt-5 justify-evenly">
        <span class="text-sm text-gray-600">Publish from&nbsp; <span class="mr-3 text-sm font-semibold text-black">{{clickInfo?.start | date: 'dd-MM-yyyy'}}</span></span>
        <span class="text-sm text-gray-600">Validity&nbsp; <span class="text-sm font-semibold text-black">{{clickInfo?.end | date: 'dd-MM-yyyy'}}</span></span>
      </div>
    </div>
    <div class="pb-20">
      <button (click)="closeModal2()" class="px-2 py-1 text-xs font-normal text-gray-500 bg-gray-300 rounded-full">
        &#10006;
      </button>
    </div>
  </div>

  <div class="relative flex justify-between px-8 pb-10">
    <span class="float-left text-sm text-gray-600">Net price: <span class="text-sm text-black">{{clickInfo?._def.extendedProps.sold}} &euro;</span></span>
    <span class="text-sm text-gray-600 float-center">Sold vouchers: <span class="text-sm text-black">{{clickInfo?._def.extendedProps.sold}}</span></span>
    <span class="float-right text-sm text-gray-600">Status: <span class="text-sm text-black">{{clickInfo?._def.extendedProps.status}}</span></span>
    <div id="borderModal"></div>
  </div>

  <div class="overflow-y-scroll" style="max-height: 23.75rem;;"></div>
  <ng-container *ngFor="let dealVoucher of clickInfo?._def.extendedProps.vouchers; let j = index">
    <div class="flex justify-between px-8">
      <span class="text-sm text-gray-600">Deal ID: <span class="text-sm text-black">{{clickInfo?._def.extendedProps.dealID}}</span></span>
      <img (click)="openCalendarNew(j)" class="cursor-pointer" src="../../../../assets/media/icons/edit.svg">
    </div>
    <div class="w-full px-8">
      <span class="font-semibold text-left" style="color: #379CED;">{{(dealVoucher?.subTitle.length>30) ? ((dealVoucher?.subTitle) | slice:0:30)+'..':(dealVoucher?.subTitle)}}</span>
      <div class="flex justify-between pt-2.5 pb-10 relative">
        <span class="text-sm text-gray-600">Sold <span class="text-black">{{clickInfo?._def.extendedProps.sold}}</span></span>
        <span class="text-sm text-gray-600">Available <span class="text-black">{{clickInfo?._def.extendedProps.sold}}</span></span>
        <span class="text-sm text-gray-600">Value <span class="text-black">{{clickInfo?._def.extendedProps.sold}} &euro;</span></span>
        <span class="text-sm text-gray-600">Total sold <span class="text-black">{{clickInfo?._def.extendedProps.sold}} &euro;</span></span>
        <span class="text-sm text-gray-600">Net earnings <span class="text-black">{{clickInfo?._def.extendedProps.sold}} &euro;</span></span>
        <div [ngClass]="j == (clickInfo?._def.extendedProps.vouchers.length - 1) ? 'hidden': 'block'" id="borderModalA"></div>
      </div>
    </div>
  </ng-container>


</ng-template>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control?.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="text-xs fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>



