.mat-tab-label {
  @apply mt-5 w-5 h-2 relative;
  opacity: 1!important;
}

.mat-tab-label-active {
  color: #f38b41!important;
}

.mat-tab-label.mat-tab-label-active:after {
  opacity: 1!important;
  color: #f38b41!important;
  content: ' ';
  text-decoration: none;
  position: absolute;
  width: 15%;
  left: 18%;
  height: 100%;
  margin-left: 25%;
  border-bottom: solid 6px #f38b41;
}

.moon {
  margin-top: 10px;
  margin-bottom: -10px;
  width: 28px;
  height: 28px;
  margin-right: 70px;
  padding: 0;
  border-radius: 50%;
  box-shadow: inset 6px 13px #FF0000, inset 6px 13px 0px 6px #FF0000;
  color: white;
}

input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  left: 0;
  opacity: 1;
  display: block;
  width: 18px;
  height: 18px;
  padding-left: 10px;
  background-image: url('../../../../assets/media/logos/blue-calendar.svg');
  filter: invert(0);
}

input::-webkit-datetime-edit {
  position: relative;
  left: 20px;
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 20px;
}

.dropdown-toggle::after {
  display: none;
}

.table-conatiner {
  width: 100%!important;
  overflow-x: scroll;
}

// ::ng-deep .fc .fc-toolbar-title {
//   margin-right: 60px!important;
//   font-weight: 500;
//   font-size: 19px!important;
//   color: #4E5970;
// }

// ::ng-deep .fc .fc-today-button {
//   text-transform: capitalize!important;
//   background: rgba(245, 240, 240, 0.884)!important;
//   color: black!important;
//   border: 1px solid white!important;
// }

// ::ng-deep .fc .fc-prev-button {
//   background: black!important;
// }

// ::ng-deep .fc .fc-next-button {
//   background: black!important;
// }

@media (max-width: 600px) {

  .table-container {
      width: 100% !important;
      overflow-x: scroll;
  }

  th, td {min-width: 200px; }

  .mat-tab-label .mat-tab-label-content {
    font-size: 10px;
    font-weight: 600;
  }
}

