<ng-container *ngIf="showDiv.calendarView == true">
  <div class="absolute md:top-28 md:right-6 lg:top-24 lg:right-12 3xl:right-48 right-6 top-28 setting">
    <div class="moon">
      <span class="ml-2 text-xs">05</span>
    </div>
    <span class="mb-4 ml-4 text-sm font-thin text-center text-gray-700 lg:font-semibold lg:text-base">Monthly Schedule</span>
  </div>
</ng-container>

<ng-container *ngIf="showDiv.listView == true">
  <div class="absolute z-40 3xl:right-48 lg:top-28 lg:right-8 md:top-28 md:right-4 right-5 top-28">
    <div class="flex flex-row items-end justify-end w-full mt-5 ml-2 lg:mt-0">
      <div #myDrop="ngbDropdown" ngbDropdown display="dynamic" id="dropdownBasic1" class="m-2">
        <button class="hidden cursor-pointer xl:block xl:text-gray-500 xl:bg-gray-200 xl:rounded-md xl:px-5 xl:py-3 3xl:px-5 3xl:py-3" ngbDropdownToggle><i class="mr-3 far fa-calendar-alt"></i>Pick Date Range<i class="ml-3 fas fa-angle-down"></i></button>
        <button class="inline-flex px-2 py-2 text-gray-500 bg-gray-300 rounded-md cursor-pointer xl:hidden" ngbDropdownToggle><i class="far fa-calendar-alt"></i><i class="ml-3 fas fa-angle-down"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <ngb-datepicker
            #dp
            (dateSelect)="onDateSelection($event)"
            [displayMonths]="1"
            [dayTemplate]="t"
            outsideDays="hidden"
            [footerTemplate]="footerTemplate">
          </ngb-datepicker>
        </div>
      </div>
      <div class="mb-2 mr-3">
        <button (click)="resetFilters()" class="hidden cursor-pointer xl:block xl:text-gray-500 xl:bg-gray-200 xl:rounded-md xl:px-5 xl:py-3 3xl:px-5 3xl:py-3"><i class="mr-3 fas fa-retweet"></i>Reset Filters</button>
        <button (click)="resetFilters()" class="inline-flex px-2 py-2 text-gray-500 bg-gray-300 rounded-md cursor-pointer xl:hidden"><i class="fas fa-retweet"></i></button>
      </div>
   </div>
  </div>
</ng-container>


<mat-tab-group [disableRipple]="true" [selectedIndex]="0" (selectedTabChange)="switchTabs($event); something();">
  <mat-tab label="List View">
    <ng-container *ngIf="showData == false">
      <app-table-skeleton></app-table-skeleton>
    </ng-container>
    <ng-container *ngIf="showData == true">
      <div class="table-container">
        <table class="w-full mt-10 rounded-md shadow-sm">
          <tr class="text-center text-gray-600 bg-gray-300 rounded-lg">
            <th class="p-4 font-semibold text-black cursor-pointer" (click)="filterByTitle('Descending')">Deals Title&nbsp; <i class="fas fa-sort fa-xs"></i></th>
            <th class="p-4 font-semibold text-black cursor-pointer" (click)="filterByStartDate('Descending')">Start Date&nbsp; <i class="fas fa-sort fa-xs"></i></th>
            <th class="p-4 font-semibold text-black cursor-pointer" (click)="filterByEndDate('Descending')">End Date&nbsp; <i class="fas fa-sort fa-xs"></i></th>
            <th class="p-4 font-semibold text-black cursor-pointer">Available&nbsp; <i class="fas fa-sort fa-xs"></i></th>
            <th class="p-4 font-semibold text-black cursor-pointer">Sold&nbsp; <i class="fas fa-sort fa-xs"></i></th>
            <div style="all: unset" ngbDropdown display="dynamic" id="dropdownBasic3">
              <th ngbDropdownToggle class="p-4 font-semibold text-black cursor-pointer">Status&nbsp; <i class="fas fa-chevron-down fa-xs"></i></th>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                <ng-container *ngFor="let type of statusTypes">
                  <button ngbDropdownItem (click)="filterByStatus(type.status)">
                    {{type.status}}
                  </button>
                </ng-container>
              </div>
            </div>
            <th class="p-4 font-semibold text-black cursor-pointer">Action</th>
          </tr>
          <ng-container *ngFor="let event of currentEvents; let index = index">
            <tr class="z-40 w-full text-center text-black bg-white rounded-lg">
              <td class="flex flex-row items-center justify-start p-4 font-thin">
                <img class="rounded-full w-7 h-7 lg:rounded-md lg:w-11 lg:h-11 xl:w-11 xl:h-11 xl:rounded-md 3xl:w-11 3xl:h-11 3xl:rounded-md" src="../../../../../assets/media/books/img-72.jpg">
                <span class="ml-3">{{event.title}}</span>
              </td>
              <td class="p-4 font-thin">{{event.startDate | date}}</td>
              <td class="p-4 font-thin">{{event.endDate | date}}</td>
              <td class="p-4 font-thin">{{event.vouchers.length}}</td>
              <td class="p-4 font-thin">{{event.soldVouchers}}</td>

              <ng-container *ngIf="event.dealStatus == 'Published'">
                <td class="p-4 font-thin">
                  <span class="px-5 py-3 badge badge-success rounded-2xl opacity-80">{{event.dealStatus}}</span>
                </td>
              </ng-container>
              <ng-container *ngIf="event.dealStatus == 'Scheduled'">
                <td class="p-4 font-thin">
                  <span class="px-5 py-3 badge badge-primary rounded-2xl opacity-80">{{event.dealStatus}}</span>
                </td>
              </ng-container>
              <ng-container *ngIf="event.dealStatus == 'In Review'">
                <td class="p-4 font-thin">
                  <span class="px-5 py-3 badge badge-warning rounded-2xl opacity-80">{{event.dealStatus}}</span>
                </td>
              </ng-container>
              <ng-container *ngIf="event.dealStatus == 'Bounced'">
                <td class="p-4 font-thin">
                  <span class="px-5 py-3 badge badge-danger rounded-2xl opacity-80">{{event.dealStatus}}</span>
                </td>
              </ng-container>

              <td class="flex flex-row justify-center font-thin" class="vertical-align: middle!important;">
                <a class="px-2 py-1 mr-1 text-gray-500 bg-gray-300 rounded-md cursor-pointer 3xl:px-3 3xl:py-1">
                  <i class="p-1 fas fa-ellipsis-h"></i>
                </a>
                <a (click)="event.showDetail = !event.showDetail" class="px-2 py-1 text-gray-500 bg-gray-300 rounded-md cursor-pointer 3xl:px-3 3xl:py-1">
                  <i [ngClass]="event.showDetail ? 'p-1 fas fa-angle-double-up': 'p-1 fas fa-angle-double-down'"></i>
                </a>
              </td>
            </tr>
            <ng-container *ngFor="let voucher of event?.vouchers">
              <tr class="rounded-md tid-detail-row"
               [ngClass]="{'showing': event.showDetail}">
              <td>
                <div class="title-deal">{{voucher?.subTitle}}</div>
              </td>
              <td>
                <div class="title-price">Price:&nbsp; <span class="text-green-600">${{voucher?.dealPrice}}</span></div>
              </td>
              <td>
                <div class="title-vouchers">Sold Vouchers:&nbsp; <span class="text-green-600">{{voucher?.soldVouchers}}</span></div>
              </td>
              <td>
                <div class="title-available">Available Vouchers:&nbsp; <span class="text-green-600">{{voucher?.numberOfVouchers}}</span></div>
                <div class="title-valid">Validity:&nbsp; <span class="font-medium text-gray-600">{{voucher?.voucherValidity}} days after purchase</span></div>
              </td>
            </tr>
            </ng-container>
          </ng-container>
        </table>
      </div>
      <div class="flex justify-end pt-4">
        <ul class="pagination">
          <li class="cursor-pointer page-item previous" [ngClass]="page < 2 ? 'disabled': ''"><button [disabled]="page < 2" (click)="previous()" class="page-link"><i class="previous"></i></button></li>
          <li class="page-item disabled"><a class="page-link">{{ page === 1 ? 1 : (page-1) * limit }}-{{ page * limit < dealData?.totalDeals ? (page * limit) : dealData?.totalDeals }}/{{dealData?.totalDeals}}</a></li>
          <li class="cursor-pointer page-item next" [ngClass]="dealData?.totalDeals <= page * limit ? 'disabled': ''"><button [disabled]="dealData?.totalDeals <= page * limit" (click)="next()" class="page-link"><i class="next"></i></button></li>
        </ul>
      </div>
    </ng-container>
  </mat-tab>
  <mat-tab label="Calendar View">
    <div class="p-0 mt-5 shadow-sm lg:p-6 card card-custom card-stretch" style="border-top: 16px solid #F38B41;">
        <div class="lg:p-4 card card-custom card-stretch">
          <full-calendar #fullCalendar [options]="calendarOptions"></full-calendar>
        </div>
        <div class="h-full lg:p-1 card card-custom card-stretch">
          <div class="flex items-center justify-evenly lg:flex-row">
            <i class="text-yellow-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base md:mr-7 abc">In-Review</span></i>
            <i class="text-red-500 lg:mr-4 fas fa-circle"> <span class="ml-1 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base abc">Needs Attention</span></i>
            <i class="text-green-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base md:mr-7 abc">Scheduled</span></i>
            <i class="text-blue-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-base md:mr-7 abc">Published</span></i>
          </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!--NOTE:
   THE NGBOOTSTRAP POPOVER IS TEMPORARY AND ONLY FOR TESTING. WILL BE REPLACED WITH FULLCALENDAR POPOVER
-->

<ng-template #popContent let-event="event">
  <div class="flex flex-row justify-between w-52">
    <span class="mt-4 text-left text-gray-700">{{ event.title }}</span>
    <!-- <i (click)="closePopover()" class="far fa-times-circle"></i> -->
  </div>
  <hr class="text-gray-400">
  <div class="flex flex-col justify-center p-3 align-middle">
    <i class="text-green-500 fas fa-circle fa-xs">
      <span class="ml-2 mr-6 text-sm font-thin text-gray-500" style="font-family: Arial, Helvetica, sans-serif;">
        Start
      </span><span class="ml-1 text-sm font-thin text-gray-700" style="font-family: Arial, Helvetica, sans-serif;">
        {{event.start | timeformate:false}}
      </span>
    </i>
    <i class="text-red-500 fas fa-circle fa-xs">
      <span class="ml-2 mr-6 text-sm font-thin text-gray-500" style="font-family: Arial, Helvetica, sans-serif;">
        End</span>
        <span class="ml-2 text-sm font-thin text-gray-700" style="font-family: Arial, Helvetica, sans-serif;">
          {{event.end | timeformate:true}}
        </span>
      </i>
  </div>
  <button (click)="openNew(event)" class="px-3 py-1 text-xs font-thin text-center text-yellow-700 rounded-sm" style="background: #FDF0E6;">View Details</button>
</ng-template>

<app-reusable-modal #modal [modalConfig]="modalConfig">
  <div class="border-b border-dashed modal-header">
    <div class="flex flex-row justify-between w-full">
      <div class="flex flex-row justify-start w-full p-2">
        <img src="../../../../../assets/media/books/img-72.jpg" class="w-16 h-16 mr-4 rounded-md">
        <div class="flex flex-col justify-evenly">
          <span class="text-base text-gray-800">Heavenly Massage</span>
          <span class="text-sm text-gray-500">Price: <span class="text-green-500">$ 150</span></span>
          <span class="text-sm text-gray-500">Sold Vocuhers: <span class="text-green-500">05</span></span>
        </div>
      </div>
      <i (click)="closeModal()" class="fas fa-times-circle"></i>
    </div>
  </div>

  <div class="modal-body">
    <form class="mt-2 px-7 form">
      <div class="mb-3 form-group">
        <label class="mb-3">Start Date <span class="text-red-600">*</span></label>
        <div class="input-group">
          <img src="../../../../assets/media/logos/blue-halo-calendar.svg" class="mr-3 w-9 h-9">
          <span class="mt-2 font-thin text-gray-600">08 Feb, 2021</span>
        </div>
      </div>

      <div class="mb-5 form-group">
        <label class="mb-3">End Date <span class="text-red-600">*</span></label>
        <div class="input-group">
          <input type="date" class="form-control" placeholder="dd-mm-yyyy" ngbDatepicker>
        </div>
      </div>

       <div class="form-group">
        <label class="mb-3">Number of Available Vouchers</label>
        <div class="relative">
          <div class="flex w-2/5 h-8 border-2 border-white rounded-sm">
            <button class="h-full text-xl font-bold text-gray-500 bg-gray-200 rounded-md w-14">-</button>
            <input type="number" class="w-full text-center" placeholder="0">
            <button class="h-full text-xl font-bold text-gray-500 bg-gray-200 rounded-md w-14">+</button>
          </div>
        </div>
       </div>
    </form>
    <div class="flex justify-center mt-7">
      <button (click)="closeModal()" class="px-10 py-2 font-thin text-white bg-gray-900 rounded-md">Update</button>
    </div>
  </div>

</app-reusable-modal>


<!--Calendar TEMPLATE-->
<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>


<!--Calendar Footer TEMPLATE-->
<ng-template #footerTemplate>
  <hr class="my-0">
  <button class="m-2 btn btn-primary btn-sm float-center" [disabled]="!fromDate || !toDate" (click)="filterByDate(fromDate, toDate); myDrop.close()">Apply Filter</button>
  <button class="mt-2 mr-1 btn btn-secondary btn-sm float-end" (click)="myDrop.close()">Close</button>
</ng-template>

<!-- (click)="myDrop.close();" -->
