.mat-tab-label {
  @apply mt-5 w-5 h-2 relative;
  opacity: 1!important;
}

.mat-tab-label-active {
  color: #0081E9!important;
}

.mat-tab-body-content {
  height: auto!important;
  overflow: hidden!important;
}

.mat-tab-body-content {
  padding-bottom: 320px!important;
}

.page-item.active .page-link {
  z-index: 3 !important;
  color: #0081e9 !important;
  background-color: #E2EDFE !important;
  border-color: transparent !important;
}

.page-item .page-link {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  border-radius: 0.375rem!important;
  height: 1.875rem!important;
  min-width: 1.65rem!important;
  font-weight: 600!important;
  font-size: 12px!important;
}

.page-item {
  margin-right: 0rem!important;
}

a[aria-label='Previous'] {
  span {
    display: none !important;
  }

  &::before {
    content: '\2039' !important;
    font-size: 24px!important;
    font-weight: 500!important;
    margin-bottom: 5px!important;
  }
}

a[aria-label='Next'] {
  span {
    display: none !important;
  }

  &::before {
    content: '\203A' !important;
    font-size: 24px!important;
    font-weight: 500!important;
    margin-bottom: 5px!important;
  }
}

.mat-tab-label.mat-tab-label-active:after {
  opacity: 1!important;
  color: #0081E9!important;
  content: ' ';
  text-decoration: none;
  position: absolute;
  width: 15%;
  left: 18%;
  height: 100%;
  margin-left: 25%;
  border-bottom: solid 3px #0081E9;
}

.my-border {
  opacity: 1!important;
}

.my-border:after {
  opacity: 1!important;
  border-bottom: dotted 2px #F3F3F3;
  position: absolute;
  content: '';
  text-decoration: none;
  left: 4.5%;
  width: 93%;
  height: 100%;
  color: #F3F3F3;
  z-index: -1;
}

#borderBottom {
  border-bottom: dotted 2px #c0c0c0;
  position: absolute;
  left: 4%;
  width: 90%;
  opacity: 0.2;
}

#borderBottomMain {
  border-bottom: dotted 2px #F3F3F3;
  position: absolute;
  left: 4%;
  width: 93%;
  top: 50px;
}

#borderMain {
  border-bottom: dotted 2px #F3F3F3;
  position: absolute;
  left: 4.5%;
  width: 93%;
}


#borderModal {
  border-bottom: dashed 2px #E0E2E9;
  position: absolute;
  left: 5%;
  width: 90%;
  top: 40px;
}

#borderModalA {
  border-bottom: dashed 2px #E0E2E9;
  position: absolute;
  width: 100%;
  top: 50px;
}

.dropdown-toggle::after {
  display: none;
}

.text-main {
  font-size: 15px;
}

.moon {
  margin-top: 10px;
  margin-bottom: -10px;
  width: 28px;
  height: 28px;
  margin-right: 70px;
  padding: 0;
  border-radius: 50%;
  box-shadow: inset 6px 13px #FF0000, inset 6px 13px 0px 6px #FF0000;
  color: white;
}

input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  left: 0;
  opacity: 1;
  display: block;
  width: 18px;
  height: 18px;
  padding-left: 10px;
  background-image: url('../../../../assets/media/logos/blue-calendar.svg');
  filter: invert(0);
}

input::-webkit-datetime-edit {
  position: relative;
  left: 20px;
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 20px;
}

.dropdown-toggle::after {
  display: none;
}

.abc {
  font-family: Arial, Helvetica, sans-serif
}

@media (max-width: 600px) {

  .table-container {
      width: 100% !important;
      overflow-x: scroll;
  }

  th, td {min-width: 200px; }

  .mat-tab-label .mat-tab-label-content {
    font-size: 10px;
    font-weight: 600;
  }
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.mat-tab-body-content {
  padding-bottom: 100px;
}

::ng-deep .ngb-dp-weekday {
  color: #4185F9!important;
  font-family: Arial, Helvetica, sans-serif!important;
  font-style: normal!important;
}

::ng-deep .form-select {
  margin-left: 2px;
}

.fc .fc-toolbar-title {
  margin-right: 5.75rem!important;
  font-weight: 500;
  font-size: 18px!important;
  color: #313131;
}

.fc .fc-today-button {
  text-transform: capitalize!important;
  background: white!important;
  color: #728A9F!important;
  border: 1px solid white!important;
  padding-left: 30px!important;
  padding-right: 30px!important;
}

.fc .fc-prev-button {
  background: black!important;
}

.fc .fc-next-button {
  background: black!important;
}

.fc-scrollgrid-sync-table {
  background-color: white!important;
}

.fc-scrollgrid-sync-inner {
  background-color: white!important;
}

.modal-xl {
  max-width: 36.188rem;
}
