.table-conatiner {
  width: 100%!important;
  overflow-x: scroll;
}


@media (max-width: 600px) {

  .table-container {
      width: 100% !important;
      overflow-x: scroll;
  }

  th, td {min-width: 200px; }
}

.reset-button {
  width: 113px;
  height: 40px;
  background-color: #D9E7FE;
  border-radius: 8px;
}

.same-font {
  color: #545A60;
}

.statistics {
  span {
    color: #728A9F;
    font-weight: 500;
  }
}

.star {
  --br-font-size: 22px!important;
  --br-active-color: #FCCA3F !important;
  --br-inactive-color: #D2D2D2;
}

