<span class="font-bold" style="font-size: 24px;">Reviews & ratings</span>

<div class="flex flex-col justify-center mt-4 lg:flex-row lg:justify-between">
  <ng-container *ngIf="showData == false">
    <app-pending-skeleton></app-pending-skeleton>
  </ng-container>
  <ng-container *ngIf="showData == true">
    <div class="flex flex-col lg:flex-row justify-evenly">
      <div class="flex flex-row states statistics">
        <div style="padding: 0.875rem;" class="w-40 h-20 mr-4 bg-white">
          <span class="mb-1.5 text-sm font-medium">Total reviews</span>
          <br>
          <span class="text-base font-semibold text-xxl" style="color: #0FB947;">{{reviewsData?.totalMerchantReviews}}</span>
        </div>
        <div style="padding: 0.875rem;" class="w-40 h-20 bg-white">
          <span class="mb-1.5 text-sm font-medium">Overall rating</span>
          <br>
          <span class="text-base font-semibold text-xxl" style="color: #F1B33F;">{{reviewsData?.overallRating.toFixed(1)}}</span>
        </div>

      </div>
    </div>
  </ng-container>

  <div class="flex flex-row justify-start w-full ml-2 lg:items-end lg:justify-end mt-9 lg:mt-0">

    <div class="flex flex-row justify-start w-full gap-3 ml-2 lg:items-end lg:justify-end mt-9 lg:mt-0"><div class="">
      <button
        [ngClass]="!appliedFilterID && !appliedFilterStatus ? 'hidden': 'text-sm font-medium cursor-pointer reset-button text-primary-400 xl:rounded-md'"
        (click)="resetFilters()">
        Reset filters
      </button>
    </div>
    <div class="">
      <button [routerLink]="['/new-reviews']" class="w-40 px-4 pt-2.5 text-sm cursor-pointer btn KYC reset-button xl:rounded-md bg-primary-400" style="color:#EEEEEE">View new reviews</button>
    </div>
  </div>
  </div>
</div>

<ng-container *ngIf="showData == false">
  <app-table-skeleton></app-table-skeleton>
</ng-container>

<ng-container *ngIf="showData == true">
  <div class="mt-4 overflow-x-scroll table-container px-7" style="background: #FFFFFF 0% 0% no-repeat padding-box; border-radius: 7px 7px 0px 0px;">
    <table class="w-full">
      <thead class="text-left text-black bg-white border-b-2 border-gray-200 border-dotted rounded-lg h-14">
        <th class="pr-4 font-semibold cursor-pointer same-font">Deal</th>
        <th class="pr-4 font-semibold cursor-pointer same-font">Deal ID&nbsp;
          <app-filters
            (sendFilter)="filterSelectedReviewByID($event)"
            [optionsList]="filterDealIDSearch"
            (searchItem)="filterByDealID($event)"
            [options]="true"
            [search]="true"
            [searchBy]="'ID'"
            (filterApplied)="isFilterAppliedOnID($event)"
            [isFilterApplied]="appliedFilterID">
          </app-filters>
        </th>
        <th class="pr-4 font-semibold cursor-pointer same-font">Total reviews</th>
        <th class="pr-4 font-semibold cursor-pointer same-font">Average rating&nbsp;
          <app-filters
            [statusFilters]="true"
            (sendFilterStatus)="filterSelectedReviewByRating($event)"
            [optionsListStatus]="filteredResultSecond"
            [filterBy]="'rating'"
            [isStatusFilter]="true"
            (filterApplied)="isFilterAppliedOnStatus($event)"
            [isFilterApplied]="appliedFilterStatus">
          </app-filters>
        </th>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of reviewsData?.data; let i = index;">
          <tr class="z-40 h-16 text-left text-gray-700 bg-white rounded-lg" [ngClass]="(i == reviewsData?.data.length - 1) ? '' : 'border-b-2 border-gray-200 border-dotted'">
            <td class="pr-4">{{(data.dealHeader.length>30)? ((data.dealHeader) | slice:0:30)+'..':(data.dealHeader)}}</td>
            <td class="pr-4">{{data.dealID}}</td>
            <td class="pr-4">{{data.totalReviews}}</td>
            <!-- <td class="pr-4">
              <div class="rating">
                <div class="rating-label me-1" [ngClass]="data.ratingsAverage > 0 ? 'checked': ''">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1" [ngClass]="data.ratingsAverage > 1 ? 'checked': ''">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1" [ngClass]="data.ratingsAverage > 2 ? 'checked': ''">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1" [ngClass]="data.ratingsAverage > 3 ? 'checked': ''">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1" [ngClass]="data.ratingsAverage > 4 ? 'checked': ''">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <span class="pt-1 ml-3" style="color: #515151;">{{data.ratingsAverage}}</span>
              </div>
            </td> -->
            <td class="flex justify-start py-4 pr-4 text-left">
              <bar-rating class="mb-2 star" [rate]="data.ratingsAverage" [max]="5" [readOnly]="true"></bar-rating>
              <span class="mt-1.5 ml-3">{{data.ratingsAverage.toFixed(1)}}</span>
            </td>
            <td>
              <button [disabled]="data.totalReviews == 0" [routerLink]="['/single-review/', data._id]"
              class="px-6 py-2 text-sm font-semibold text-blue-500 bg-blue-100 rounded-md"
              [ngClass]="data.totalReviews == 0 ? 'opacity-50': 'hover:bg-blue-600 hover:text-white'">View</button>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="reviewsData?.data.length == 0">
          <tr class="w-full text-center">
            <td colspan="8" class="w-full pt-12 text-xl font-semibold text-gray-700">
              No Record Found
            </td>
          </tr>
          <tr class="w-full text-center">
            <td colspan="8" class="w-full py-3 text-gray-600">
              It seems we can't find any results.
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="flex justify-end w-full pb-4 pt-11">
      <ngb-pagination
          [(page)]="page"
          [pageSize]="limit"
          [collectionSize]="reviewsData?.data.length"
          [maxSize]="5" [boundaryLinks]="false" (pageChange)="next()">
        </ngb-pagination>
    </div>
  </div>
</ng-container>

<app-media-progress></app-media-progress>
