<div
  class="py-10 d-flex flex-column flex-center bgi-no-repeat rounded-top px-9"
  [style.background-image]="'url(./assets/media/misc/pattern-1.jpg)'"
>
  <h3 class="mb-3 text-white fw-bold">Quick Links</h3>
  <span class="px-3 py-2 badge bg-primary">25 pending tasks</span>
</div>

<div class="row g-0">
  <div class="col-6">
    <a
      class="p-6 cursor-pointer  d-flex flex-column flex-center h-100 bg-hover-light border-end border-bottom"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/finance/fin009.svg'"
        class="mb-2 svg-icon svg-icon-3x svg-icon-primary"
      ></span>
      <span class="mb-0 text-gray-800 fs-5 fw-bold">Accounting</span>
      <span class="text-gray-400 fs-7">eCommerce</span>
    </a>
  </div>

  <div class="col-6">
    <a
      class="p-6 cursor-pointer  d-flex flex-column flex-center h-100 bg-hover-light border-bottom"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/communication/com010.svg'"
        class="mb-2 svg-icon svg-icon-3x svg-icon-primary"
      ></span>
      <span class="mb-0 text-gray-800 fs-5 fw-bold">Administration</span>
      <span class="text-gray-400 fs-7">Console</span>
    </a>
  </div>

  <div class="col-6">
    <a
      class="p-6 cursor-pointer  d-flex flex-column flex-center h-100 bg-hover-light border-end"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/abstract/abs042.svg'"
        class="mb-2 svg-icon svg-icon-3x svg-icon-primary"
      ></span>
      <span class="mb-0 text-gray-800 fs-5 fw-bold">Projects</span>
      <span class="text-gray-400 fs-7">Pending Tasks</span>
    </a>
  </div>

  <div class="col-6">
    <a
      class="p-6 cursor-pointer  d-flex flex-column flex-center h-100 bg-hover-light"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/finance/fin006.svg'"
        class="mb-2 svg-icon svg-icon-3x svg-icon-primary"
      ></span>
      <span class="mb-0 text-gray-800 fs-5 fw-bold">Customers</span>
      <span class="text-gray-400 fs-7">Latest cases</span>
    </a>
  </div>
</div>

<div class="py-2 text-center border-top">
  <a
    routerLink="/crafted/account/account-details"
    class="btn btn-color-gray-600 btn-active-color-primary"
  >
    View All
    <span
      [inlineSVG]="'./assets/media/icons/duotune/arrows/arr064.svg'"
      class="svg-icon svg-icon-5"
    ></span>
  </a>
</div>
