:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

h1 {
  @apply mb-2 text-xl font-semibold text-center xl:text-2xl 2xl:text-3xl 3xl:text-4xl;
}

h3 {
  @apply max-w-sm mx-auto text-base font-medium text-center 2xl:text-lg 2xl:max-w-md;
}

input.form-control {
  @apply text-xs 2xl:text-base;
  background-color: transparent !important;
  border: 0.5px solid #787f9f5e;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  min-height: 40px;

  @media (min-width:1600px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

input.form-control:focus {
  border-color: #7FC0F4;
}

.auth-main-con {

  background-position: 4px 8px, 0 100%, 100% 100%, 100% -20px;
  background-size: 60px 60px, 130px 36px, 122px 122px, 110px 100px;
  background-repeat: no-repeat;
  // min-height: 900px;
}

.login-aside {
  .top-logo{
    height: 345px;

    img {
      max-width: 289px;
      margin: 0 auto;
    }
  }
}

h3 {
  color: #51A9F0;
}

button.back,
button:disabled {
  border: 2px solid #787F9F !important;
  color: #787F9F !important;
  background-color: white !important;
  cursor: default;
}

button.back {
  cursor: pointer;
}

::ng-deep .auth-main-con {

  mat-step-header {
    padding: 0;
  }

  // .mat-horizontal-stepper-header-container {
  //   display: none;
  // }

  .mat-horizontal-stepper-header{
    pointer-events: none !important;
  }

  .mat-horizontal-stepper-header-container {
    margin-bottom: 1rem;
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after {
    top: 16px !important;
  }

  .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
    margin-top: 1rem;
  }

  .mat-step-icon-content span {
    display: none;
  }

  .mat-step-icon.mat-step-icon-state-number .mat-step-icon-content span {
    display: block;
  }

  .mat-step-icon {
    color: #FFFFFF;
    background-color: #006AC1;
    width: 35px;
    height: 36px;
  }

  .mat-step-icon.mat-step-icon-state-number {
    background-color: #D9ECFC !important;
    color: #006AC1 !important;
    font-size: 1rem;
    height:2.25rem;
    width: 2.24rem;
  }

  .mat-step-label{
    padding: 0.5rem 0 0 0 !important;
  }

  .mat-step-text-label {
    font-size: 0.688rem;

    @media (min-width:1600px) {
      font-size: 0.75rem;
    }
  }

  .mat-horizontal-content-container {
    padding: 0;
  }

  .country-dropdown {
    display: grid !important;
    width: 100% !important;
    min-width: 20rem !important;
    height: 8rem;
  }

  input#country-search-box,
  input#country-search-box:active,
  input#country-search-box:focus-visible {
    border-radius: 0 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
 }

  .iti {
    width: 100% !important;
    input{
      @apply text-sm 2xl:text-base;
      border-radius: 0.475rem;
      background-color: transparent !important;
      border: 0.5px solid #787f9f5e !important;
    }
  }
}

.categories-step app-checkbox {
  @apply flex justify-center items-start h-20;
  text-align: center;
  border: none !important;

  .tabs {
    background-color: #E3FBF1;
    margin: 0 auto;
    border-radius: 100px;
    justify-content: center;
    display: flex;

    img {
      max-width: 26px;
      @media (min-width:1600px) {
        max-width: 30px;
      }
      @media (min-width:1920px) {
        max-width: 2.5rem;
      }

    }
  }

  .tabs.active,
  .tabs:hover {
    border: 2px solid #006AC1;
    cursor: pointer;
  }

  strong {
    @apply text-xs;
  }
}

.province app-category-radio-button{
  @apply flex justify-center items-center h-8 mb-3 px-4 py-2 mr-3 rounded-md;
  text-align: center;
  border: 1px solid #ef9c6580 !important;
}

.province app-category-radio-button.active,
.province app-category-radio-button:active,
.province app-category-radio-button:hover {
  border: 2px solid #006AC1 !important;
  box-shadow: 0px 5px 15px #787F9F42;;
  cursor: pointer;
}

.registration-success {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border: 1px solid #006AC1;
  max-width: 624px;

  p {
    max-width: 488px;
  }
}

.step3 {
  min-height: 500px;
}

.auth-main-con {

  background-position: 4px 8px, 0 100%, 100% 100%, 100% -20px;
  background-size: 60px 60px, 130px 36px, 122px 122px, 110px 100px;
  background-repeat: no-repeat;
  // min-height: 900px;
}

@media (min-width: 1024px) {
  .auth-main-con {
    background-image:
    url("../../../../../assets/media/logos/final_logo.svg"),
    url("../../../../../assets/media/logos/bottom-left.svg"),
    url("../../../../../assets/media/logos/INVERTED.svg"),
    url("../../../../../assets/media/logos/MaskGroup.svg");
    background-position: 53px 0px, 0 100%, calc(100% - 12px) 100%, 100% 0;
    background-size: 162px 169px, 243px 118px, 200px 200px, 230px 240px;
    min-height: 720px;
  }
}

@media (min-width: 1280px) {
  .auth-main-con {
    background-position: 53px 83px, 0 100%, calc(100% - 28px) calc(100% - 18px) , 100% -12px;
    background-size: 122px 129px, 228px 68px, 250px 250px, 285px 290px;
  }
}

@media (min-width: 1600px) {
  .auth-main-con {
    min-height: 900px;
  }
}

@media (min-width: 1920px) {
  .auth-main-con {
    background-position: 53px 83px, 0 100% ,calc(100% - 28px) calc(100% - 8px) , 100% 0;
    background-size: 169px 169px, 375px 110px, 312px 312px, 317px 301px;
  }
}
