<!-- begin::Header-->
<div class="common" style="border-radius: 8px; overflow-y: hidden;">

  <div *ngIf="(isLoading$ | async) == true" class="flex items-center justify-center mb-4 align-middle" style="height: 190px">
    <span class="indicator-progress" [style.display]="'block'">
      <span class="w-6 h-6 align-middle spinner-border spinner-border-sm"></span>
    </span>
  </div>

  <div *ngIf="(isLoading$ | async) == false" class="border-0 card-header align-items-center common">
    <div class="flex flex-col justify-start">
      <span class="mt-5 mb-2 font-semibold text-black 1.25xl:text-base xl:text-sm">Activities</span>
      <span *ngIf="merchantActivities?.totalActivities > 0" style="color: #728A9F;" class="mt-4 mb-2 1.25xl:text-base xl:text-sm hidden">{{merchantActivities?.totalActivities}} Sales</span>
      <span *ngIf="merchantActivities?.totalActivities == 0" style="color: #728A9F;" class="mt-4 mb-2 1.25xl:text-base xl:text-sm hidden">0 Sales</span>
    </div>
  </div>

  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [scrollWindow]="false"
    [infiniteScrollDisabled]="(disableInfiniteScroll$ | async) == true || merchantActivities?.length == 0"
    (scrolled)="onScrollDown()"
    class="pt-4 card-body common example"
    style="height: 420px; overflow-y: scroll;"
    >
    <ng-container *ngIf="merchantActivities?.length == 0">
      <div class="flex items-center justify-center align-middle">
        <span class="py-5 text-gray-600">No activity data</span>
      </div>
    </ng-container>
    <ng-container *ngIf="merchantActivities?.length > 0">
      <div *ngIf="(isLoading$ | async) == false" class="timeline-label">
        <ng-container *ngFor="let activity of merchantActivities; let i = index; let first = first" [ngSwitch]="activity.activityType">
          <div class="timeline-item">
            <div style="color:#728A9F;" class="text-sm timeline-label">{{activity.activityTime | date:'hh:mm'}}</div>

            <div class="timeline-badge">
              <i *ngSwitchCase="'VoucherPurchased'" class="text-xl fa fa-genderless text-warning"></i>
              <i *ngSwitchCase="'DealPublished'" class="text-xl fa fa-genderless text-primary"></i>
              <i *ngSwitchCase="'DealScheduled'" class="text-xl fa fa-genderless text-success"></i>
              <i *ngSwitchCase="'DealExpired'" class="text-xl fa fa-genderless text-danger"></i>
              <i *ngSwitchCase="'VoucherRedeemed'" class="text-xl fa fa-genderless text-info"></i>
              <i *ngSwitchCase="'VocuherExpired'" class="text-xl fa fa-genderless text-secondary"></i>
            </div>

            <div style="color: #414950;" class="text-sm timeline-content ps-3">
              {{activity.message}}
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<!-- end: Card Body-->

<style>
  .timeline-label:before {
    content: "";
    position: absolute;
    left: 51px;
    width: 3px;
    top: 0;
    bottom: 0;
    background-color: #EFF2F5;
    margin-inline: 12px;
  }

  .timeline-badge {
    margin-left: 6px;
  }

  .example::-webkit-scrollbar {
    display: none;
  }

/* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .common {
    width: 331px;
  }

  @media(min-width: 1600px) and (max-width: 1920px) {
    .common {
      width: 431px;
    }
  }

  @media(min-width: 1440px) and (max-width: 1536px) {
    .common {
      width: 360px;
    }
  }
</style>
