<!-- begin::Header-->
<div class="common" style="border-radius: 8px; overflow-y: hidden;">

  <div class="border-0 card-header align-items-center common">
    <div class="flex flex-col justify-start">
      <span class="mt-5 mb-2 font-semibold text-black">Activities</span>
      <span style="color: #728A9F;" class="mt-4 mb-2 text-base">340 Sales</span>
    </div>
    <!-- <div class="card-toolbar">

      <button
        type="button"
        class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
        data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end"
        data-kt-menu-flip="top-end"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
          class="svg-icon svg-icon-2"
        ></span>
      </button>
      <app-dropdown-menu1></app-dropdown-menu1>

    </div> -->
  </div>
  <!-- end::Header-->
  <!-- begin::Body-->
  <div class="pt-4 card-body common example" style="height: 420px; overflow-y: scroll;">
    <!-- begin::Timeline-->
    <div class="timeline-label">
      <!-- begin::Item-->
      <div class="timeline-item">
        <!-- begin::Label-->
        <div style="color:#728A9F;" class="text-sm timeline-label">08:42</div>
        <!-- end::Label-->
        <!-- begin::Badge-->
        <div class="timeline-badge">
          <i class="text-xl fa fa-genderless text-warning"></i>
        </div>
        <!-- end::Badge-->
        <!-- begin::Text-->
        <div style="color: #414950;" class="text-sm timeline-content ps-3">
          Outlines keep you honest. And keep structure
        </div>
        <!-- end::Text-->
      </div>
      <!-- end::Item-->
      <!-- begin::Item-->
      <div class="timeline-item">
        <!-- begin::Label-->
        <div style="color:#728A9F;" class="text-sm timeline-label">10:00</div>
        <!-- end::Label-->
        <!-- begin::Badge-->
        <div class="timeline-badge">
          <i class="text-xl fa fa-genderless text-success"></i>
        </div>
        <!-- end::Badge-->
        <!-- begin::Content-->
        <div style="color: #414950;" class="text-sm timeline-content ps-3">
          AEOL meeting
        </div>
        <!-- end::Content-->
      </div>
      <!-- end::Item-->
      <!-- begin::Item-->
      <div class="timeline-item">
        <!-- begin::Label-->
        <div style="color:#728A9F;" class="text-sm timeline-label">14:37</div>
        <!-- end::Label-->
        <!-- begin::Badge-->
        <div class="timeline-badge">
          <i class="text-xl fa fa-genderless text-danger"></i>
        </div>
        <!-- end::Badge-->
        <!-- begin::Desc-->
        <div style="color: #414950;" class="text-sm timeline-content ps-3">
          Make deposit
        </div>
        <!-- end::Desc-->
      </div>
      <!-- end::Item-->
      <!-- begin::Item-->
      <div class="timeline-item">
        <!-- begin::Label-->
        <div style="color:#728A9F;" class="text-sm timeline-label">16:50</div>
        <!-- end::Label-->
        <!-- begin::Badge-->
        <div class="timeline-badge">
          <i class="text-xl fa fa-genderless text-primary"></i>
        </div>
        <!-- end::Badge-->
        <!-- begin::Text-->
        <div style="color: #414950;" class="text-sm timeline-content ps-3">
          Indulging in poorly driving and keep structure keep great
        </div>
        <!-- end::Text-->
      </div>
      <!-- end::Item-->
      <!-- begin::Item-->
      <div class="timeline-item">
        <!-- begin::Label-->
        <div style="color:#728A9F;" class="text-sm timeline-label">21:03</div>
        <!-- end::Label-->
        <!-- begin::Badge-->
        <div class="timeline-badge">
          <i class="text-xl fa fa-genderless text-danger"></i>
        </div>
        <!-- end::Badge-->
        <!-- begin::Desc-->
        <div style="color: #414950;" class="text-sm timeline-content ps-3">
          New order placed
        </div>
        <!-- end::Desc-->
      </div>
      <!-- end::Item-->
      <!-- begin::Item-->
      <div class="timeline-item">
        <!-- begin::Label-->
        <div style="color:#728A9F;" class="text-sm timeline-label">16:50</div>
        <!-- end::Label-->
        <!-- begin::Badge-->
        <div class="timeline-badge">
          <i class="text-xl fa fa-genderless text-primary"></i>
        </div>
        <!-- end::Badge-->
        <!-- begin::Text-->
        <div style="color: #414950;" class="text-sm timeline-content ps-3">
          Indulging in poorly driving and keep structure keep great
        </div>
        <!-- end::Text-->
      </div>
      <!-- end::Item-->
      <!-- begin::Item-->
      <div class="timeline-item">
        <!-- begin::Label-->
        <div style="color:#728A9F;" class="text-sm timeline-label">21:03</div>
        <!-- end::Label-->
        <!-- begin::Badge-->
        <div class="timeline-badge">
          <i class="text-xl fa fa-genderless text-danger"></i>
        </div>
        <!-- end::Badge-->
        <!-- begin::Desc-->
        <div style="color: #414950;" class="text-sm timeline-content ps-3">
          New order placed
        </div>
        <!-- end::Desc-->
      </div>
      <!-- end::Item-->
      <!-- begin::Item-->
      <div class="timeline-item">
        <!-- begin::Label-->
        <div style="color:#728A9F;" class="text-sm timeline-label">10:30</div>
        <!-- end::Label-->
        <!-- begin::Badge-->
        <div class="timeline-badge">
          <i class="text-xl fa fa-genderless text-success"></i>
        </div>
        <!-- end::Badge-->
        <!-- begin::Text-->
        <div style="color: #414950;" class="text-sm timeline-content ps-3">
          Finance KPI Mobile app launch preparion meeting
        </div>
        <!-- end::Text-->
      </div>
      <!-- end::Item-->
    </div>
    <!-- end::Timeline-->
  </div>
</div>

<!-- end: Card Body-->

<style>
  .timeline-label:before {
    content: "";
    position: absolute;
    left: 51px;
    width: 3px;
    top: 0;
    bottom: 0;
    background-color: #EFF2F5;
    margin-inline: 12px;
  }

  .timeline-badge {
    margin-left: 6px;
  }

  .example::-webkit-scrollbar {
    display: none;
  }

/* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .common {
    width: 331px;
  }

  @media(min-width: 1600px) and (max-width: 1920px) {
    .common {
      width: 431px;
    }
  }

  @media(min-width: 1440px) and (max-width: 1536px) {
    .common {
      width: 360px;
    }
  }
</style>
