<div class="flex flex-col justify-center mt-4 lg:flex-row lg:justify-between">
  <div class="flex justify-center">
    <img src="../../../assets/media/icons/stars.svg" class="pr-3">
    <h1 class="pt-1 font-bold">New reviews</h1>
  </div>
  <div class="text-gray-600 cursor-pointer hover:text-primary-400">
    <span [routerLink]="['/reviews']"><span style="font-size: 25px;">&#8249;</span>&nbsp;&nbsp;Reviews & ratings</span>
  </div>
</div>

<ng-container *ngIf="showData == false">
  <app-table-skeleton></app-table-skeleton>
</ng-container>

<ng-container *ngIf="showData == true">
  <div class="mt-4 overflow-x-scroll table-container px-7" style="background: #FFFFFF 0% 0% no-repeat padding-box; border-radius: 7px 7px 0px 0px;">
    <table class="w-full">
      <thead class="text-left text-black bg-white border-b-2 border-gray-200 border-dotted rounded-lg h-14">
        <th class="pr-4 font-semibold cursor-pointer same-font">Sub deal</th>
        <th class="pr-4 font-semibold cursor-pointer same-font">Voucher ID</th>
        <th class="pr-4 font-semibold cursor-pointer same-font">Date redeemed</th>
        <th class="pr-4 font-semibold cursor-pointer same-font">Date review</th>
        <th class="pr-4 font-semibold cursor-pointer same-font">Rating</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of newReviews; let i = index;">
          <tr class="z-40 h-16 text-left text-gray-700 bg-white border-b-2 border-gray-200 border-dotted rounded-lg">
            <td class="pr-4">
              <span class="cursor-pointer" *ngIf="data.subDealHeader.length >= 24" [ngbTooltip]="data.subDealHeader" placement="top" [container]="'body'">
                {{(data.subDealHeader.length > 24) ? ((data.subDealHeader) | slice:0:24)+'...':(data.subDealHeader)}}
              </span>
              <span *ngIf="data.subDealHeader.length < 24">
                {{(data.subDealHeader.length > 24) ? ((data.subDealHeader) | slice:0:24)+'...':(data.subDealHeader)}}
              </span>
            </td>
            <td class="pr-4">{{data.voucherID}}</td>
            <td class="pr-4">{{data.voucherRedeemedDate | date:'dd-MM-yyyy'}}</td>
            <td class="pr-4">{{data.updatedAt | date:'dd-MM-yyyy'}}</td>
            <!-- <td class="pr-4">
              <div class="rating">
                <div class="rating-label me-1" [ngClass]="data.totalRating > 0 ? 'checked': ''">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1" [ngClass]="data.totalRating > 1 ? 'checked': ''">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1" [ngClass]="data.totalRating > 2 ? 'checked': ''">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1" [ngClass]="data.totalRating > 3 ? 'checked': ''">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <div class="rating-label me-1" [ngClass]="data.totalRating > 4 ? 'checked': ''">
                    <i class="fas fa-star fs-8"></i>
                </div>
                <span class="pt-1 ml-2 text-black">{{data.totalRating.toFixed(1)}}</span>
              </div>
            </td> -->
            <td class="flex justify-start py-4 pr-4 text-left">
              <bar-rating class="mb-2 star" [rate]="data.totalRating" [max]="5" [readOnly]="true"></bar-rating>
              <span class="mt-1.5 ml-3">{{data.totalRating.toFixed(1)}}</span>
            </td>
            <td>
              <button (click)="openReviewModal(data.id, data.voucherID, data.voucherMongoID); updateReview(data.id)" class="px-6 py-2 text-sm font-semibold text-blue-500 bg-blue-100 rounded-md hover:bg-blue-600 hover:text-white">View</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
      <ng-container *ngIf="newReviews.length == 0">
        <tr class="w-full text-center">
          <td colspan="8" class="w-full pt-12 text-xl font-semibold text-gray-700">
            No Record Found
          </td>
        </tr>
        <tr class="w-full text-center">
          <td colspan="8" class="w-full py-3 text-gray-600">
            It seems we can't find any results.
          </td>
        </tr>
      </ng-container>
    </table>
    <div class="flex justify-end w-full pb-4 pt-11">
      <ngb-pagination
          [(page)]="page"
          [pageSize]="limit"
          [collectionSize]="totalCount"
          [maxSize]="5" [boundaryLinks]="false" (pageChange)="next()">
        </ngb-pagination>
    </div>
  </div>
</ng-container>


<ng-template #modal>
  <ng-container *ngFor="let data of ReplyObservable | async">
    <div class="relative flex justify-between border-white modal-header">
      <span class="px-3 text-lg" style="color: #313131; opacity: 0.7;">Customer name: &nbsp;<span class="text-lg font-semibold text-black">{{data.customerName}}</span></span>
      <div class="absolute top-4 right-5">
        <button (click)="closeModal()" class="px-2 py-1 text-xs font-normal text-gray-500 bg-gray-200 rounded-full">
          &#10006;
        </button>
      </div>
    </div>

    <div class="w-full" style="background-color: #FFF3CF;">
      <div class="flex justify-between px-10 py-6 text-sm2">
        <span style="color: #D9B23E;">Voucher ID &nbsp; <span style="color: #A17900;">{{data.voucherID}}</span></span>
        <span style="color: #D9B23E;">Date redeemed &nbsp; <span style="color: #A17900;">{{data.voucherRedeemedDate | date:'dd-MM-yyyy'}}</span></span>
        <span style="color: #D9B23E;">Date review &nbsp; <span style="color: #A17900;">{{data.createdAt | date:'dd-MM-yyyy'}}</span></span>
        <div class="flex justify-center">
          <span class="mr-2" style="color: #D9B23E;">Rating</span>
          <bar-rating class="-mt-1.5 starling" [rate]="data.totalRating" [max]="5" [readOnly]="true"></bar-rating>
          <span class="ml-2" style="color: #A17900;">{{data.totalRating.toFixed(1)}}</span>
        </div>
      </div>
    </div>

    <div class="py-4">
      <span class="px-10 font-bold" style="font-size: 20px; color: #060606;">Ratings</span>
    </div>

    <ng-container *ngFor="let ratings of data?.multipleRating">
      <div class="flex justify-start w-full px-10 py-2">
        <!-- <ngb-progressbar class="mt-2.5" style="width: 8.938rem;" height=".4rem" type="warning" [value]="(ratings.ratingScore * 10)* 2"></ngb-progressbar> -->

        <bar-rating class="-mt-1.5 star" [rate]="ratings.ratingScore" [max]="5" [readOnly]="true"></bar-rating>

        <span class="px-3 text-black text-sm2">{{ratings?.ratingScore.toFixed(1)}}</span>
        <span class="px-3 text-black text-sm2">{{ratings?.ratingName}}</span>
      </div>
    </ng-container>

    <div class="py-4">
      <span class="px-10 font-bold" style="font-size: 20px; color: #060606;">Review</span>
    </div>

    <!-- <div class="flex justify-start px-10 pb-3">
      <span
        class="text-lg font-semibold text-center text-white rounded-full w-18 h-18"
        style="background-color: #1D1D29;">
      <span class="block mt-5 text-center">{{data.customerName?.substring(0, 1)?.toUpperCase()}}</span>
      </span>
      <span style="color: #515151" class="px-6 text-sm">{{data?.text}}</span>
    </div> -->

    <div class="relative flex justify-start px-10 pb-3">
      <span class="absolute flex items-center justify-center w-16 h-16 text-lg font-semibold text-white rounded-full -top-2" style="background-color: #1D1D29; border-radius: 100%; left: 36px;">{{data.customerName?.substring(0, 1)?.toUpperCase()}}</span>
      <span style="color: #515151" class="px-6 ml-16 text-sm">{{data?.text}}</span>
    </div>

  </ng-container>

  <!--Before Reply Submit View-->

    <div *ngIf="!(merchantReplyDataObservable | async) && switchToReply == false" class="px-32 pb-32">
      <button (click)="switchToReplyMode()" class="px-3 py-2 text-xs rounded-md" style="background-color:#E5F2FD; color:#0081E9;">Reply</button>
    </div>

    <div class="pb-8 pl-32 pr-16" *ngIf="!(merchantReplyDataObservable | async) && switchToReply == true" [formGroup]="replyForm">
      <textarea formControlName="merchantReplyText" name="merchantReplyText" rows="4" class="w-full p-2 rounded-md mytextArea" style="border: 1px solid #C5C5C5;"></textarea>
      <div class="flex justify-start">
        <button (click)="discardReply()" class="px-3 py-2 mr-2 text-xs rounded-md" style="background-color:#E5F2FD; color:#0081E9;">Discard</button>
        <button (click)="submitReply()" class="px-3 py-2 text-xs text-white rounded-md" style="background-color:#0081E9;" [disabled]="replyForm.get('merchantReplyText')?.value == ''" [ngClass]="replyForm.get('merchantReplyText')?.value == '' ? 'opacity-50': 'opacity-100'">Submit</button>
      </div>
    </div>

    <!--After Reply Submit View-->
    <div class="pb-4 px-36" *ngIf="(merchantReplyDataObservable | async) && switchToReply == false">
      <img src="../../../assets/media/icons/line.svg">
    </div>

    <div class="relative flex justify-start px-32 pb-12" *ngIf="(merchantReplyDataObservable | async)?.merchantReplyText && switchToReply == false">
      <span class="absolute top-0 px-4.5 py-2.5 text-lg font-semibold text-center text-black rounded-full" style="background-color: #E2F1FC; border-radius: 100%; left: 90px;">{{(merchantReplyDataObservable | async)?.legalName.substring(0, 1)}}</span>
      <span style="color: #515151" class="px-6 text-sm"><span class="text-black text-sm2">{{(merchantReplyDataObservable | async)?.legalName}}</span><br>{{(merchantReplyDataObservable | async)?.merchantReplyText}}</span>
    </div>
</ng-template>

<app-media-progress></app-media-progress>

