.hoverable:hover {
  color: rgb(16, 119, 204);
}

.table-conatiner {
  width: 100%!important;
  overflow-x: scroll;
}


@media (max-width: 600px) {

  .table-container {
      width: 100% !important;
      overflow-x: scroll;
  }

  th, td {min-width: 200px; }
}

.reset-button {
  width: 113px;
  height: 40px;
  background-color: #D9E7FE;
  border-radius: 8px;
}

.same-font {
  color: #545A60;
}

.statistics {
  span {
    color: #728A9F;
    font-weight: 500;
  }
}

div.rating-label.inner > i {
  color: #A17900!important;
}

.extra-largest {
  max-width: 70rem!important;
}


