<div class="mb-5 card mb-xl-10 contact-details">
  <div class="pt-8 cursor-pointer card-header" style="border-bottom:1px dashed #dddddd !important;">
    <div class="flex flex-col items-center w-full mb-5">
      <img class="w-24 mb-5 rounded-full" src="./assets/media/avatars/300-1.jpg" alt="Metronic" />
      <h3 class=""> Max Smith</h3>
    </div>
    <h3 class="mb-5 fw-bolder">Contact Details</h3>
    <!-- <a class="mb-5 edit-btn" (click)="openContactModal()">Edit</a> -->
  </div>

  <div class="h-64 py-3 px-9 card-body">
    <ng-container *ngIf="(authService.currentUser$ |async) as user">
    <div>
      <label class="text-sm font-semibold">Name</label>
      <span class="text-xs">{{user.firstName + ' ' + user.lastName }}</span>
    </div>
    <div>
      <label class="text-sm font-semibold">Email</label>
      <span class="text-xs">{{user.email}}</span>
    </div>
    <div>
      <label class="text-sm font-semibold">Mobile</label>
      <span class="text-xs">{{user.phoneNumber}}</span>
    </div>
  </ng-container>
  </div>
</div>

<app-reusable-modal #contactModal [modalConfig]="modalConfig" [cssClass]="{modalDialogClass:'contact-modal'}">
  <div class="contact-detail-modal">
    <div class="mb-5 card mb-xl-10 contact-details edit-modal">
      <button class="self-end mt-4 mr-4 btn-close" (click)="closeContactModal()"></button>
      <div class="pt-2 cursor-pointer card-header px-16 mx-2.5" style="border-bottom:1px dashed #dddddd !important;">
        <h3 class="mb-5 text-base fw-bolder">Contact Details</h3>
      </div>

      <form novalidate="" class="form px-16 mx-2.5">
        <div class="px-0 py-3 card-body">
          <div>
            <label>Name</label>
            <input type="text" class="form-control " placeholder="David Deens" name="fullname"/>
          </div>
          <div>
            <label>Email</label>
            <input type="text" class="form-control" placeholder="david@deen.com" name="email"/>
          </div>
          <div>
            <label>Mobile</label>
            <input type="tel" class="form-control" placeholder="0214458723" name="number" />
          </div>
        </div>
        <div class="justify-between px-0 py-6 border-none card-footer d-flex">
          <button class="modal-close-btn"
          routerLinkActive="active"
          (click)="closeContactModal()">Discard</button>

          <button type="button" class="text-xs rounded-md modal-save-btn btn btn-dark" [disabled]="(isLoading$ | async)" (click)="saveSettings()">
            <ng-container *ngIf="!(isLoading$ | async); else Loading">Save</ng-container>
          </button>

        </div>
      </form>
    </div>
  </div>
</app-reusable-modal>

<ng-template #Loading>
  <span clas="indicator-progress" [style.display]="'block'">
    Please wait...{{ " " }}
    <span
      class="align-middle spinner-border spinner-border-sm ms-2"
    ></span>
  </span>
</ng-template>

<div class="mb-5 card mb-xl-10 billing-details">
  <div class="py-6 mt-5 cursor-pointer card-header" style="border-bottom:1px dashed #dddddd !important;">
    <h3 class="mb-0 fw-bolder">Billing Details</h3>
    <a *ngIf="(authService.currentUser$ |async) as user" (click)="openBillingModal(user.iban)" class="edit-btn">Edit</a>
  </div>

  <div class="h-72 py-3 px-9 card-body">
    <ng-container *ngIf="(authService.currentUser$ |async) as user">
    <div>
      <label class="text-sm font-semibold">Company Name</label>
      <span class="text-xs">{{user.companyName}}</span>
    </div>
    <div>
      <label class="text-sm font-semibold">Street Address</label>
        <span class="text-xs">{{user.streetAddress}}</span>
    </div>
    <div>
      <label class="text-sm font-semibold">City</label>
      <span class="text-xs">{{user.city}}</span>
    </div>
    <div>
      <label class="text-sm font-semibold">Zip Code</label>
      <span class="text-xs">{{user.zipCode}}</span>
    </div>
     <div>
      <label class="text-sm font-semibold">Vat Number</label>
      <span class="text-xs">{{user.vatNumber}}</span>
    </div>
     <div>
      <label class="text-sm font-semibold">IBAN</label>
      <span class="text-xs">{{user.iban}}</span>
    </div>
  </ng-container>
  </div>
</div>

<app-reusable-modal #billingModal [modalConfig]="modalConfig" [cssClass]="{modalDialogClass:'billing-modal'}">
<div class="billing-detail-modal">
  <div class="mb-5 card mb-xl-10 billing-details edit-modal">
    <button class="self-end mt-4 mr-4 btn-close" (click)="closeBillingModal()"></button>
  <div class="pt-2 cursor-pointer card-header px-16 mx-2.5" style="border-bottom:1px dashed #dddddd !important;">
    <h3 class="mb-5 text-base fw-bolder">Billing Details</h3>
  </div>

  <form novalidate="" class="form px-16 mx-2.5">
    <div class="px-0 py-3 card-body">
      <!-- <div>
        <label>Company Name</label>
        <input type="text" class="form-control " placeholder="DavidDels" name="company"/>
      </div>
      <div>
        <label>Street Address</label>
          <input type="text" class="form-control" placeholder="200 E Gaines St, Talahasse" name="address"/>
      </div>
      <div>
        <label>Zip Code</label>
        <input type="tel" class="form-control" placeholder="5464654" name="zip">
      </div>
      <div>
        <label>City</label>
        <input type="text" class="form-control" placeholder="The hagues" name="city" />
      </div>
      <div>
        <label>Vat Number</label>
        <input type="tel" class="form-control" placeholder="0214" name="number" />
      </div> -->
      <div>
        <label>IBAN</label>
        <input [(ngModel)]="iban" type="number" class="form-control" placeholder="0214" name="number" />
      </div>
    </div>
    <div class="justify-between px-0 py-6 border-none card-footer d-flex">
      <button class="modal-close-btn" (click)="showDiv.billingAddressSettings = false; showDiv.billingAddress = true" routerLinkActive="active">Discard</button>

      <button type="button" class="text-xs rounded-md modal-save-btn btn btn-dark" [disabled]="(isLoading$ | async)" (click)="saveBillingDetails()">
        <ng-container *ngIf="!(isLoading$ | async); else Loading">Save</ng-container>
      </button>

    </div>
  </form>
</div>
</div>
</app-reusable-modal>
