<div *ngIf="dataLoading == false" class="w-full my-8">
  <div class="flex justify-between">
    <div class="flex flex-col max-w-190">
      <span *ngIf="dealData?.dealHeader.length >= 32" [ngbTooltip]="dealData?.dealHeader" placement="bottom" [container]="'body'" class="mb-3 text-4xl font-bold max-w-190">{{(dealData?.dealHeader.length > 32) ? ((dealData?.dealHeader) | slice:0:32)+'...':(dealData?.dealHeader)}}</span>
      <span *ngIf="dealData?.dealHeader.length < 32" class="mb-3 text-4xl font-bold max-w-190">{{(dealData?.dealHeader.length > 32) ? ((dealData?.dealHeader) | slice:0:32)+'...':(dealData?.dealHeader)}}</span>
      <span class="mb-4 text-2xl font-normal max-w-190">{{dealData?.merchantDetails?.legalName}}</span>
      <span *ngIf="dealData?.subTitle.length >= 32" [ngbTooltip]="dealData?.subTitle" placement="bottom" [container]="'body'" class="mb-3 text-base font-normal text-gray-600">{{(dealData?.subTitle.length > 32) ? ((dealData?.subTitle) | slice:0:32)+'...':(dealData?.subTitle)}}</span>
      <span *ngIf="dealData?.subTitle.length < 32" class="mb-3 text-base font-normal text-gray-600">{{(dealData?.subTitle.length > 32) ? ((dealData?.subTitle) | slice:0:32)+'...':(dealData?.subTitle)}}</span>
      <ng-container *ngIf="imageArray.length > 0">
        <div class="mb-3 w-190 h-104">
          <swiper #swiper
            style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff; --swiper-navigation-size: 20px;"
            [spaceBetween]="3"
            [navigation]="true"
            [thumbs]="{ swiper: thumbsSwiper && !thumbsSwiper.destroyed ? thumbsSwiper : null }"
            [lazy]="true"
            (slideNextTransitionStart)="slideChange($event)"
            class="mySwiper2">

            <ng-template swiperSlide *ngFor="let url of imageArray; let i = index">
              <app-main-blur-hash *ngIf="url.type == 'Image'" style="display: block; width: 100%; height: 100%; object-fit: cover;" [imageSrc]="url.captureFileURL"></app-main-blur-hash>
              <video loop id="my_video_1" #videoPlayer  controls class="relative" [src]="url.captureFileURL" style="display: block; width: 100%; height: 100%; object-fit: cover;" *ngIf="url.type == 'Video'"></video>
              <button (click)="playPause()" *ngIf="url.type === 'Video'"
              class="absolute p-4 font-bold text-gray-700 text-opacity-100 bg-white bg-opacity-50 rounded-full shadow-2xl hover:bg-white w-15 h-15">
              <img *ngIf="play" src="../../../../assets/media/logos/play.png" alt="">
              <img *ngIf="pause" src="../../../../assets/media/logos/pause-icon.png" alt="">
            </button>
            </ng-template>

          </swiper>

          <swiper
            #swiper2
            (swiper)="thumbsSwiper = $event"
            [spaceBetween]="1"
            [slidesPerView]="10"
            [freeMode]="true"
            [watchSlidesProgress]="true"
            [lazy]="true"
            class="mySwiper">

            <ng-template swiperSlide *ngFor="let url of imageArray; let i = index">
              <app-main-blur-hash (click)="pauseVideo()" *ngIf="url.type == 'Image'" [imageSrc]="url.captureFileURL" class="w-16 p-0 h-14"></app-main-blur-hash>
              <video loop class="rounded-lg" (click)="pauseVideo()" controls [src]="url.captureFileURL" style="display: block; width: 90%; height: 90%; object-fit: cover;" *ngIf="url.type == 'Video'"></video>
            </ng-template>

          </swiper>
        </div>
      </ng-container>
      <span class="mb-5 text-3xl font-bold mt-28">Highlights</span>
      <span *ngIf="dealData?.highlights != ''" style="color: #728A9F;" class="mb-8 text-base font-normal max-w-190" [innerHTML]="dealData?.highlights"></span>
      <span *ngIf="dealData?.highlights == ''" class="mb-8 text-base font-normal text-gray-500">This deal has no "Highlights"</span>

      <span class="mb-5 text-3xl font-bold">About this deal</span>
      <span *ngIf="dealData?.aboutThisDeal != ''" style="color: #728A9F;" class="mb-8 text-base font-normal max-w-190" [innerHTML]="dealData?.aboutThisDeal"></span>
      <span *ngIf="dealData?.aboutThisDeal == ''" class="mb-8 text-base font-normal text-gray-500">This deal has no "About this deal"</span>

      <span class="mb-5 text-3xl font-bold">Read more</span>
      <span *ngIf="dealData?.readMore != ''" style="color: #728A9F;" class="mb-8 text-base font-normal max-w-190" [innerHTML]="dealData?.readMore"></span>
      <span *ngIf="dealData?.readMore == ''" class="mb-8 text-base font-normal text-gray-500">This deal has no "Read more"</span>

      <span class="mb-5 text-3xl font-bold">Fine print</span>
      <span *ngIf="dealData?.finePrints != ''" style="color: #728A9F;" class="mb-8 text-base font-normal max-w-190" [innerHTML]="dealData?.finePrints"></span>
      <span *ngIf="dealData?.finePrints == ''" class="mb-8 text-base font-normal text-gray-500">This deal has no "Fine print"</span>

    </div>

    <div class="flex flex-col items-end">
      <div class="xl:pr-8 1.5xl:pr-12 mb-2 mt-36 max-w-100">
        <ng-container *ngIf="subDeals.length > 0 || subDeals != [];">
          <ng-container *ngFor="let deal of subDeals; let i = index">
            <span *ngIf="deal.title.length >= 26" [ngbTooltip]="deal.title" placement="top" [container]="'body'" class="text-base font-semibold cursor-pointer max-w-40">{{(deal.title.length > 26) ? ((deal.title) | slice:0:26)+'...':(deal.title)}}</span>
            <span *ngIf="deal.title.length < 26">{{(deal.title.length > 26) ? ((deal.title) | slice:0:26)+'...':(deal.title)}}</span>
            <div class="flex justify-start">
              <span class="mt-4 text-sm line-through" style="color:#94A1B3;">{{deal.originalPrice}}&nbsp;&euro;</span>
              <span class="font-semibold text-sm mx-3.5 mt-4" style="color:#12B500;">{{deal.dealPrice}}&nbsp;&euro;</span>
              <div>
                <button class="py-1 px-4.5 text-xxs rounded-xl mt-3.5 cursor-text" style="color: #12B500; background-color: #DBF4D9;">{{deal.discountPercentage.toFixed(2).replace('.',',')}} off</button>
              </div>
            </div>
            <hr style="border: 0.5px solid #96B1BC;" class="mb-4">
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<!--skeleton-->
<div *ngIf="dataLoading == true" class="w-full my-8">
  <div class="flex justify-between">
    <div class="flex flex-col max-w-190">
      <span class="inline-block py-2 mb-3 bg-gray-300 border-2 rounded-sm"></span>
      <span class="inline-block py-1.5 mb-3 bg-gray-300 border-2 rounded-sm max-w-135"></span>
      <span class="inline-block py-1 mt-2.5 mb-3 bg-gray-300 border-2 rounded-sm max-w-26"></span>

      <span class="inline-block bg-gray-300 rounded-lg h-104 animate-pulse w-190"></span>
      <div class="flex mb-7 justify-evenly">
        <div *ngFor="let i of Arr(num).fill(1)" class="flex w-16 my-4 justify-evenly">
          <span class="inline-block w-16 bg-gray-300 rounded-lg h-14 animate-pulse"></span>
        </div>
      </div>

      <span class="inline-block py-2 mt-3 mb-6 bg-gray-300 border-2 rounded-sm"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 mt-1 mb-8 bg-gray-300 border-2 rounded-xl max-w-44"></span>

      <span class="inline-block py-2 mt-3 mb-6 bg-gray-300 border-2 rounded-sm"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 mt-1 mb-8 bg-gray-300 border-2 rounded-xl max-w-44"></span>

      <span class="inline-block py-2 mt-3 mb-6 bg-gray-300 border-2 rounded-sm"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 mt-1 mb-8 bg-gray-300 border-2 rounded-xl max-w-44"></span>

      <span class="inline-block py-2 mt-3 mb-6 bg-gray-300 border-2 rounded-sm"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 my-1 bg-gray-300 border-2 rounded-xl max-w-100"></span>
      <span class="inline-block py-0.5 mt-1 mb-8 bg-gray-300 border-2 rounded-xl max-w-44"></span>


    </div>

    <div class="flex flex-col items-end">
      <div class="xl:pr-8 1.5xl:pr-12 mb-2 mt-24 max-w-100">
        <span class="inline-block py-1 bg-gray-300 border-2 rounded-sm max-w-60 w-60"></span>
        <div class="flex justify-start">
          <span class="inline-block w-7 h-2.5 mx-2 bg-gray-300 border-2 rounded-sm mt-4"></span>
          <span class="inline-block w-7 h-2.5 mx-2 bg-gray-300 border-2 rounded-sm mt-4"></span>
          <div>
            <button class="inline-block w-16 py-2 mx-1 bg-gray-300 border-2 rounded-xl"></button>
          </div>
        </div>

        <span class="inline-block py-1 mt-12 bg-gray-300 border-2 rounded-sm max-w-60 w-60"></span>
        <div class="flex justify-start">
          <span class="inline-block w-7 h-2.5 mx-2 bg-gray-300 border-2 rounded-sm mt-4"></span>
          <span class="inline-block w-7 h-2.5 mx-2 bg-gray-300 border-2 rounded-sm mt-4"></span>
          <div>
            <button class="inline-block w-16 py-2 mx-1 bg-gray-300 border-2 rounded-xl"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
