<app-deal-preview></app-deal-preview>

<div class="gap-2 px-5 mt-20 engage-toolbar d-flex position-fixed fw-bolder zindex-2 top-50 end-0 transform-90">
  <button id="kt_engage_demos_toggle" class="px-4 shadow-sm engage-demos-toggle btn btn-flex h-35px bg-body btn-color-gray-700 btn-active-color-gray-900 fs-6 rounded-top-0" title="" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-dismiss="click" data-bs-trigger="hover"
          data-bs-original-title="Check out 20 more demos">
    <span id="kt_engage_demos_label" class="tracking-wider text-blue-500">Deal Preview</span>
  </button>
</div>
