<div class="p-0 m-0" >
  <div class="p-0">
    <div
      class="stepper stepper-links d-flex flex-column"
      id="kt_create_account_stepper"
    >
      <form
        class="pt-0 pb-0 mx-auto w-100"
        noValidate
        id="kt_create_account_form"
      >
        <div class="current">
          <ng-container>
            <app-step1  [hidden]="currentStep$.value !== 1" #step1
              class="w-100"
              [updateParentModel]="updateDeal"
              [deal]="deal$.value"
            ></app-step1>
          </ng-container>

          <ng-container>
            <app-step2 *ngIf="currentStep$.value === 2"
              class="w-100"
              [updateParentModel]="updateDeal"
              [deal]="deal$.value"
              [images]="step1.multiples"
            ></app-step2>
          </ng-container>

          <ng-container>
            <app-step3 *ngIf="currentStep$.value === 3"
              class="w-100"
              [updateParentModel]="updateDeal"
              [deal]="deal$.value"
            ></app-step3>
          </ng-container>

          <ng-container>
            <app-step4 *ngIf="currentStep$.value === 4"
              class="w-100"
              [updateParentModel]="updateDeal"
              [deal]="deal$.value"
              [images]="step1.images"
            ></app-step4>
          </ng-container>

          <ng-container>
            <app-step5  [hidden]="currentStep$.value !== 5"class="w-100"></app-step5>
          </ng-container>
        </div>

        <div [ngClass]="(currentStep$.value === 1 || currentStep$.value === 4)? 'd-flex justify-content-center': 'd-flex justify-content-around'"
          class="md:mt-2 3xl:mt-8">
          <div class="mr-2">
            <ng-container *ngIf="currentStep$.value !== 1">
              <button
                type="button"
                class="py-3 mt-3 text-sm font-thin text-gray-600 bg-gray-300 border border-gray-500 rounded-md md:mt-0 px-13"
                [disabled]="connection.disabler == false"
                (click)="prevStep()"
              >
              Back
              </button>
            </ng-container>
          </div>

            <ng-container *ngIf="currentStep$.value !== formsCount - 1">
              <div>
                <button
                  type="button"
                  class="py-3 mt-3 text-sm font-thin border-gray-400 btn btn-dark px-13 md:mt-0"
                  [disabled]="!isCurrentFormValid$.value || step1.urls.length == 0"
                  (click)="nextStep()"
                >
                  <span class="indicator-label">
                    <ng-container *ngIf="currentStep$.value < formsCount - 1">
                      Next {{ " " }}
                    </ng-container>
                  </span>
                </button>
              </div>
            </ng-container>
        </div>
      </form>
    </div>
  </div>
</div>

<!--[disabled]="!isCurrentFormValid$.value || step1.urls.length == 0"-->
