<!-- <app-vertical></app-vertical> -->

<!--Title/ Header-->
<!--Card for Creating Deal-->
<div class="flex flex-col w-full h-auto gap-2 mt-9 md:flex-row">
  <div class="flex justify-center w-full p-6 shadow-sm md:overflow-y-auto card card-custom">
    <form class="self-center form w-128 max-w-128" [formGroup]="dealForm">
      <div class="mb-9 lg:text-center">
        <h1 class="mt-1 mb-2.5 text-lg text-center text-black md:text-xl xl:text-2xxl xl:font-semibold 2xl:text-3xl">Give us the details of your deal.</h1>
        <div class="text-xs font-medium text-center text-primary-400 md:text-sm xl:text-base">Make sure the customer understands the details of your offer(s).</div>
      </div>
      <!--Form-->
      <!-- <div class="h-24 fv-row 2xl:h-26">
        <label class="form-label">Highlights</label>
        <input maxlength="140" appTrim type="text " class="text-sm font-thin form-control" formControlName="highlights" name="highlights" placeholder="Enter title of your deal"
        [ngClass]="{
          'is-invalid': f['highlights'].invalid && f['highlights'].touched,
          'is-valid': f['highlights'].valid}">
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Highlights is required',
          control: dealForm.controls['highlights']
        }">
        </ng-container>
        <ng-container *ngIf="f['highlights']?.errors?.['minlength']" [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Highlights should at least be 3 characters',
            control: dealForm.controls['highlights']
          }">
        </ng-container>
        <ng-container *ngIf="!f['highlights']?.errors?.['minlength']" [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'Special characters are not allowed',
          control: dealForm.controls['highlights']
        }">
        </ng-container>
      </div> -->

      <div class="relative h-72 fv-row">
        <label class="form-label">About this deal</label>
        <span [ngClass]="textLength(dealForm.controls['aboutThisDeal']?.value) > 2000 ? 'text-red-500': 'text-black'" class="absolute z-50 text-xs top-10 right-4">{{textLength(dealForm.controls['aboutThisDeal']?.value)}}/2000</span>
        <ckeditor [editor]="Editor" (focus)="f['aboutThisDeal'].markAsTouched()" [config]="config" type="text font-weight-light" class="p-0 text-sm font-thin border-none form-control" formControlName="aboutThisDeal" name="aboutThisDeal" placeholder="aboutThisDeal" rows="5"
        [ngClass]="{
          'is-invalid': f['aboutThisDeal'].invalid && f['aboutThisDeal'].touched,
          'is-valid': f['aboutThisDeal'].valid}"></ckeditor>
          <ng-container *ngIf="(dealForm.controls['aboutThisDeal'].dirty || dealForm.controls['aboutThisDeal'].touched)">

            <ng-container *ngIf="dealForm.controls['aboutThisDeal'].value == null || dealForm.controls['aboutThisDeal'].value == ''">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  About this deal is required
                </span>
              </div>
            </ng-container>

            <ng-container *ngIf="dealForm.controls['aboutThisDeal'].value !== null && dealForm.controls['aboutThisDeal'].value !== '' && textLength(dealForm.controls['aboutThisDeal'].value) < 16">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  About this deal should be at least be 16 characters
                </span>
              </div>
            </ng-container>

            <ng-container *ngIf="dealForm.controls['aboutThisDeal'].value !== null && dealForm.controls['aboutThisDeal'].value !== '' && textLength(dealForm.controls['aboutThisDeal'].value) > 2000">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  Upto 2000 characters are allowed
                </span>
              </div>
            </ng-container>
          </ng-container>
      </div>

      <div class="relative h-72 fv-row">
        <label class="form-label">Read more</label>
        <span [ngClass]="textLength(dealForm.controls['readMore']?.value) > 2000 ? 'text-red-500': 'text-black'" class="absolute z-50 text-xs top-10 right-4">{{textLength(dealForm.controls['readMore']?.value)}}/2000</span>
        <ckeditor (focus)="f['readMore'].markAsTouched()" [editor]="Editor" [config]="config" type="text font-weight-light" class="p-0 text-sm font-thin border-none form-control" formControlName="readMore" name="readMore" placeholder="readMore" rows="5"
        [ngClass]="{
          'is-invalid': f['readMore'].invalid && f['readMore'].touched,
          'is-valid': f['readMore'].valid}"></ckeditor>
          <ng-container *ngIf="(dealForm.controls['readMore'].dirty || dealForm.controls['readMore'].touched)">

            <!-- <ng-container *ngIf="dealForm.controls['readMore'].value == null || dealForm.controls['readMore'].value == ''">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  Read more is required
                </span>
              </div>
            </ng-container> -->

            <ng-container *ngIf="dealForm.controls['readMore'].value !== null && dealForm.controls['readMore'].value !== '' && textLength(dealForm.controls['readMore'].value) < 16">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  Read more should at least be 16 characters
                </span>
              </div>
            </ng-container>

            <ng-container *ngIf="dealForm.controls['readMore'].value !== null && dealForm.controls['readMore'].value !== '' && textLength(dealForm.controls['readMore'].value) > 2000">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  Upto 2000 characters are allowed
                </span>
              </div>
            </ng-container>
          </ng-container>
      </div>

      <div class="relative h-72 fv-row">
        <label class="form-label">The fine print</label>
        <span [ngClass]="textLength(dealForm.controls['finePrints']?.value) > 2000 ? 'text-red-500': 'text-black'" class="absolute z-50 text-xs top-10 right-4">{{textLength(dealForm.controls['finePrints']?.value)}}/2000</span>
        <ckeditor (focus)="f['finePrints'].markAsTouched()" [editor]="Editor" [config]="config" type="text font-weight-light" class="p-0 text-sm font-thin border-none form-control" formControlName="finePrints" name="finePrints" placeholder="finePrints" rows="5"
        [ngClass]="{
          'is-invalid': f['finePrints'].invalid && f['finePrints'].touched,
          'is-valid': f['finePrints'].valid}"></ckeditor>
          <ng-container *ngIf="(dealForm.controls['finePrints'].dirty || dealForm.controls['finePrints'].touched)">

            <!-- <ng-container *ngIf="dealForm.controls['finePrints'].value ==null || dealForm.controls['finePrints'].value == ''">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  The fine print is required
                </span>
              </div>
            </ng-container> -->

            <ng-container *ngIf="dealForm.controls['finePrints'].value !== null && dealForm.controls['finePrints'].value !== '' && textLength(dealForm.controls['finePrints'].value) < 16">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  The fine print should at least be 16 characters
                </span>
              </div>
            </ng-container>

            <ng-container *ngIf="dealForm.controls['finePrints'].value !== null && dealForm.controls['finePrints'].value !== '' && textLength(dealForm.controls['finePrints'].value) > 2000">
              <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
                <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
                  Upto 2000 characters are allowed
                </span>
              </div>
            </ng-container>
          </ng-container>
      </div>

      <div class="flex justify-between mt-8 min-h-14 2xl:h-20">
        <button [ngClass]="connection.isSaving.value == true ? 'opacity-50 cursor-not-allowed': 'opacity-100'" [disabled]="connection.isSaving.value == true" type="button" class="self-center w-32 text-sm text-gray-600 bg-gray-300 rounded-lg h-9 2xl:h-12" (click)="returnToPrevious()">Back</button>
        <button (click)="sendDraftData();" class="self-center w-32 text-sm text-white rounded-lg h-9 2xl:h-12 bg-primary-500">Save & next</button>
      </div>

    </form>
  </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
      <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>


<app-media-progress></app-media-progress>
