<!-- Dashboard -->
<div class="mt-5 mb-5 text-sm menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/dashboard"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/logos/analytics.svg'"
        class="svg-icon svg-icon-4"
      ></span>
    </span>
    <span class="menu-title">Analytics</span></a>
</div>

<!-- Pages -->
<div
  class="mt-5 mb-5 menu-item menu-accordion"
  data-kt-menu-trigger="click"
  routerLinkActive="here show"
>
  <span class="menu-link">
    <span class="menu-icon">
      <span class="svg-icon svg-icon-4" [inlineSVG]="'./assets/media/logos/voucher.svg'"></span>
    </span>
    <span class="text-sm menu-title">Deals</span><span class="menu-arrow"></span>
  </span>

  <div class="ml-2 menu-sub menu-sub-accordion">
    <div class="mt-3 mb-2 menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/deals/create-deal"
        ><span class="menu-bullet"
          ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title fs-9">Create New Deal</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/deals/view-deal"
        ><span class="menu-bullet"
          ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title fs-9">My Deals</span></a
      >
    </div>
  </div>

</div>

<div class="mt-5 mb-5 menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/order-management"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/logos/product-management.svg'"
        class="svg-icon svg-icon-4"
      ></span>
    </span>
    <span class="text-sm menu-title">My Vouchers</span
  ></a>
</div>
<div class="mt-5 mb-5 menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/billings"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/logos/receipt.svg'"
        class="svg-icon svg-icon-4"
      ></span>
    </span>
    <span class="text-sm menu-title">My Invoices</span
  ></a>
</div>
<div class="mt-5 mb-5 menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/reviews"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/logos/reviews-star.svg'"
        class="svg-icon svg-icon-4"
      ></span>
    </span>
    <span class="text-sm menu-title">Reviews</span
  ></a>
</div>


<!--Profile-->

<div
  class="mt-5 mb-5 menu-item menu-accordion"
  data-kt-menu-trigger="click"
  routerLinkActive="here show"
>
  <span class="menu-link">
    <span class="menu-icon">
      <span class="svg-icon svg-icon-4" [inlineSVG]="'./assets/media/logos/admin.svg'"></span>
    </span>
    <span class="text-sm menu-title">My Profile</span><span class="menu-arrow"></span>
  </span>

  <div class="ml-2 menu-sub menu-sub-accordion">
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/business-page"
        ><span class="menu-bullet"
          ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title fs-9">Business Details</span></a>
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/profile-page"
        ><span class="menu-bullet"
          ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title fs-9">DiviDeals Profile</span></a
      >
    </div>

    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/security-page"
        ><span class="menu-bullet"
          ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title fs-9">Security</span></a
      >
    </div>
  </div>

</div>
