<!-- Dashboard -->
<div class="mt-5 mb-5 menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/dashboard"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/logos/dashboard.svg'"
        class="svg-icon svg-icon-4"
      ></span>
    </span>
    <span class="menu-title">Analytics</span></a>
</div>

<!-- Pages -->
<div
  class="mt-5 mb-5 menu-item menu-accordion"
  data-kt-menu-trigger="click"
  routerLinkActive="here show"
>
  <span class="menu-link"
    ><span class="menu-icon"
      ><span
        class="svg-icon svg-icon-4"
        [inlineSVG]="'./assets/media/logos/deals.svg'">
      </span>
    </span>
    <span class="menu-title">Deals</span><span class="menu-arrow"></span>
  </span>

  <div class="menu-sub menu-sub-accordion">
    <div
      class="ml-5 menu-item menu-accordion"
      routerLinkActive="here show"
      data-kt-menu-trigger="click"
    >
    <div class="mt-5 mb-5 menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/pages/wizards/horizontal"
        ><span class="menu-bullet"
          ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title fs-8">Create New Deal</span></a
      >
    </div>
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLinkActive="active"
        routerLink="/crafted/pages/wizards/view-deal"
        ><span class="menu-bullet"
          ><span class="bullet bullet-dot"></span></span
        ><span class="menu-title fs-8">View Deal</span></a
      >
    </div>

    </div>


  </div>

</div>

<div class="mt-5 mb-5 menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/order-management"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/logos/order-managment.svg'"
        class="svg-icon svg-icon-4"
      ></span>
    </span>
    <span class="menu-title">My Vouchers</span
  ></a>
</div>
<div class="mt-5 mb-5 menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/billings"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/logos/payments.svg'"
        class="svg-icon svg-icon-4"
      ></span>
    </span>
    <span class="menu-title">My Invoices</span
  ></a>
</div>
<div class="mt-5 mb-5 menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/reviews"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/logos/payments.svg'"
        class="svg-icon svg-icon-4"
      ></span>
    </span>
    <span class="menu-title">My Reviews</span
  ></a>
</div>
<div class="mt-5 mb-5 menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/crafted/account/account-details"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/logos/Profile.svg'"
        class="svg-icon svg-icon-4"
      ></span>
    </span>
    <span class="menu-title">My Profile</span
  ></a>
</div>
