<div
  class="p-0 overflow-hidden card-body d-flex justify-content-between flex-column main-div"
  style="border-radius: 8px; background-color: white;"
>
  <div class="flex-wrap 1.25xl:px-4 xl:px-2 d-flex flex-stack flex-grow-1">
    <span class="1.25xl:text-base xl:text-sm xl:pl-2 font-semibold text-dark d-block">Net Revenue</span>
    <span style="color:#728A9F;" class="mr-5 1.25xl:text-xs xl:text-xxs">{{(netRevenue | async)?.from}} - {{(netRevenue | async)?.to}}</span>
    <span class="mr-3 1.25xl:text-base xl:text-sm text-black">{{(netRevenue | async)?.yearlyRevenue?.toFixed(0)}}&nbsp; &euro;</span>
  </div>

  <div #chartRef class="mixed-widget-10-chart" [style.height]="chartHeight" [style.width]="chartWidth">
    <apx-chart *ngIf="(isLoading$ | async) == false"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [states]="chartOptions.states"
      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
      [markers]="chartOptions.markers"
      [plotOptions]="chartOptions.plotOptions"
    ></apx-chart>
    <ng-container *ngIf="(isLoading$ | async) == true">
      <div class="flex justify-center align-middle items-center mb-4" style="height: 190px;">
        <span class="indicator-progress" [style.display]="'block'">
          <span class="align-middle spinner-border spinner-border-sm w-6 h-6"></span>
        </span>
      </div>
    </ng-container>
  </div>
</div>

<style>
  .main-div {
    height: 17.3rem;
  }

  @media(min-width: 1600px) and (max-width: 1920px) {
    .main-div {
      height: 17.3rem;
    }
  }

  .first {
    width: 388px;
  }

  .firstly {
    width: 388px;
  }

  @media(max-width: 1280px) {
    .first {
      width: 320px;
    }

    .firstly {
      width: 320px;
    }
  }

</style>
