<div
  class="p-0 overflow-hidden card-body d-flex justify-content-between flex-column"
  style="box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%); border-radius: 8px;"
>
  <div class="flex-wrap pb-3 d-flex flex-stack flex-grow-1 px-9 pt-9">
    <div class="me-2">
      <span class="font-medium text-dark d-block fs-3">Sales</span>

      <span class="text-sm font-light text-gray-500">Oct 8 - Oct 26 2021</span>
    </div>

    <div class="font-medium fs-7" [ngClass]="'fs-7 text-blue-500'">
      $15,300
    </div>
  </div>

  <div #chartRef class="mixed-widget-10-chart" [style.height]="chartHeight">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [states]="chartOptions.states"
      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
      [markers]="chartOptions.markers"
      [plotOptions]="chartOptions.plotOptions"
    ></apx-chart>
  </div>
</div>
