.dropdown-toggle::after {
  display: none;
}

.table-conatiner {
  width: 100%!important;
  overflow-x: scroll;
}

input.form-control:focus {
  border-color: #7FC0F4;
}

th {
  @apply font-semibold text-sm2;
  color: #545A60;
}

td {
  @apply text-sm2;
  color: #515151;
}

tr {
  // width: clac(100% - 2rem);
}

.active {
  background: #CCE6FB !important;
  color:#0081E9 !important;
}


@media (max-width: 600px ) {

  .table-container {
      width: 100% !important;
      overflow-x: scroll;
  }

}

@media (min-width: 900px ) {
  .table-container {
    width: 100% !important;
    overflow-x: scroll;
  }
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.common {
  width: 331px;
  height: 536px
}

.common-10 {
  width: 388px;
}

.first {
  width: 331px;
}

.star {
  --br-font-size: 22px!important;
  --br-active-color: #FCCA3F !important;
  --br-inactive-color: #D2D2D2;
}

.br-default {
  --br-font-size: 22px!important;
}

.br-units {
  font-size: 22px!important;
}

.text-main {
  font-size: 15px;
}

@media(min-width: 1440px) and (max-width: 1536px) {
  .common {
    width: 360px;
  }

  .first {
    width: 360px;
  }
}

@media(min-width: 1600px) and (max-width: 1920px) {
  .common {
    width: 431px;
    height: 536px
  }

  // .common-10 {
  //   width: 400px;
  // }

  .first {
    width: 400px;
  }
}
