<!-- begin::Row -->
<div class="flex flex-row flex-wrap justify-between mb-5">
  <span class="text-3xl font-semibold text-black">Analytics</span>
  <button class="px-6 py-3 text-sm font-thin btn btn-dark" routerLink="/crafted/pages/wizards/horizontal">Create Deal</button>
</div>

<div class="row gy-5 g-xl-8">
  <div class="col-xxl-4">
    <app-mixed-widget2
      class="card card-xl-stretch mb-xl-8"
      chartColor="danger"
      chartHeight="200px"
      strokeColor="#cb1e46"
    ></app-mixed-widget2>
  </div>

  <div class="col-xxl-4">
    <app-mixed-widget10
      class="mb-5 card card-xxl-stretch-50 mb-xl-8"
      chartColor="blue"
      chartHeight="150px"
    ></app-mixed-widget10>
    <app-mixed-widget11
      class="mb-5 card card-xxl-stretch-50 mb-xl-8"
      chartColor="gray"
      chartHeight="175px"
    ></app-mixed-widget11>
  </div>

  <div class="col-xxl-4">
    <app-lists-widget5 class="card card-xxl-stretch"></app-lists-widget5>
  </div>
</div>
<!-- end::Row -->

<ng-container *ngIf="showData == false">
  <app-table-skeleton></app-table-skeleton>
</ng-container>

<ng-container *ngIf="showData == true">
  <div class="table-container">
    <table class="w-full mt-10 rounded-md shadow-md">
      <tr ngbDropdown placement="bottom-end" id="dropdownBasic1" class="text-center text-gray-600 bg-gray-300 rounded-lg">
        <th class="p-4 font-semibold text-black">Deals Title</th>
        <th class="p-4 font-semibold text-black">Start Date</th>
        <th class="p-4 font-semibold text-black">End Date</th>
        <th class="p-4 font-semibold text-black">Available</th>
        <th class="p-4 font-semibold text-black">Sold</th>
        <th class="p-4 font-semibold text-black">Average</th>
        <th class="p-4 font-semibold text-black">Status</th>
      </tr>
      <ng-container *ngFor="let deal of topDeals; let i = index">
        <tr class="z-40 w-full text-center text-black bg-white rounded-lg">
          <td class="flex flex-row items-center justify-center p-4 font-thin">
            <img class="rounded-full w-7 h-7 lg:rounded-md lg:w-11 lg:h-11 xl:w-11 xl:h-11 xl:rounded-md 2xl:w-11 2xl:h-11 2xl:rounded-md" [src]="deal.mediaUrl">
            <span class="ml-3">{{deal.title}}</span>
          </td>
          <td class="p-4 font-thin">{{deal.startDate | date}}</td>
          <td class="p-4 font-thin">{{deal.endDate | date}}</td>
          <td class="p-4 font-thin">{{deal.ratingsAverage}}</td>
          <td class="p-4 font-thin">{{deal.maxRating}}</td>
          <td class="p-4 font-thin">{{deal.minRating}}</td>
           <ng-container *ngIf="deal.dealStatus == 'In Review'"></ng-container>
           <td class="p-4 font-thin">
            <span class="px-5 py-3 badge badge-light-warning rounded-2xl">Pending</span>
          </td>
          <!-- <ng-container *ngIf="deal.dealStatus == ''"></ng-container> -->
        </tr>
      </ng-container>
    </table>
  </div>
</ng-container>
