<!-- begin::Row -->
<div class="flex flex-row flex-wrap justify-between mb-5">
  <span class="text-3xl font-semibold text-black">Analytics</span>
  <button data-kt-menu-trigger="click" class="px-6 py-3 text-sm font-thin text-white bg-blue-500 btn" [routerLink]="['/deals/create-deal']">Create a Deal</button>
</div>

<div class="row gy-5 g-xl-8">
  <div class="col-xxl-4">
    <app-mixed-widget2
      class="card card-xl-stretch mb-xl-8"
      chartColor="danger"
      chartHeight="200px"
      strokeColor="#cb1e46"
    ></app-mixed-widget2>
  </div>

  <div class="col-xxl-4">
    <app-mixed-widget10
      class="mb-5 card card-xxl-stretch-50 mb-xl-8"
      chartColor="blue"
      chartHeight="150px"
    ></app-mixed-widget10>
    <app-mixed-widget11
      class="mb-5 card card-xxl-stretch-50 mb-xl-8"
      chartColor="gray"
      chartHeight="175px"
    ></app-mixed-widget11>
  </div>

  <div class="col-xxl-4">
    <app-lists-widget5 class="card card-xxl-stretch"></app-lists-widget5>
  </div>
</div>
<!-- end::Row -->

<ng-container *ngIf="showData == false">
  <app-table-skeleton></app-table-skeleton>
</ng-container>

<ng-container *ngIf="showData == true">
  <div class="table-container">
    <table class="w-full mt-10 rounded-md shadow-md">
      <tr ngbDropdown placement="bottom-end" id="dropdownBasic1" class="text-center text-gray-600 bg-blue-100 rounded-lg">
        <th class="p-4 font-semibold text-black">Deals Title</th>
        <th class="p-4 font-semibold text-black">Start Date</th>
        <th class="p-4 font-semibold text-black">End Date</th>
        <th class="p-4 font-semibold text-black">Available</th>
        <th class="p-4 font-semibold text-black">Sold</th>
        <th class="p-4 font-semibold text-black">Average</th>
        <th class="p-4 font-semibold text-black">Status</th>
      </tr>
      <ng-container *ngFor="let deal of topDeals; let i = index">
        <tr class="z-40 w-full text-center text-black bg-white rounded-lg">
          <td class="flex flex-row items-center justify-start p-4 font-thin">
            <img class="rounded-full w-7 h-7 lg:rounded-md lg:w-11 lg:h-11 xl:w-11 xl:h-11 xl:rounded-md 3xl:w-11 3xl:h-11 3xl:rounded-md" [src]="deal.mediaUrl">
            <span class="ml-3">{{deal.dealHeader}}</span>
          </td>
          <td class="p-4 font-thin">{{deal.startDate | date}}</td>
          <td class="p-4 font-thin">{{deal.endDate | date}}</td>
          <td class="p-4 font-thin">{{deal.ratingsAverage}}</td>
          <td class="p-4 font-thin">{{deal.maxRating}}</td>
          <td class="p-4 font-thin">{{deal.minRating}}</td>
           <ng-container *ngIf="deal.dealStatus == 'In Review'"></ng-container>
           <td class="p-4 font-thin">
            <span class="px-4 py-3 bg-yellow-500 badge rounded-2xl opacity-80">Pending</span>
          </td>
          <!-- <ng-container *ngIf="deal.dealStatus == ''"></ng-container> -->
        </tr>
      </ng-container>
    </table>
  </div>
</ng-container>

<!-- <button class="p-2 bg-red-400" (click)="openNew()">Test</button> -->


<app-reusable-modal #modal [modalConfig]="modalConfig" style="z-index: -1!important;">
  <div class="mt-12 text-center">
    <h1>Setup a new Password</h1>
  </div>
  <form [formGroup]="newPassForm">
    <div class="flex flex-col items-center justify-center modal-body">
      <div class="w-3/4 mb-3 form-group">
        <label class="mb-3">Password</label>
        <div class="flex flex-row input-group-prepend justify-evenly">
         <span class="absolute flex items-center mt-3 cursor-pointer right-24" (click)="passwordShowHide()"><i [ngClass]="passwordHide ? 'far fa-eye': 'far fa-eye-slash'" class="p-2 ml-2 text-gray-600 bg-white rounded far fa-eye"></i></span>
         <input
          tabindex="-1"
          class="pr-20 form-control"
          type="{{passwordHide ? 'password' : 'text'}}"
          name="password"
          autocomplete="off"
          formControlName="password"
          [ngbPopover]="popContent"
          [popoverTitle]="popTitle"
          placement="bottom-right"
          >
        </div>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Password is required',
          control: newPassForm.controls['password']}">
        </ng-container>

        <ng-template #popTitle>
          <div class="">Password should include:</div>
        </ng-template>
        <ng-template #popContent>
          <div class="flex flex-col justify-evenly">
            <div [ngClass]="newPassForm.controls['password']?.hasError('required') || newPassForm.controls['password']?.hasError('minlength')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="newPassForm.controls['password']?.hasError('required') || newPassForm.controls['password']?.hasError('minlength')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. 8 characters</div>
            <div [ngClass]="newPassForm.controls['password']?.hasError('required') || newPassForm.controls['password']?.hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="newPassForm.controls['password']?.hasError('required') || newPassForm.controls['password']?.hasError('hasCapitalCase')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one uppercase</div>
            <div [ngClass]="newPassForm.controls['password']?.hasError('required') || newPassForm.controls['password']?.hasError('hasSmallCase')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="newPassForm.controls['password']?.hasError('required') || newPassForm.controls['password']?.hasError('hasSmallCase')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one lowercase</div>
            <div [ngClass]="newPassForm.controls['password']?.hasError('required') || newPassForm.controls['password']?.hasError('hasNumber')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="newPassForm.controls['password']?.hasError('required') || newPassForm.controls['password']?.hasError('hasNumber')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one numeric</div>
            <div [ngClass]="newPassForm.controls['password']?.hasError('required') || newPassForm.controls['password']?.hasError('hasSpecialCharacters')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="newPassForm.controls['password']?.hasError('required') || newPassForm.controls['password']?.hasError('hasSpecialCharacters')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one special character (@,*,#,$,%,&)</div>
          </div>
          <div *ngIf="newPassForm.controls['password']?.valid" class="mt-2 text-sm text-left text-success">Password is valid</div>
        </ng-template>
       </div>

       <div class="w-3/4 mb-3 form-group">
        <label class="mb-3">Confirm Password</label>
        <div class="flex flex-row input-group-prepend justify-evenly">
          <span class="absolute flex items-center mt-3 cursor-pointer right-24" (click)="passwordShowHide()"><i [ngClass]="passwordHide ? 'far fa-eye': 'far fa-eye-slash'" class="p-2 ml-2 text-gray-600 bg-white rounded far fa-eye"></i></span>
          <input
            tabindex="-1"
            type="{{passwordHide ? 'password' : 'text'}}"
            formControlName="confirmPass"
            name="confirmPass"
            class="pr-20 form-control">
         </div>
         <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Confirm your password',
          control: newPassForm.controls['confirmPass']}">
        </ng-container>
        <ng-container
        *ngIf="
        newPassForm.controls['confirmPass'].errors &&
        newPassForm.controls['confirmPass'].errors['ConfirmPassword']">
        <div class="fv-plugins-message-container">
          <div class="text-xs fv-help-block">
            Passswords do not match.
          </div>
        </div>
      </ng-container>
       </div>
    </div>
  </form>

  <div class="flex justify-center mb-8">
    <button [ngClass]="newPassForm.invalid ? 'opacity-50': ''" [disabled]="newPassForm.invalid" (click)="resetPassword(); closeModal()" class="px-10 py-2 text-white bg-blue-500 rounded-md">Save</button>
  </div>
</app-reusable-modal>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="text-xs fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>

<!--<span class="mt-2.5 ml-1 absolute flex items-center"><i class="p-2 ml-2 text-white rounded fas fa-euro-sign fa-lg bg-success"></i></span>-->
