<app-vertical></app-vertical>

<div class="flex flex-col w-full h-auto gap-2 mt-9 md:flex-row">
  <div class="flex justify-center w-full p-6 shadow-sm md:overflow-y-auto card card-custom">
    <form class="self-center form max-w-150" [formGroup]="dateForm">
      <div class="mb-9 lg:text-center">
        <h1 class="mt-1 mb-2.5 text-lg text-center md:text-xl xl:text-2xxl xl:font-semibold 2xl:text-3xl 3xl:text-4xl text-black">Let's get this crazy deal scheduled!</h1>
        <div style="color: #0081E9;" class="text-xs font-medium text-center md:text-sm xl:text-base 3xl:text-lg">When would you like your deal to be visible on our platform?</div>
      </div>


      <div class="flex flex-row justify-center w-full ml-20 align-middle">
        <div class="flex flex-col justify-start align-top xl:mr-28 xl:pr-2">
          <div class="flex flex-row">
            <span class="text-sm mt-0.5 font-medium form-check-label" style="color: #313131;">Start Date</span>
            <!-- &nbsp;<span class="text-black">*</span> -->
          </div>
          <div class="w-auto mt-2 mb-3 input-icon lg:w-96">
            <span class="absolute flex items-center mt-2 ml-1"><img  (click)="x.toggle()" src="../../../../../assets/media/logos/blue-cal.svg" class="w-4 h-4 mt-2 ml-2 text-blue-600"></span>
            <input
              placeholder="dd-mm-yyyy"
              (keydown)="disableManual($event)"
              [minDate]="form.get('voucherStartDate')?.value ? form.get('voucherStartDate')?.value : minDate"
              [maxDate]="form.get('voucherEndDate')?.value"
              name="dp"
              ngbDatepicker
              #x="ngbDatepicker"
              (click)="x.toggle()"
              style="width: 20.983rem;"
              class="pl-12 text-sm font-thin border-gray-400 cursor-pointer form-control"
              formControlName="startDate"
              name="startDate"
              [container]="'body'"
            >
          </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Start date for the deal is required',
            control: dateForm.controls['startDate']
          }">
          </ng-container>

            <span class="text-sm font-medium form-check-label" style="color: #313131;">End Date</span>
            <!-- &nbsp;<span class="text-black">*</span> -->
            <div class="flex-auto w-auto mt-2 input-icon lg:w-96">
              <span class="absolute flex items-center mt-2 ml-1"><img (click)="y.toggle();" src="../../../../../assets/media/logos/blue-cal.svg" class="w-4 h-4 mt-2 ml-2 text-blue-600"></span>
              <input
              placeholder="dd-mm-yyyy"
              [minDate]="dateForm.get('startDate')?.value ? dateForm.get('startDate')?.value : form.get('voucherStartDate')?.value"
              [maxDate]="form.get('voucherEndDate')?.value"
              (keydown)="disableManual($event)"
              name="dp"
              ngbDatepicker
              #y="ngbDatepicker"
              (click)="y.toggle()"
              style="width: 20.983rem;"
              class="pl-12 text-sm font-thin border-gray-400 cursor-pointer form-control"
              formControlName="endDate"
              name="endDate"
              [container]="'body'"
              >
            </div>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'End date for the deal is required',
              control: dateForm.controls['endDate']
            }">
            </ng-container>
        </div>
      </div>

      <div class="pb-3 mt-5 button-calendar-opener">
        <button (click)="openDateModal()" class="text-sm text-white rounded-lg bg-primary-400 w-84 h-11">Go to calendar view</button>
      </div>

    </form>
  </div>
</div>

<div class="flex flex-col w-full h-auto gap-2 mt-4 pb-44 md:flex-row">
  <div class="flex justify-center w-full px-6 pt-6 pb-12 shadow-sm md:overflow-y-auto card card-custom">
      <!--title-->
      <form class="self-center form max-w-135" [formGroup]="form">
        <div class="mb-9 lg:text-center">
          <h1 class="mt-1 mb-2.5 text-lg text-center md:text-xl xl:text-2xxl xl:font-semibold 2xl:text-3xl 3xl:text-4xl text-black">Almost there.</h1>
          <div style="color: #0081E9;" class="text-xs font-medium text-center md:text-sm xl:text-base 3xl:text-lg">Let's finish off with the last details.</div>
        </div>
        <!--form-->
        <div class="flex flex-col items-center justify-center align-middle">
          <label class="mb-6 mr-2.5 form-label">When can the customer redeem their subdeal?</label>
            <div class="flex flex-row justify-center w-full ml-32 align-middle">

              <label class="mb-6 text-sm md:text-base form-check form-check-solid">
                <input
                class="w-4 h-4 mt-1 rounded-full form-check-input"
                style="border: 1px solid black;"
                type="checkbox"
                (click)="selectCheckBox(check_box_type.ONE); disableCheckBox();"
                [checked]="currentlyChecked === check_box_type.ONE"
                [disabled]="dealStatus == 'Published' || dealStatus == 'Scheduled'"
                >
              </label>

              <div class="flex flex-col justify-start align-top xl:mr-28 xl:pr-2">
                <div class="flex flex-row">
                  <span class="text-sm mt-0.5 font-medium form-check-label" style="color: #313131;">Start Date</span>
                  <!-- &nbsp;<span class="text-black">*</span> -->
                </div>
                <div class="w-auto mt-2 mb-3 input-icon lg:w-96">
                  <span class="absolute flex items-center mt-2 ml-1"><img (click)="c.toggle()" src="../../../../../assets/media/logos/blue-cal.svg" class="w-4 h-4 mt-2 ml-2 text-blue-600"></span>
                  <input
                    placeholder="dd-mm-yyyy"
                    [disabled]="currentlyChecked !== check_box_type.ONE || dealStatus == 'Published'"
                    (keydown)="disableManual($event)"
                    [minDate]="dateForm.get('startDate')?.value ? dateForm.get('startDate')?.value : minDate"
                    [maxDate]="dateForm.get('endDate')?.value"
                    name="dp"
                    ngbDatepicker
                    #c="ngbDatepicker"
                    (click)="c.toggle()"
                    style="width: 20.983rem;"
                    class="pl-12 text-sm font-thin border-gray-400 cursor-pointer form-control"
                    formControlName="voucherStartDate"
                    name="voucherStartDate"
                    [container]="'body'"
                  >
                </div>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'Start date for the subdeal is required',
                  control: form.controls['voucherStartDate']
                }">
                </ng-container>

                <label class="w-auto mt-1 text-sm xl:mt-1 form-check form-check-solid md:text-base lg:w-96" style="padding-left: 0px;">
                  <span class="text-sm font-medium form-check-label" style="color: #313131;">End Date</span>
                  <!-- &nbsp;<span class="text-black">*</span> -->
                  <div class="flex-auto w-auto mt-2 input-icon lg:w-96">
                    <span class="absolute flex items-center mt-2 ml-1"><img (click)="d.toggle();" src="../../../../../assets/media/logos/blue-cal.svg" class="w-4 h-4 mt-2 ml-2 text-blue-600"></span>
                    <input
                    [disabled]="currentlyChecked !== check_box_type.ONE || dealStatus == 'Published'"
                    placeholder="dd-mm-yyyy"
                    [minDate]="form.get('voucherStartDate')?.value"
                    [maxDate]="dateForm.get('endDate')?.value"
                    (keydown)="disableManual($event)"
                    name="dp"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    (click)="d.toggle()"
                    style="width: 20.983rem;"
                    class="pl-12 text-sm font-thin border-gray-400 cursor-pointer form-control"
                    formControlName="voucherEndDate"
                    name="voucherEndDate"
                    [container]="'body'"
                    >
                  </div>
                  <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'End date for the vocuher is required',
                    control: form.controls['voucherEndDate']
                  }">
                  </ng-container>
                </label>
              </div>
            </div>

            <div class="flex flex-row justify-center w-full ml-32 align-middle">
              <label class="text-sm mt-7 md:text-base form-check form-check-solid">
                <input
                class="w-4 h-4 mt-1 rounded-full form-check-input"
                type="checkbox"
                style="border: 1px solid black;"
                (click)="selectCheckBox(check_box_type.TWO); disableCheckBox();"
                [checked]="currentlyChecked === check_box_type.TWO || form.controls['voucherValidity']?.value"
                [disabled]="dealStatus == 'Published' || dealStatus == 'Scheduled'"
                >
              </label>

              <span class="w-48 text-sm font-medium form-check-label" style="margin-top: 1.8rem;">Subdeal is valid for</span>
              <div class="relative mt-4">
                <!-- <div class="flex flex-col w-full h-8 border-2 border-white rounded-sm md:flex-row"> -->
                  <div class="flex flex-row w-full">
                    <button [disabled]="btnDisable == true || dealStatus == 'Published' || dealStatus == 'Scheduled'" class="h-full mt-2 mr-2 text-xl font-bold text-gray-500 bg-gray-200 rounded-md w-14 hover:bg-blue-300 hover:text-gray-600" (click)="handleMinus()">-</button>
                    <input [disabled]="dealStatus == 'Published' || dealStatus == 'Scheduled'" [ngClass]="form.controls['voucherValidity'].disabled ? 'border-gray-500 text-gray-500': 'border-blue-500 text-black'" maxlength="3" placeholder="0" appNumbersOnly type="text" style="border-width: 1px;" class="w-3/12 mt-2 text-xs text-center rounded-md h-7 form-control" formControlName="voucherValidity" name="voucherValidity">
                    <button [disabled]="btnDisable == true || dealStatus == 'Published' || dealStatus == 'Scheduled'" class="h-full mt-2 ml-2 text-xl font-bold text-gray-500 bg-gray-200 rounded-md w-14 hover:bg-blue-300 hover:text-gray-600" (click)="handlePlus()">+</button>
                    <div class="flex flex-row w-full ml-2 tracking-wider lg:mt-2">
                      <span class="mt-1 ml-2 text-sm font-medium">days after purchase</span>
                    </div>
                  <!-- </div> -->
              </div>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Please specify validity period',
                control: form.controls['voucherValidity']
              }">
              </ng-container>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'min',
                message: 'Subdeal validity period should be at least 30 days',
                control: form.controls['voucherValidity']
              }">
              </ng-container>
             </div>
           </div>
        </div>
      </form>

      <!-- <form [ngClass]="(dealStatus == 'Published' || dealStatus == 'Scheduled') ? 'hidden': 'self-center form max-w-180 xl:mr-7 3xl:mr-8'" class="self-center form max-w-180 xl:mr-7 3xl:mr-8" [formGroup]="policyForm">
        <div class="pb-10 mt-10">
          <div class="flex flex-row justify-between w-full mb-3">
            <label class="form-label">Where can the customer redeem their voucher?</label>
            <ng-container *ngIf="editable == false">
              <button type="button" class="ml-12 text-xs font-medium edit-button hover:bg-blue-500 hover:text-white" (click)="enableEdit()">Edit</button>
            </ng-container>

            <ng-container *ngIf="editable == true">
              <button type="button" class="w-20 ml-12 text-xs text-gray-600 bg-gray-200 rounded-md h-9" (click)="discardLower()">Cancel</button>
              <button [ngClass]="policyForm.invalid ? 'opacity-60 cursor-not-allowed': 'opacity-100 cursor-pointer'" type="button" class="w-20 ml-2 text-xs text-white bg-blue-500 rounded-md h-9" (click)="editPolicyForm()" [disabled]="policyForm.invalid || disabled == true">Save</button>
            </ng-container>
          </div>

          <ng-container *ngIf="editable == false">
            <table class="datatable-table" style="display: block;">
              <tbody class="datatable-body" style="padding: 20px;">
                <tr data-row="0" class="datatable-row" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="1">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">Street Address</span>
                  </td>
                  <td data-field="OrderID" aria-label="64616-103" class="w-48 py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <span class="font-medium">{{policy?.streetAddress}}</span>
                  </td>
                  </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">Zip Code</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <span class="font-medium"
                      style="width: 108px;">{{policy?.zipCode}}</span>
                  </td>
                </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">City</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <span class="font-medium"
                      style="width: 108px;">{{policy?.city}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>

          <ng-container *ngIf="editable == true">
            <table class="datatable-table" style="display: block;">
              <tbody class="datatable-body" style="padding: 20px;">
                <tr data-row="0" class="datatable-row" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="1">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">Street Address</span>
                  </td>
                  <td data-field="OrderID" aria-label="64616-103" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <input class="p-2 text-sm border-gray-400 form-control" formControlName="streetAddress" maxlength="100">
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Street address is required',
                      control: policyForm.controls['streetAddress']
                    }">
                    </ng-container>
                  </td>
                  </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">Zip Code</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <input appNumbersOnly class="p-2 text-sm border-gray-400 form-control" formControlName="zipCode" maxlength="4">
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Zip code is required',
                      control: policyForm.controls['zipCode']
                    }">
                    </ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'minlength',
                      message: 'Zip code should be 4 characters',
                      control: policyForm.controls['zipCode']
                    }">
                    </ng-container>
                  </td>
                </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">City</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <input class="p-2 text-sm border-gray-400 form-control" formControlName="city" maxlength="45">
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'City is required',
                      control: policyForm.controls['city']
                    }">
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </form> -->
      <!--[ngClass]="(dealStatus == 'Published' || dealStatus == 'Scheduled') ? 'pt-14' : ''"-->
      <div class="flex justify-center pt-14 min-h-14 3xl:mr-0 2xl:h-20">
        <button [disabled]="disableBackButton || connection.isSaving.value == true" [ngClass]="(disableBackButton || connection.isSaving.value == true) ? 'opacity-50 cursor-not-allowed': 'opacity-100'" (click)="returnToPrevious()" class="mr-10 text-sm bg-gray-300 rounded-lg w-22 h-11 text-opacity-20" style="background-color: #9BB3C8; color: #5C6878;">Back</button>
        <button *ngIf="startedUpload == false" class="text-sm text-white rounded-lg h-11 ml-14" style="background-color: #55C987; width: 9.688rem;" (click)="sendDraftData()">
          <ng-container *ngIf="uploaded == false">
            <span class="text-sm indicator-progress" [style.display]="'block'">
              Saving...
              <span class="align-middle spinner-border spinner-border-sm ms-2"></span>
            </span>
          </ng-container>
          <ng-container *ngIf="uploaded == true">
            <span class="indicator-label">Save & Send</span>
          </ng-container>
        </button>
        <button *ngIf="startedUpload == true" [ngbTooltip]="'Please wait for images to upload...'" [container]="'body'" class="h-10 text-sm text-white rounded-lg opacity-50 cursor-not-allowed" style="background-color: #55C987; width: 9.688rem;">Save & Send</button>
      </div>
  </div>
</div>

<app-reusable-modal #modal [modalConfig]="modalConfig">
  <div class="relative modal-header">
    <img src="../../../../../assets/media/icons/tick_mark.svg" class="absolute w-12 h-12 left-56 -top-7">
  </div>
  <div class="p-6 text-center modal-body">
    <div class="flex flex-col">
      <span class="mb-8">Your deal has successfully been sent for review. We will process it within <strong>24hrs</strong>.</span>
      <div class="flex justify-center">
        <button (click)="closeModal()" class="px-12 py-2 text-white bg-gray-900 rounded-md">OK</button>
      </div>
    </div>
  </div>

</app-reusable-modal>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="text-xs fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #dateModal>
  <div class="relative border modal-content border-primary-500">
    <div class="absolute z-50 -top-3 -right-2">
      <button (click)="closeDateModal()" class="flex items-center justify-center rounded-full w-7 h-7" style="background-color: #D6D6DC; color: #707070; font-weight: 600;">&#x2715;</button>
    </div>
    <div class="relative p-12 bg-gray-200 card card-custom card-stretch">
      <full-calendar #fullCalendar [options]="calendarOptions" [deepChangeDetection]="true"></full-calendar>
    </div>
  </div>
</ng-template>

<app-media-progress></app-media-progress>

<!-- <span class="text-2xl">{{data.termsAndCondition}}</span> -->

<style>
  .button-calendar-opener {
    margin-left: 7.9rem;
  }

  @media(min-width:1280px) and (max-width: 1599px) {
    .button-calendar-opener {
      margin-left: 7.65rem;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  padding-left: 10px;
  background-image: url('../../../../../assets/media/logos/blue-cal.svg');
  filter: invert(0);
  cursor: pointer!important;
}

input::-webkit-datetime-edit {
  position: relative;
  left: 20px;
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 20px;
}

.edit-button {
  width: 78px;
  height: 36px;
  background-color: #EBF5FD;
  color: #0081E9;
  border-radius: 8px;
}

.fc-direction-ltr .fc-button-group>.fc-button:not(:first-child) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 4rem!important;
}

.fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 4rem!important;
}

.fc .fc-toolbar-title {
  margin-right: 2rem!important;
  font-weight: 500;
  font-size: 16px!important;
  color: #4E5970;
  margin-bottom: 1rem!important;
  }

.fc .fc-today-button {
  text-transform: capitalize!important;
  background: white!important;
  color: black!important;
  border: 1px solid white!important;
  padding-left: 30px!important;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  padding-right: 30px!important;
  font-size: 14px!important;
}

.fc .fc-prev-button {
  background: black!important;
  box-shadow: none!important;
}

.fc .fc-next-button {
  background: black!important;
  box-shadow: none!important;
}

.fc-daygrid-day .fc-day .fc-day-disabled {
  background-color: #F2F3F4!important;
}

.fc .fc-daygrid-day-frame {
  position: relative!important;
  min-height: 100%!important;
  background: white!important;
  cursor: pointer!important;
}

.date-large {
    max-width: 70rem!important;
    width: 70rem!important;
    height: 80%!important;
    position: absolute!important;
    top: 10%!important;
    margin-left: auto;
    margin-right: auto;
  }

@media(max-width: 1920px) {
  .date-large {
    max-width: 70rem!important;
    width: 70rem!important;
    height: 80%!important;
    position: absolute!important;
    top: 10%!important;
    left: 26.5%!important;
  }
}

@media(min-width: 1536px) and (max-width: 1600px){
  .date-large {
    max-width: 70rem!important;
    width: 70rem!important;
    height: 80%!important;
    position: absolute!important;
    top: 10%!important;
    left: 21%!important;
  }
}

@media(max-width: 1440px) {
  .date-large {
    max-width: 70rem!important;
    width: 70rem!important;
    height: 80%!important;
    position: absolute!important;
    top: 10%!important;
    left: 19%!important;
  }
}

@media(max-width: 1366px) {
  .date-large {
    max-width: 70rem!important;
    width: 70rem!important;
    height: 80%!important;
    position: absolute!important;
    top: 10%!important;
    left: 17.2%!important;
  }
}

@media(min-width: 1280px) and (max-width: 1365px) {
  .date-large {
    max-width: 65rem!important;
    width: 65rem!important;
    height: 80%!important;
    position: absolute!important;
    top: 10%!important;
    left: 18.2%!important;
  }
}

</style>







