<!--Title-->
<div class="mb-6 lg:text-center">
  <h1 class="mt-2 mb-3 text-center 3xl:text-3xl xl:mt-0 md:text-2xl">Let's get this crazy deal scheduled!</h1>
  <div class="font-thin text-center 3xl:text-xl text-primary-400 md:text-sm">And we're good to go!</div>
</div>
<!--Stepper with Calendar-->
<div class="flex justify-center adjust">
  <div class="w-3/4 p-2 shadow-sm lg:p-4 card card-custom card-stretch" style="border-top: 16px solid #F38B41;">
    <!-- <div class="rounded lg:p-8 card card-custom card-stretch bg-gray-50"> -->
      <div class="lg:p-4 card card-custom card-stretch secondAdjust">
        <button (click)="openNew()" class="absolute top-0 right-0 px-3 py-1 text-center text-white bg-green-400 rounded-sm xl:rounded-md xl:px-6 xl:py-2 3xl:px-10 3xl:py-3 lg:top-6 xl:top-6 3xl:top-6 lg:right-6 xl:right-7 3xl:right-7">
          <ng-container *ngIf="uploaded == false">
            <span class="indicator-progress" [style.display]="'block'">
              Please wait...
              <span class="align-middle spinner-border spinner-border-sm ms-2"></span>
            </span>
          </ng-container>
          <ng-container *ngIf="uploaded == true">
            <span class="indicator-label">Send</span>
          </ng-container>
        </button>
        <full-calendar class="calendar" [options]="calendarOptions"></full-calendar>
      </div>
    <!-- </div> -->
    <!-- <div class="h-full lg:p-2 card card-custom card-stretch">
      <div class="flex items-center justify-evenly lg:flex-row">
        <i class="text-yellow-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-sm md:mr-7 abc">In-Review</span></i>
        <i class="text-red-500 lg:mr-4 fas fa-circle"> <span class="ml-1 text-xs font-thin text-gray-700 lg:ml-2 lg:text-sm abc">Needs Attention</span></i>
        <i class="text-green-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-sm md:mr-7 abc">Scheduled</span></i>
        <i class="text-blue-500 lg:mr-4 fas fa-circle"> <span class="ml-1 mr-2 text-xs font-thin text-gray-700 lg:ml-2 lg:text-sm md:mr-7 abc">Published</span></i>
      </div>
    </div> -->
  </div>
</div>

<app-reusable-modal #modal [modalConfig]="modalConfig">
  <div class="modal-header">
    <img src="../../../../../assets/media/icons/tick_mark.svg" class="absolute w-12 h-12 left-56 -top-7">
  </div>
  <div class="p-6 text-center modal-body">
    <div class="flex flex-col">
      <span class="mb-8">Your deal has successfully been sent for review. We will process this within <strong>24hrs</strong>.</span>
      <div class="flex justify-center">
        <button [routerLink]="['/crafted/pages/wizards/view-deal']" (click)="closeModal()" class="px-12 py-2 text-white bg-gray-900 rounded-md">OK</button>
      </div>
    </div>
  </div>

</app-reusable-modal>

<style>
 ::ng-deep .fc .fc-toolbar-title {
    margin-right: 60px!important;
    font-weight: 500;
    font-size: 19px!important;
    color: #4E5970;
  }

::ng-deep .fc .fc-today-button {
    text-transform: capitalize!important;
    background: rgba(245, 240, 240, 0.884)!important;
    color: black!important;
    border: 1px solid white!important;
}

::ng-deep .fc .fc-prev-button {
  background: black!important;
}

::ng-deep .fc .fc-next-button {
  background: black!important;
}

span {
  font-family: Arial, Helvetica, sans-serif
}

@media (max-width: 1280px) {
  .adjust {
    height: 440px;
 }

 .secondAdjust {
    height: 400px;
 }
}

</style>
