<div class="flex flex-col w-full h-auto gap-2 mt-9 md:flex-row">
  <div class="flex justify-center w-full p-6 shadow-sm md:overflow-y-auto card card-custom">
      <!--title-->
      <form class="self-center form max-w-135" [formGroup]="form">
        <div class="mb-9 lg:text-center">
          <h1 class="mt-1 mb-2.5 text-lg text-center md:text-xl xl:text-2xxl xl:font-semibold 2xl:text-3xl 3xl:text-4xl">Almost there.</h1>
          <div style="color: #0081E9;" class="text-xs font-medium text-center md:text-sm xl:text-base 3xl:text-lg">Let's finish off with the last details.</div>
        </div>
        <!--form-->
        <div class="flex flex-col justify-center align-start">
          <label class="mb-6 mr-2.5 form-label">When can the customer redeem their voucher?</label>
            <div class="flex flex-row justify-center w-full align-middle">

              <label class="mb-6 text-sm md:text-base form-check form-check-solid">
                <input
                class="w-4 h-4 mt-1 rounded-full form-check-input"
                style="border: 1px solid black;"
                type="checkbox"
                (click)="selectCheckBox(check_box_type.ONE); disableCheckBox();"
                [checked]="currentlyChecked === check_box_type.ONE"
                >
              </label>

              <div class="flex flex-col justify-start align-top xl:mr-28 xl:pr-2">
                <div class="flex flex-row">
                  <span class="text-sm mt-0.5 font-medium form-check-label">Start Date</span> &nbsp;<span class="text-black">*</span>
                </div>
                <div class="w-auto mt-2 mb-3 input-icon lg:w-96">
                  <span class="absolute flex items-center mt-2 ml-1"><i (click)="c.toggle()" class="p-2 ml-2 text-blue-600 rounded far fa-calendar-alt"></i></span>
                  <input
                    placeholder="dd-mm-yyyy"
                    [disabled]="currentlyChecked !== check_box_type.ONE"
                    (keydown)="disableManual($event)"
                    name="dp"
                    ngbDatepicker
                    #c="ngbDatepicker"
                    (click)="c.toggle()"
                    style="width: 20.983rem;"
                    class="pl-12 text-sm font-thin border-gray-400 cursor-pointer form-control"
                    formControlName="voucherStartDate"
                    name="voucherStartDate"
                    [container]="'body'"
                  >
                </div>

                <label class="w-auto mt-1 text-sm xl:mt-1 form-check form-check-solid md:text-base lg:w-96" style="padding-left: 0px;">
                  <span class="text-sm font-medium form-check-label">End Date</span>&nbsp;<span class="text-black">*</span>
                  <div class="flex-auto w-auto mt-2 input-icon lg:w-96">
                    <span class="absolute flex items-center mt-2 ml-1"><i #dPicker (click)="d.toggle(); openDatePicker()" class="p-2 ml-2 text-blue-600 rounded far fa-calendar-alt"></i></span>
                    <input
                    [disabled]="currentlyChecked !== check_box_type.ONE"
                    placeholder="dd-mm-yyyy"
                    [minDate]="form.controls['voucherStartDate'].value"
                    (keydown)="disableManual($event)"
                    name="dp"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    (click)="d.toggle()"
                    style="width: 20.983rem;"
                    class="pl-12 text-sm font-thin border-gray-400 cursor-pointer form-control"
                    formControlName="voucherEndDate"
                    name="voucherEndDate"
                    [container]="'body'"
                    >
                  </div>
                </label>
              </div>
            </div>

            <div class="flex flex-row justify-center w-full align-middle">
              <label class="text-sm mt-7 md:text-base form-check form-check-solid">
                <input
                class="w-4 h-4 mt-1 rounded-full form-check-input"
                type="checkbox"
                style="border: 1px solid black;"
                (click)="selectCheckBox(check_box_type.TWO); disableCheckBox();"
                [checked]="currentlyChecked === check_box_type.TWO || form.controls['voucherValidity']?.value"
                >
              </label>

              <span class="w-48 text-sm font-medium form-check-label" style="margin-top: 1.8rem;">Voucher is valid for</span>
              <div class="relative mt-4">
                <!-- <div class="flex flex-col w-full h-8 border-2 border-white rounded-sm md:flex-row"> -->
                  <div class="flex flex-row w-full">
                    <button [disabled]="btnDisable == true" class="h-full mt-2 mr-2 text-xl font-bold text-gray-500 bg-gray-200 rounded-md w-14 hover:bg-blue-300 hover:text-gray-600" (click)="handleMinus()">-</button>
                    <input [ngClass]="form.controls['voucherValidity'].disabled ? 'border-gray-500 text-gray-500': 'border-blue-500 text-black'" maxlength="3" placeholder="0" appNumbersOnly type="text" style="border-width: 1px;" class="w-3/12 mt-2 text-xs text-center rounded-md h-7 form-control" formControlName="voucherValidity" name="voucherValidity">
                    <button [disabled]="btnDisable == true" class="h-full mt-2 ml-2 text-xl font-bold text-gray-500 bg-gray-200 rounded-md w-14 hover:bg-blue-300 hover:text-gray-600" (click)="handlePlus()">+</button>
                    <div class="flex flex-row w-full ml-2 tracking-wider lg:mt-2">
                      <span class="mt-1 ml-2 text-sm font-medium">days after purchase</span>
                    </div>
                  <!-- </div> -->
              </div>
             </div>
           </div>
        </div>
      </form>

      <form class="self-center form max-w-180 xl:mr-7 3xl:mr-8" [formGroup]="policyForm">
        <div class="pb-10 mt-10">
          <div class="flex flex-row justify-between w-full mb-3">
            <label class="form-label">Where can the customer redeem their voucher?</label>
            <ng-container *ngIf="editable == false">
              <button type="button" class="ml-12 text-xs font-medium edit-button hover:bg-blue-500 hover:text-white" (click)="editable = true">Edit</button>
            </ng-container>

            <ng-container *ngIf="editable == true">
              <button type="button" class="w-20 ml-12 text-xs text-gray-600 bg-gray-200 rounded-md h-9" (click)="discardLower()">Cancel</button>
              <button [ngClass]="policyForm.invalid ? 'opacity-60 cursor-not-allowed': 'opacity-100 cursor-pointer'" type="button" class="w-20 ml-2 text-xs text-white bg-blue-500 rounded-md h-9" (click)="editPolicyForm()" [disabled]="policyForm.invalid || disabled == true">Save</button>
            </ng-container>
          </div>

          <ng-container *ngIf="editable == false">
            <table class="datatable-table" style="display: block;">
              <tbody class="datatable-body" style="padding: 20px;">
                <tr data-row="0" class="datatable-row" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="1">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">Street Address</span>
                  </td>
                  <td data-field="OrderID" aria-label="64616-103" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <span class="font-medium"
                      style="width: 108px;">{{policy.streetAddress}}
                    </span>
                  </td>
                  </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">Zip Code</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <span class="font-medium"
                      style="width: 108px;">{{policy.zipCode}}</span>
                  </td>
                </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">City</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <span class="font-medium"
                      style="width: 108px;">{{policy.city}}</span>
                  </td>
                </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">Province</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <span class="font-medium"
                      style="width: 108px;">{{policy.province}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>

          <ng-container *ngIf="editable == true">
            <table class="datatable-table" style="display: block;">
              <tbody class="datatable-body" style="padding: 20px;">
                <tr data-row="0" class="datatable-row" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="1">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">Street Address</span>
                  </td>
                  <td data-field="OrderID" aria-label="64616-103" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <input class="p-2 text-sm border-gray-400 form-control" formControlName="streetAddress" maxlength="100">
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Street address is required',
                      control: policyForm.controls['streetAddress']
                    }">
                    </ng-container>
                  </td>
                  </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">Zip Code</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <input class="p-2 text-sm border-gray-400 form-control" formControlName="zipCode" maxlength="4">
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Zip code is required',
                      control: policyForm.controls['zipCode']
                    }">
                    </ng-container>
                  </td>
                </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">City</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <input class="p-2 text-sm border-gray-400 form-control" formControlName="city" maxlength="45">
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'City is required',
                      control: policyForm.controls['city']
                    }">
                    </ng-container>
                  </td>
                </tr>
                <tr data-row="1" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="py-3 pr-12 datatable-cell-sorted datatable-cell-center datatable-cell" aria-label="2">
                    <span class="text-xs text-gray-400 md:text-sm"
                      style="width: 30px;">Province</span>
                  </td>
                  <td data-field="OrderID" aria-label="54868-3377" class="py-3 text-xs text-gray-700 datatable-cell md:text-sm">
                    <input class="p-2 text-sm border-gray-400 form-control" formControlName="province" maxlength="45">
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Province is required',
                      control: policyForm.controls['province']
                    }">
                    </ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'pattern',
                      message: 'Only alphabets are allowed',
                      control: policyForm.controls['province']
                    }">
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </form>

      <div class="flex justify-evenly min-h-14 3xl:mr-0 2xl:h-20">
        <button (click)="prevClick.emit('')" class="self-center w-24 h-10 text-xs text-gray-600 bg-gray-300 rounded-lg xl:mr-28 1.5xl:mr-12 2xl:mr-0 2xl:ml-6 2xl:h-12">Back</button>
        <button (click)="sendDraftData()" class="self-center w-32 h-10 text-xs text-white rounded-lg 2xl:h-12 bg-primary-400">Save & next</button>
      </div>
  </div>
</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="text-xs fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>

<!-- <span class="text-2xl">{{data.termsAndCondition}}</span> -->

<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  padding-left: 10px;
  background-image: url('../../../../../assets/media/icons/calendar.svg');
  filter: invert(0);
  cursor: pointer!important;
}

input::-webkit-datetime-edit {
  position: relative;
  left: 20px;
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 20px;
}

::ng-deep .ngb-dp-weekday {
  color: rgb(69, 87, 219)!important;
  font-family: Arial, Helvetica, sans-serif!important;
  font-style: normal!important;
}

.edit-button {
  width: 78px;
  height: 36px;
  background-color: #EBF5FD;
  color: #0081E9;
  border-radius: 8px;
}

</style>







