.dropdown-toggle::after {
  display: none;
}

.table-conatiner {
  width: 100%!important;
  overflow-x: scroll;
}

.KYC {
  @apply py-3 text-sm font-thin border-blue-400 bg-blue-500 text-white px-8;
}

input.form-control:focus {
  border-color: #7FC0F4;
}

.image-circle {
  top: 120px;
  left: 184px
}

@media (max-width: 360px) {
  .image-circle {
    top: 54px;
    left: 106px;
  }
}

@media (min-width: 390px) and (max-width: 400px) {
  .image-circle {
    top: 80px;
    left: 123px;
  }
}

@media (min-width: 401px) and (max-width: 430px) {
  .image-circle {
    top: 80px;
    left: 133px;
  }
}

@media (min-width: 430px) and (max-width: 460px) {
  .image-circle {
    top: 95px;
    left: 150px;
  }
}

@media (max-width: 600px) {

  .table-container {
      width: 100% !important;
      overflow-x: scroll;
  }

  th, td {min-width: 200px; }
}


.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

::ng-deep .ngb-dp-weekday {
  color: aqua!important;
  font-family: Arial, Helvetica, sans-serif!important;
  font-style: normal!important;
}

::ng-deep .form-select {
  margin-left: 2px;
}
