<div class="flex flex-row flex-wrap justify-between">
  <div class="mb-3 text-3xl font-semibold text-left lg:mb-0">My Invoices</div>
  <button (click)="openModal()" class="btn KYC">Complete Your KYC</button>
</div>


<div class="flex flex-col justify-center lg:flex-row lg:justify-between">
  <ng-container *ngIf="statsLoading == false">
    <app-pending-skeleton></app-pending-skeleton>
  </ng-container>

  <ng-container *ngIf="statsLoading == true">
    <div class="flex flex-col lg:flex-row justify-evenly">
      <div class="flex flex-col mt-4 mr-7">
        <span class="mb-4 text-lg text-gray-500 font-base">Total Earnings</span>
        <span class="text-5xl font-medium text-black">{{billingStats?.totalEarnings}}</span>
      </div>
      <div class="flex flex-row">
        <div class="h-20 py-1 pl-2 pr-12 mr-5 text-center bg-white lg:h-16 mt-9 w-38">
          <span class="mb-2 text-xs text-gray-500">Pending</span>
          <br>
          <span class="text-base text-yellow-500">{{billingStats?.pendingEarnings}}</span>
        </div>
        <div class="h-20 py-1 pl-2 pr-12 text-center bg-white lg:h-16 mt-9 w-38">
          <span class="mb-2 text-xs text-gray-500">Paid</span>
          <br>
          <span class="text-base text-green-500">{{billingStats?.paidEarnings}}</span>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="flex flex-row justify-start w-full ml-2 lg:items-end lg:justify-end mt-9 lg:mt-0">
    <div #myDrop="ngbDropdown" ngbDropdown display="dynamic" id="dropdownBasic1" class="m-2">
      <button class="hidden cursor-pointer xl:block xl:text-gray-500 xl:bg-gray-200 xl:rounded-md xl:px-6 xl:py-4 3xl:px-6 3xl:py-4" ngbDropdownToggle><i class="mr-3 far fa-calendar-alt"></i>Pick Date Range<i class="ml-3 fas fa-angle-down"></i></button>
      <button class="inline-flex px-2 py-2 text-gray-500 bg-gray-300 rounded-md cursor-pointer xl:hidden" ngbDropdownToggle><i class="far fa-calendar-alt"></i><i class="ml-3 fas fa-angle-down"></i></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <ngb-datepicker
          #dp
          (dateSelect)="onDateSelection($event)"
          [displayMonths]="1"
          [dayTemplate]="t"
          outsideDays="hidden"
          [footerTemplate]="footerTemplate">
        </ngb-datepicker>
      </div>
    </div>

    <div class="m-2">
      <button (click)="resetFilters()" class="hidden cursor-pointer xl:block xl:text-gray-500 xl:bg-gray-200 xl:rounded-md xl:px-6 xl:py-4 3xl:px-6 3xl:py-4"><i class="mr-3 fas fa-retweet"></i>Reset Filters</button>
      <button (click)="resetFilters()" class="inline-flex px-2 py-2 text-gray-500 bg-gray-300 rounded-md cursor-pointer xl:hidden"><i class="fas fa-retweet"></i></button>
    </div>
  </div>
</div>

<ng-container *ngIf="showData == false">
  <app-table-skeleton></app-table-skeleton>
</ng-container>

<ng-container *ngIf="showData == true">
  <div class="table-container">
    <table class="w-full mt-10 rounded-md shadow-md">
      <tr class="text-center text-black bg-gray-300 rounded-lg">
        <th class="p-4 font-semibold cursor-pointer">Invoice #</th>
        <th class="p-4 font-semibold cursor-pointer" (click)="filterByInvoiceDate('Descending')">Invoice Date&nbsp; <i class="fas fa-sort fa-xs"></i></th>
        <th class="p-4 font-semibold cursor-pointer" (click)="filterByInvoiceAmount('Descending')">Invoice Amount&nbsp; <i class="fas fa-sort fa-xs"></i></th>
        <div style="all: unset" ngbDropdown display="dynamic" id="dropdownBasic3">
          <th ngbDropdownToggle class="p-4 font-semibold cursor-pointer">Payment Status&nbsp; <i class="fas fa-chevron-down fa-xs"></i></th>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
            <ng-container *ngFor="let type of statusTypes">
              <button ngbDropdownItem (click)="filterByStatus(type.status)">
                {{type.status}}
              </button>
            </ng-container>
          </div>
        </div>
        <th class="p-4 font-semibold cursor-pointer">Action&nbsp;</th>
      </tr>
      <ng-container *ngFor="let data of billingsData?.data">
        <tr class="z-40 text-center text-gray-700 bg-white border-b-2 border-gray-200 rounded-lg">
          <td class="p-4 font-medium">{{data.invoiceNo}}</td>
          <td class="p-4 font-thin">{{data.invoiceDate | date}}</td>
          <td class="flex flex-col p-4 font-semibold">
            <span>{{data.invoiceAmount}}</span>
            <span class="text-sm text-gray-600 font-extralight">(Euro)</span>
          </td>
          <ng-container *ngIf="data.status == 'Paid'">
            <td class="p-4 font-thin">
              <span class="px-5 py-3 badge badge-success rounded-2xl opacity-80">{{data.status}}</span>
            </td>
          </ng-container>
          <ng-container *ngIf="data.status == 'Cancelled'">
            <td class="p-4 font-thin">
              <span class="px-5 py-3 badge badge-danger rounded-2xl opacity-80">{{data.status}}</span>
            </td>
          </ng-container>
          <ng-container *ngIf="data.status == 'Pending'">
            <td class="p-4 font-thin">
              <span class="px-5 py-3 badge badge-info rounded-2xl opacity-80">{{data.status}}</span>
            </td>
          </ng-container>
          <ng-container *ngIf="data.status == 'UnPaid'">
            <td class="p-4 font-thin">
              <span class="px-5 py-3 badge badge-warning rounded-2xl opacity-80">{{data.status}}</span>
            </td>
          </ng-container>
          <td class="p-4">
            <button class="px-4 py-2 text-sm bg-gray-200 rounded-md hover:bg-yellow-600 hover:text-white">View Invoice</button>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div class="flex justify-end pt-4">
    <ul class="pagination">
      <li class="page-item previous" [ngClass]="page < 2 ? 'disabled': ''"><button [disabled]="page < 2" (click)="previous()" class="page-link bg-white shadow-sm"><i class="previous"></i></button></li>
      <li class="page-item disabled"><a class="page-link">{{ page === 1 ? 1 : (page-1) * limit }}-{{ page * limit < billingsData?.totalCount ? (page * limit) : billingsData?.totalCount }}/{{billingsData?.totalCount}}</a></li>
      <li class="page-item next" [ngClass]="billingsData?.totalCount <= page * limit ? 'disabled': ''"><button [disabled]="billingsData?.totalCount <= page * limit" (click)="next()" class="page-link bg-white shadow-sm"><i class="next"></i></button></li>
    </ul>
  </div>
</ng-container>

<app-reusable-modal #modal [modalConfig]="modalConfig">
  <div class="relative">
    <img src="../../../assets/media/logos/bg.png" class="object-fill">
    <img src="../../../assets/media/logos/special.svg" class="absolute rounded-full shadow-md image-circle">
  </div>

  <div class="flex flex-col items-center justify-center p-6 mt-12">
    <div class="w-3/4 text-center">
      <span style="font-size: 14px;">Kindly provide your bank account IBAN number where you want to receive the payments</span>
      <br>
      <span style="font-size: 14px;" class="mb-8">Thanks!</span>
    </div>
  </div>
  <form [formGroup]="kycForm">
    <div class="flex flex-col items-center justify-center modal-body">
      <div class="w-3/4 mb-3 form-group">
        <label class="mb-3">Bank Name</label>
        <div class="input-group">
         <input formControlName="bankName" name="bankName" type="text" class="form-control"
         [ngClass]="{
          'is-invalid': f['bankName'].invalid && f['bankName'].touched,
          'is-valid': f['bankName'].valid}">
        </div>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Bank Name is required',
          control: kycForm.controls['bankName']
        }">
      </ng-container>
       </div>

       <div class="w-3/4 mb-3 form-group">
        <label class="mb-3">IBAN</label>
        <div class="input-group">
          <input formControlName="iban" name="iban" type="text" class="form-control"
          [ngClass]="{
            'is-invalid': f['iban'].invalid && f['iban'].touched,
            'is-valid': f['iban'].valid}">
         </div>
         <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'IBAN Number is required',
          control: kycForm.controls['iban']
        }">
      </ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'IBAN Number should at least be 15 characters',
          control: kycForm.controls['iban']
        }">
      </ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'IBAN Number cannot exceed 35 characters',
          control: kycForm.controls['iban']
        }">
      </ng-container>
       </div>
    </div>
  </form>

   <div class="flex mb-8 justify-evenly">
      <button (click)="closeModal()" class="px-10 py-2 text-yellow-600 bg-gray-100 rounded-md">Back</button>
      <button [disabled]="kycForm.invalid" (click)="completeKYC(); closeModal()" [ngClass]="kycForm.invalid? 'opacity-50': 'opacity-100'" class="px-10 py-2 text-white bg-gray-900 rounded-md">Save</button>
    </div>

</app-reusable-modal>

<!--Calendar TEMPLATE-->
<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>


<!--Calendar Footer TEMPLATE-->
<ng-template #footerTemplate>
  <hr class="my-0">
  <button class="m-2 btn btn-primary btn-sm float-start" [disabled]="!fromDate || !toDate" (click)="filterByDate(fromDate, toDate); myDrop.close()">Apply Filter</button>
  <button class="mt-2 btn btn-secondary btn-sm float-end" (click)="myDrop.close();">Close</button>
</ng-template>

<!--ERROR TEMPLATE-->
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="text-xs fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
