<div class="flex flex-col justify-center mt-4 xl:flex-row xl:justify-between">
  <ng-container *ngIf="statsLoading == false">
    <app-pending-skeleton></app-pending-skeleton>
  </ng-container>

  <ng-container *ngIf="statsLoading == true">
    <div class="flex flex-col lg:flex-row justify-evenly">
      <!-- <div class="flex flex-col mt-4 mr-7">
        <span class="mb-4 text-lg text-gray-500 font-base">Total Earnings</span>
        <span class="text-5xl font-medium text-black">{{billingStats?.totalEarnings}}</span>
      </div> -->
      <div class="flex flex-row states statistics">
        <div style="padding: 0.875rem;" class="w-40 h-20 mr-4 bg-white">
          <span class="mb-1.5 text-sm font-medium">Total earnings</span>
          <br>
          <span class="text-base font-semibold text-xxl" style="color: #0FB947;">{{billingStats?.paidEarnings}} &euro;</span>
        </div>
        <div style="padding: 0.875rem;" class="w-40 h-20 mr-4 bg-white">
          <span class="mb-1.5 text-sm font-medium">Total paid</span>
          <br>
          <span class="text-base font-semibold text-xxl text-primary-400">{{billingStats?.paidEarnings}} &euro;</span>
        </div>
        <div style="padding: 0.875rem;" class="w-40 h-20 bg-white">
          <span class="mb-1.5 text-sm font-medium">Total in process</span>
          <br>
          <span class="text-base font-semibold text-xxl" style="color: #F2CD2D;">{{billingStats?.pendingEarnings}} &euro;</span>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="flex flex-row justify-start w-full gap-3 ml-2 lg:items-end lg:justify-end mt-9 lg:mt-0"><div class="">
      <button
        [ngClass]="!appliedFilter && !dateAppliedFilter ? 'hidden': 'text-sm font-medium cursor-pointer reset-button text-primary-400 xl:rounded-md'"
        (click)="resetFilters()">
        Reset filters
      </button>
      <!-- <button (click)="resetFilters()" class="inline-flex px-2 py-2 text-blue-400 bg-blue-100 rounded-md cursor-pointer xl:hidden"><i class="text-blue-400 fas fa-retweet"></i></button> -->
    </div>
    <div class="">
      <button (click)="openModal()" class="w-40 px-4 pt-2.5 text-sm cursor-pointer btn KYC reset-button xl:rounded-md bg-primary-400" style="color:#EEEEEE">Complete your KYC</button>
    </div>
  </div>
</div>

<ng-container *ngIf="showData == false">
  <app-table-skeleton></app-table-skeleton>
</ng-container>

<ng-container *ngIf="showData == true">
  <div class="px-12 mt-4 table-container" style="background: #FFFFFF 0% 0% no-repeat padding-box; border-radius: 7px 7px 0px 0px;">
    <div class="w-full">
      <thead class="flex items-center text-left text-black bg-white rounded-lg h-14">
        <th class="w-full pt-1 pr-4 font-semibold cursor-pointer xl:w-1/4 2xl:max-w-unset max-w-68">Invoice ID&nbsp;
          <app-filters
            (sendFilter)="filterSelectedInvoiceByID($event)"
            (searchItem)="filterByInvoiceID($event)"
            [options]="true"
            [search]="true"
            [searchBy]="'invoice ID'"
            [optionsList]="filteredInvoiceIDSearch"
            (filterApplied)="isFilterApplied($event)"
            [isFilterApplied]="appliedFilter">
          </app-filters>
        </th>
        <th class="w-full pr-4 font-semibold cursor-pointer xl:w-1/4 2xl:max-w-unset max-w-68">
          <div class="flex">
            <div>
              Invoice date
            </div>
            <div #myDrop="ngbDropdown" ngbDropdown display="dynamic" id="dropdownBasic1" class="z-50 ml-2">
              <button class="cursor-pointer" ngbDropdownToggle>
                <i class="p-1 fas fa-filter" [style.background]='myDrop.isOpen() ? "#CCE6FB":"#F5F8FA"'
                  [style.color]='(myDrop.isOpen() || dateAppliedFilter) ? "#0081E9":"#7E8299"'
                  [style.border]='dateAppliedFilter ? "1px solid #E2EDFE": ""'
                  style="font-size: 10px !important;"
                  [class.active]="myDrop.isOpen()"></i>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="p-0">
                <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t"
                  outsideDays="hidden" [footerTemplate]="footerTemplate" [minDate]="today">
                </ngb-datepicker>
              </div>
              <!--Calendar Footer TEMPLATE-->
              <ng-template #footerTemplate>
                <div class="w-full p-3 h-14">
                  <div class="flex justify-between gap-3">
                    <button class="text-sm apply" type="submit" (click)="filterByDate(fromDate, toDate); myDrop.close()" [disabled]="fromDate == ''" [ngClass]="fromDate == '' ? 'opacity-50': 'opacity-100'">
                      <i style="color: white; font-size: 10px;" class="fas fa-filter"></i> Filter
                    </button>
                    <button type="button" class="text-gray-600 clear" (click)="clear()" [disabled]="fromDate == ''" [ngClass]="fromDate == '' ? 'opacity-60': 'opacity-100'">
                      Clear
                    </button>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </th>
        <th class="font-semibold text-right cursor-pointer xl:w-1/4 xl:max-w-unset min-w-36">Invoice amount</th>
        <th class="w-full pr-12 ml-auto font-semibold text-right cursor-pointer xl:w-1/4 xl:max-w-unset max-w-72">Actions&nbsp;</th>
      </thead>
      <ng-container *ngFor="let data of billingsData?.data">
        <tr class="z-40 flex items-center h-16 text-left text-gray-700 bg-white border-b-2 border-gray-200 border-dotted">
          <td class="w-full pr-4 xl:w-1/4 xl:max-w-unset max-w-68">{{(data.invoiceID?.length > 30 )? ((data.invoiceID) | slice:0:30)+'...':(data.invoiceID)}}</td>
          <td class="w-full pr-4 xl:w-1/4 xl:max-w-unset max-w-68">{{data.invoiceDate | date:"dd-MM-YYYY"}}</td>
          <td class="text-right xl:w-1/4 xl:max-w-unset min-w-36 "><span>{{data.invoiceAmount}} &euro;</span></td>
          <td class="w-full pr-4 ml-auto text-right xl:w-1/4 xl:max-w-unset max-w-72">
            <div class="flex gap-1.5 justify-end">
              <button class="icon-btn" ><img src="/assets/media/icons/eye.svg" alt=""></button>
              <button class="icon-btn" ><img src="/assets/media/icons/download.svg" alt=""></button>
              <button class="icon-btn" ><img src="/assets/media/icons/print.svg" alt=""></button>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="billingsData?.data.length == 0">
        <div class="w-full text-center mt-28">
          <h3 class="font-semibold text-gray-700">No Record Found</h3>
          <p class="text-gray-600">It seems we can't find any results.</p>
        </div>
      </ng-container>
    </div>
    <div class="flex justify-end w-full pb-4 pt-11">
      <ngb-pagination
          [(page)]="page"
          [pageSize]="limit"
          [collectionSize]="billingsData?.totalCount"
          [maxSize]="5" [boundaryLinks]="false" (pageChange)="next()">
        </ngb-pagination>
    </div>
  </div>
</ng-container>

<app-reusable-modal #modal [modalConfig]="modalConfig" [cssClass]="'kyc-modal'">
  <div class="relative flex items-end justify-center" style="height: 218px;">
    <img src="../../../assets/media/logos/bg.png" class="absolute top-0 object-fill w-full" style="height: 156px;">
    <img src="../../../assets/media/logos/special.svg" class="absolute rounded-full shadow-md">
  </div>

  <div class="flex flex-col items-center justify-center pt-4">
    <div class="h-16 text-center w-80">
      <span style="font-size: 14px; line-height: 21px; color: #313131;">Kindly provide your bank account IBAN number where you want to receive the payments. Thanks!</span>
    </div>
  </div>
  <form [formGroup]="kycForm">
    <div class="flex flex-col items-center justify-center py-2 modal-body kyc-form">
      <div class="w-84 h-22">
        <label class="form-label">IBAN</label>
          <input maxlength="35" formControlName="iban" name="iban" type="text" class="form-control"
          [ngClass]="{
            'is-invalid': f['iban'].invalid && f['iban'].touched,
            'is-valid': f['iban'].valid}">
         <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'IBAN number is required',
          control: kycForm.controls['iban']
        }">
      </ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'IBAN number should at least be 15 characters',
          control: kycForm.controls['iban']
        }">
      </ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'IBAN number cannot exceed 35 characters',
          control: kycForm.controls['iban']
        }">
      </ng-container>
       </div>
       <div class="w-84 h-22 fv-row">
        <label class="form-label">Account holder</label>
         <input formControlName="accountHolder" name="accountHolder" type="text" class="form-control"
         [ngClass]="{
          'is-invalid': f['accountHolder'].invalid && f['accountHolder'].touched,
          'is-valid': f['accountHolder'].valid}">
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Account holder is required',
          control: kycForm.controls['accountHolder']
        }">
      </ng-container>
       </div>
       <div class="w-84 h-22 fv-row">
        <label class="form-label">Bank name</label>
         <input formControlName="bankName" name="bankName" type="text" class="form-control"
         [ngClass]="{
          'is-invalid': f['bankName'].invalid && f['bankName'].touched,
          'is-valid': f['bankName'].valid}">

        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Bank name is required',
          control: kycForm.controls['bankName']
        }">
      </ng-container>
       </div>

       <!-- <div class="w-3/4 mb-3 form-group">
        <label class="mb-3">VAT Number</label>
        <div class="input-group">
         <input maxlength="15" formControlName="vatNumber" name="vatNumber" type="text" class="form-control"
         [ngClass]="{
          'is-invalid': f['vatNumber'].invalid && f['vatNumber'].touched,
          'is-valid': f['vatNumber'].valid}">
        </div>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'VAT Number is required',
          control: kycForm.controls['vatNumber']
        }">
      </ng-container>
       </div> -->
    </div>
  </form>

   <div class="w-full px-7">
     <div class="flex justify-between w-3/4 mx-auto mb-4">
       <button (click)="closeModal()" style="color: #9bb3c8f2;background-color: #F2F3F4;" class="w-24 h-10 rounded-md">Back</button>
       <button [disabled]="kycForm.invalid" (click)="completeKYC(); closeModal()" [ngClass]="kycForm.invalid? 'opacity-50': 'opacity-100'" class="w-24 h-10 text-white rounded-md bg-primary-400">Save</button>
      </div>
    </div>

</app-reusable-modal>



<!--Calendar TEMPLATE-->
<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>




<!--ERROR TEMPLATE-->
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="w-full fv-plugins-message-container text-xxs 2xl:text-xs">
      <span  class="fv-help-block text-xxs 2xl:text-xs 2xl:mb-2" role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
