<app-test></app-test>

<div class="card">
  <span class="main-header">Security</span>
  <span class="secondary">Password</span>
  <div class="flex justify-center mt-7">
    <img class="my-img" src="../../../assets/media/logos/Line-dash.svg">
  </div>

  <table class="datatable-table">
    <tbody class="w-full datatable-body form-group" [formGroup]="passForm">
      <tr>
        <td class="pb-4">
          <span class="spanner">Old password</span>
        </td>
        <td class="pb-4">
          <div class="input-group-prepend">
            <span class="absolute flex items-center mt-3 ml-64 cursor-pointer" (click)="passwordShowHide()"><i [ngClass]="passwordHide ? 'far fa-eye': 'far fa-eye-slash'" class="p-1 ml-2 text-gray-600 bg-white rounded far fa-eye fa-xs"></i></span>
            <input
              type="{{passwordHide ? 'password' : 'text'}}"
              class="pr-14 form-control"
              formControlName="oldPass">
           </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Old password is required',
            control: passForm.controls['oldPass']
          }">
          </ng-container>
        </td>
      </tr>
      <tr>
        <td class="pb-4">
          <span class="spanner">New password</span>
        </td>
        <td class="pb-4">
          <div class="flex flex-row input-group-prepend">
            <span class="absolute flex items-center mt-3 ml-64 cursor-pointer" (click)="passwordShowHide()"><i [ngClass]="passwordHide ? 'far fa-eye': 'far fa-eye-slash'" class="p-1 ml-2 text-gray-600 bg-white rounded far fa-eye fa-xs"></i></span>
            <input
              type="{{passwordHide ? 'password' : 'text'}}"
              class="pr-14 form-control"
              formControlName="password"
              [ngbPopover]="popContent"
              [popoverTitle]="popTitle"
              placement="bottom-end"
              triggers="manual"
              #popover="ngbPopover"
              (click)="openPopover(popover)"
              (keyup)="closePopover(passForm.controls['password'].valid, popover)">
              <ng-template #popTitle>
                <div class="">Password should include:</div>
              </ng-template>
              <ng-template #popContent>
                <div class="flex flex-col justify-evenly">
                  <div [ngClass]="passForm.controls['password']?.hasError('required') || passForm.controls['password']?.hasError('minlength')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="passForm.controls['password']?.hasError('required') || passForm.controls['password']?.hasError('minlength')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. 8 characters</div>
                  <div [ngClass]="passForm.controls['password']?.hasError('required') || passForm.controls['password']?.hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="passForm.controls['password']?.hasError('required') || passForm.controls['password']?.hasError('hasCapitalCase')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one uppercase</div>
                  <div [ngClass]="passForm.controls['password']?.hasError('required') || passForm.controls['password']?.hasError('hasSmallCase')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="passForm.controls['password']?.hasError('required') || passForm.controls['password']?.hasError('hasSmallCase')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one lowercase</div>
                  <div [ngClass]="passForm.controls['password']?.hasError('required') || passForm.controls['password']?.hasError('hasNumber')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="passForm.controls['password']?.hasError('required') || passForm.controls['password']?.hasError('hasNumber')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one numeric</div>
                  <div [ngClass]="passForm.controls['password']?.hasError('required') || passForm.controls['password']?.hasError('hasSpecialCharacters')  ? 'text-danger' : 'text-success'" class="text-left"><i class="pr-2" [ngClass]="passForm.controls['password']?.hasError('required') || passForm.controls['password']?.hasError('hasSpecialCharacters')  ? 'far fa-times-circle fa-sm text-danger' : 'far fa-check-circle fa-sm text-success'"></i>min. one special character (@,*,#,$,%,&)</div>
                </div>
                <div *ngIf="passForm.controls['password']?.valid" class="mt-2 text-sm text-left text-success">Password is valid</div>
              </ng-template>
              <div class="text-xs text-danger"
                *ngIf="passForm.controls['password']?.errors?.['confirmedValidator']">
                The Passwords do not match
              </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="pb-4">
          <span class="spanner">Confirm new password</span>
        </td>
        <td class="pb-4">
          <div class="flex flex-row input-group-prepend">
            <span class="absolute flex items-center mt-3 ml-64 cursor-pointer" (click)="passwordShowHide()"><i [ngClass]="passwordHide ? 'far fa-eye': 'far fa-eye-slash'" class="p-1 ml-2 text-gray-600 bg-white rounded far fa-eye fa-xs"></i></span>
            <input
              type="{{passwordHide ? 'password' : 'text'}}"
              class="form-control"
              formControlName="confirmPass">
           </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Confirm your password',
            control: passForm.controls['confirmPass']
          }">
          </ng-container>
          <div class="text-xs text-danger"
            *ngIf="passForm.controls['confirmPass']?.errors?.['confirmedValidator']">
            The Passwords do not match
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="flex justify-end">
    <button type="submit" class="edit-button" [ngClass]="passForm.invalid ? 'opacity-60 cursor-not-allowed': 'opacity-100 cursor-pointer'" [disabled]="passForm.invalid" (click)="submitPassword()">
      <ng-container *ngIf="!(isLoading$ | async); else Loading">Reset</ng-container>
    </button>
  </div>

  <span class="secondary">Voucher pincode</span>
  <div class="flex justify-center mt-5">
    <img class="my-img" src="../../../assets/media/logos/Line-dash.svg">
  </div>

  <table class="pb-3 datatable-table" [formGroup]="pinCodeForm">
    <tbody class="w-full datatable-body form-group">
      <tr>
        <td class="pb-4">
          <span class="spanner">Voucher pincode</span>
        </td>
        <td class="pb-4 pl-11">
          <div class="flex justify-start input-group-prepend">
            <span class="absolute flex items-center mt-3 ml-64 cursor-pointer" (click)="showPin()"><i [ngClass]="pinHide ? 'far fa-eye': 'far fa-eye-slash'" class="p-1 ml-2 text-gray-600 bg-gray-200 rounded far fa-eye fa-xs"></i></span>
            <input
              appNumbersOnly
              maxlength="4"
              formControlName="voucherPinCode"
              class="form-control pr-14"
              type="{{pinHide ? 'password' : 'text'}}"
              [value]="user.voucherPinCode">
           </div>
           <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Pin code should be 4 digits',
            control: pinCodeForm.controls['voucherPinCode']
          }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Pin code is required',
            control: pinCodeForm.controls['voucherPinCode']
          }">
          </ng-container>
        </td>
        <div *ngIf="editPin == true" class="flex px-8 justify-evenly">
          <button style="background-color: #EBF5FD; color: #0081E9;" (click)="editPinCode()" type="button" class="text-sm rounded-md w-18 h-9">Edit</button>
        </div>
        <div *ngIf="editPin == false" class="flex px-8 justify-evenly">
          <button (click)="discard()" type="button" class="text-sm text-white bg-gray-400 rounded-md w-18 h-9">Discard</button>
          <button [disabled]="pinCodeForm.invalid" [ngClass]="pinCodeForm.invalid ? 'bg-blue-300 cursor-not-allowed': 'bg-blue-500 cursor-pointer'" (click)="savePinCode()" type="submit" class="text-sm text-white rounded-md w-18 h-9">Save</button>
        </div>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="ml-2 text-xs fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #Loading>
  <span class="text-xs" [style.display]="'block'">
    Saving {{ " " }}
    <span
      class="align-middle spinner-border spinner-border-sm ms-1">
    </span>
  </span>
</ng-template>

