.card {
  max-width: 947px;
  max-height: 614px;
  // height: 600px;
  border-radius: 7px;
  box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);
  margin-right: 90px;
  margin-left: 90px;
}

.main-header {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  padding-top: 26px;
}

.secondary {
  text-align: left;
  font-size: 16px;
  color: #191919;
  margin-left: 80px;
  margin-top: 18px;
  font-weight: 400;
}

.my-img {
  width: 847px;
}

.datatable-table {
  margin-left: 94px;
  margin-top: 40px;
}

.spanner {
  font-size: 14px;
  color: #728A9F;
}

.naming {
  font-size: 14px;
}

.form-control {
  width: 305px;
  height: 40px;
  border-color: #dbe4eb;
  font-size: 14px;
}

.edit-button {
  width: 78px;
  height: 36px;
  background-color: #EBF5FD;
  color: #0081E9;
  margin-top: 10px;
  border-radius: 8px;
  margin-right: 246px;
}


@media(max-width: 1366px) {
  .card {
    max-width: 947px;
    max-height: 614px;
    border-radius: 7px;
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);
    margin-right: 90px;
    margin-left: 90px;
  }

  .main-header {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    padding-top: 26px;
  }

  .secondary {
    text-align: left;
    font-size: 16px;
    color: #191919;
    margin-left: 80px;
    margin-top: 18px;
    font-weight: 400;
  }

  .my-img {
    width: 847px;
  }

  .datatable-table {
    margin-left: 94px;
    margin-top: 40px;
  }

  .spanner {
    font-size: 14px;
    color: #728A9F;
  }

  .naming {
    font-size: 14px;
  }

  .form-control {
    width: 305px;
    height: 40px;
    border-color: #dbe4eb;
    font-size: 14px;
  }

  .edit-button {
    width: 78px;
    height: 36px;
    background-color: #EBF5FD;
    color: #0081E9;
    margin-top: 10px;
    border-radius: 8px;
    margin-right: 200px;
  }
}
