<div
  [ngClass]="headerContainerCssClasses"
  class="h-full d-flex align-items-stretch justify-content-between"
>
  <!-- begin::Aside mobile toggle -->
  <ng-container *ngIf="asideDisplay">
    <div
      class="d-flex align-items-center d-lg-none ms-n3 me-1"
      title="Show aside menu"
    >
      <div
        class=" btn btn-icon btn-active-light-primary w-10px h-10px w-md-40px h-md-40px"
        id="kt_aside_mobile_toggle"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/abstract/abs015.svg'"
          class="svg-icon svg-icon-1"
        ></span>
      </div>
    </div>
  </ng-container>
  <!-- end::Aside mobile toggle -->

  <!-- begin::Logo -->
  <!-- end::Logo -->

  <!-- begin::Wrapper -->
  <div
    class="self-center w-full d-flex align-items-stretch justify-content-between flex-lg-grow-1"
  >
  <ng-container *ngIf="conn.isSaving | async">
    <div class="relative flex flex-row self-center gap-3 ml-3 text-gray-600">
      <img class="absolute top-2 right-20" src="/assets/media/icons/db.svg">
      <img src="/assets/media/icons/rotate.svg" class="animate-spin">
      Saving...
    </div>
  </ng-container>
  <ng-container *ngIf="!(conn.isSaving | async)">
    <div #access class="relative flex flex-row self-center gap-3 ml-3 text-gray-600">
      <img class="absolute top-2" src="../../../../../assets//media/icons/feather-check.svg" style="right: 3.938rem;">
      <img src="/assets/media/icons/rotate.svg" class="animate-spin">
      Saved
    </div>
  </ng-container>
    <ng-container *ngIf="headerLeft === 'menu'">
      <div class="d-flex align-items-stretch" id="kt_header_nav">
        <div
          class="header-menu align-items-stretch"
          data-kt-drawer="true"
          data-kt-drawer-name="header-menu"
          data-kt-drawer-activate="{default: true, lg: false}"
          data-kt-drawer-overlay="true"
          data-kt-drawer-width="{default:'300px', '300px': '250px'}"
          data-kt-drawer-direction="end"
          data-kt-drawer-toggle="#kt_header_menu_mobile_toggle"
          data-kt-swapper="true"
          data-kt-swapper-mode="prepend"
          data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav'}"
        >
          <app-header-menu
            class="my-5 menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-lg-0 align-items-stretch"
            id="#kt_header_menu"
            data-kt-menu="true"
          ></app-header-menu>
        </div>
      </div>
    </ng-container>
    <!-- begin::Navbar -->

    <ng-container *ngIf="headerLeft === 'page-title'">
      <div class="d-flex align-items-center" id="kt_header_nav">
        <app-page-title
          #ktPageTitle
          class="page-title d-flex"
          [ngClass]="pageTitleCssClasses"
        ></app-page-title>
      </div>
    </ng-container>

    <div class="flex-shrink-0 d-flex align-items-stretch">
      <app-topbar class="flex-shrink-0 d-flex align-items-stretch"></app-topbar>
    </div>
  </div>
  <!-- end::Wrapper -->
</div>
