<div class="flex justify-center pt-8 pb-10">
  <div class="relative mr-28">
    <div class="relative z-50 flex flex-col items-center justify-center w-5 h-5 text-white align-middle rounded-full text-xxs bg-primary-500">
      <span class="font-semibold" [ngClass]="conn.currentStep$.value > 1 ? 'fas fa-check' : 'show-number'"></span>
      <div class="class-name"></div>
    </div>
    <span style="color: #414950;" class="absolute inline-block text-xs whitespace-nowrap mt-1.5 -right-3">Set Deal</span>
  </div>

  <div class="relative mr-28">
    <div class="relative z-50 flex flex-col items-center justify-center w-5 h-5 text-white align-middle rounded-full text-xxs bg-primary-500">
      <span class="font-semibold" [ngClass]="conn.currentStep$.value > 2 ? 'fas fa-check' : 'show-number2'"></span>
      <div class="class-name"></div>
    </div>
    <span style="color: #414950;" class="absolute inline-block text-xs whitespace-nowrap mt-1.5 -right-9">Create Voucher</span>
  </div>

  <div class="relative mr-28">
    <div class="relative z-50 flex flex-col items-center justify-center w-5 h-5 text-white align-middle rounded-full text-xxs bg-primary-500">
      <span class="font-semibold" [ngClass]="conn.currentStep$.value > 3 ? 'fas fa-check' : 'show-number3'"></span>
      <div class="class-name"></div>
    </div>
    <span style="color: #414950;" class="absolute inline-block text-xs whitespace-nowrap mt-1.5 -right-3">Details</span>
  </div>

  <div class="relative ml-2.5">
    <div class="z-50 flex flex-col items-center justify-center w-5 h-5 text-white align-middle rounded-full text-xxs bg-primary-500">
      <span class="font-semibold" [ngClass]="conn.currentStep$.value > 4 ? 'fas fa-check z-50' : 'show-number4'"></span>
    </div>
    <span style="color: #414950;" class="absolute inline-block text-xs whitespace-nowrap mt-1.5 -right-3.5">Schedule</span>
  </div>

</div>

<style>
  .class-name:after {
    content: " ";
    display: inline-block;
    width: 122px;
    border-bottom: 1.5px solid #93C8F3;
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
  }

  .show-number:after {
    content: "1";
    display: block;
  }

  .show-number2:after {
    content: "2";
    display: block;
  }

  .show-number3:after {
    content: "3";
    display: block;
  }

  .show-number4:after {
    content: "4";
    display: block;
  }
</style>
